{% extends 'base.html.twig' %}

{% block title %}SchoolTime{% endblock %}

{% block body %}
    <h1>SchoolTime</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ school_time.id }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ school_time.beginAt ? school_time.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ school_time.endAt ? school_time.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ school_time.day ? school_time.day|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('school_time_index') }}">back to list</a>

    <a href="{{ path('school_time_edit', {'id': school_time.id}) }}">edit</a>

    {{ include('school_time/_delete_form.html.twig') }}
{% endblock %}
