{% extends 'base.html.twig' %}

{% block title %}New InstrumentGrade{% endblock %}

{% block body %}
    <h1>Create new InstrumentGrade</h1>

    {{ include('instrument_grade/_form.html.twig') }}

    <a href="{{ path('instrument_grade_index') }}">back to list</a>
{% endblock %}
