{% extends 'base.html.twig' %}

{% block title %}InstrumentGrade{% endblock %}

{% block body %}
    <h1>InstrumentGrade</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instrument_grade.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ instrument_grade.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('instrument_grade_index') }}">back to list</a>

    <a href="{{ path('instrument_grade_edit', {'id': instrument_grade.id}) }}">edit</a>

    {{ include('instrument_grade/_delete_form.html.twig') }}
{% endblock %}
