<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Log in | Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Log in to Cheza music school portal" name="description" />
        <meta content="Maestrojosiah" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{asset('adm/assets/images/favicon.ico')}}">

        <!-- Bootstrap Css -->
        <link href="{{asset('adm/assets/css/bootstrap.min.css') }}" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{asset('adm/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{asset('adm/assets/css/app.min.css') }}" id="app-stylesheet" rel="stylesheet" type="text/css" />

    </head>


    <body class="authentication-bg">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="text-center">
                            <a href="{{path('default')}}" class="logo">
                                <img src="{{asset('adm/assets/images/cheza_logo.png')}}" alt="" height="22" class="logo-light mx-auto">
                               <img src="{{asset('adm/assets/images/cheza_logo.png')}}" alt="" height="22" class="logo-dark mx-auto">
                            </a>
                            <p class="text-muted mt-2 mb-4">Sign in to your portal</p>
                        </div>
                        <div class="card">

                            <div class="card-body p-4">
                                
                                <div class="text-center mb-4">
                                    <h4 class="text-uppercase mt-0">Sign In</h4>
                                </div>

                                <form method="post">

                                    <div class="form-group mb-3">
                                        <label for="login">Email address</label>
                                        <input value="{{ last_username }}" name="email" class="form-control" type="email" id="login" required="" placeholder="Enter your email">
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password" name="password" required="" id="password" placeholder="Enter your password">
                                    </div>

                                    <div class="form-group mb-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="_remember_me" class="custom-control-input" id="checkbox-signin" checked>
                                            <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                        </div>
                                    </div>

                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary btn-block" type="submit"> Log In </button>
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >            

                                </form>

                            </div> <!-- end card-body -->
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                    <a class="underlineHover" href="{{path('app_forgot_password_request')}}">Forgot Password?</a> |
                                    <a class="underlineHover" href="{{path('app_register', {'usertype': 'teacher'})}}">Teacher sign up</a> |
                                    <a class="underlineHover" href="{{path('app_register', {'usertype': 'student'})}}">Student sign up</a> |
                                    <a class="underlineHover" href="{{path('app_register', {'usertype': 'admin'})}}">Admin</a> 
                                    <br /><a class="underlineHover" href="{{path('default')}}">Back to homepage</a> 
                                </div> <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end card -->


                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
    

        <!-- Vendor js -->
        <script src="{{asset('adm/assets/js/vendor.min.js')}}"></script>

        <!-- App js -->
        <script src="{{asset('adm/assets/js/app.min.js')}}"></script>
        
    </body>
</html>