{% extends 'adm_base.html.twig' %}

{% block title %}Payments{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/datepicker/css/bootstrap-datepicker.standalone.min.css')}}">
{% endblock %}

{% block body %}

{% set bal = 0 %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Admin</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Statement for {{student}}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                <button type="button" class="btn btn-success btn-md waves-effect waves-light mb-3" data-toggle="modal" data-target="#dateRangeModal">
                    Send Statement
                </button>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-xl-12">
                <table class="table card-box" id="datatable">
                    <thead>
                        <tr>
                            <th>Payment Date</th>
                            <th>Amount</th>
                            <th>Transaction</th>
                            <th>Instrument</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set prev_bal = 0 %}
                    {% set uigs = [] %}
                    {% for payment in payments %}
                    {% set uigs = uigs|merge([payment.uig.id]) %}
                    {% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}
                    {% if loop.index == payments|length - 1%}{% set prev_bal = payment.balance %}{% endif %}
                        <tr>
                            <td>{{payment.doneOn|date('Y-m-d')}}</td>
                            <td>{{payment.amount}}</td>
                            <td>{{payment.type == "inv" ? "Invoice" : "Payment" }}</td>
                            <td>{{payment.uig.instrument}} {{payment.uig.grade}}</td>
                            <td>{{bal}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div><!-- end col -->
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->



    <!-- Modal -->
    <div class="modal fade" id="dateRangeModal" tabindex="-1" role="dialog" aria-labelledby="dateRangeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="get" action="{{path('preview_statement')}}">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="dateRangeModalLabel">Select Time Range</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="input-group input-daterange">
                <input type="text" name="dateFrom" class="form-control js-datepicker" value="{{'now'|date('Y-m-d')}}">
                <div class="input-group-addon">to</div>
                <input type="text" name="dateTo" class="form-control js-datepicker" value="{{'now'|date('Y-m-d')}}">
            </div>            
        </div>
        <input type="hidden" name="uig" value="{{uigs|join('-')}}" >
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Preview</button>
        </div>
        </div>
    </div>
    </div>


<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Edit Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="amount" class="col-form-label">Amount:</label>
            <input type="text" class="form-control amount" id="amount">
            <p id="pmtidval" style="display:none;"></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit_payment">Edit Payment</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="holder" value="">
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script>
        //$('.input-daterange input').each(function() {
        //    $(this).datepicker('clearDates');
        //});        
    </script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>
    <script>
        $('#paymentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var pmtid = button.data('pmtid') // Extract info from data-* attributes
            var pmtdate = button.data('pmtdate') // Extract info from data-* attributes
            var amttoedit = button.data('amttoedit').split('-')[0] // Extract info from data-* attributes
            var balance = button.data('amttoedit').split('-')[1] // Extract info from data-* attributes
            $("#holder").val(balance);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            console.log('pmtid: ' + pmtid);
            modal.find('.modal-title').text('Edit payment made on ' + pmtdate)
            modal.find('.modal-body p').text(pmtid)
            modal.find('.modal-body input').val(amttoedit)
            $("#edit_payment").prop('disabled', false);
        })
    </script>
    <script>
        $("#edit_payment").click( function () {

            $("#edit_payment").prop('disabled', true);
            var pmtid = $("#pmtidval").text();
            var amount = $("#amount").val();

            $.ajax({
                url:'{{ (path('edit_payment')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "pmtid": pmtid,
                    "amount": amount,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
    </script>
{% endblock %}
