{% extends 'base_theme.html.twig' %}

{% block title %}Reports{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Reports
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table" id="">
                        <thead>
                            <tr>
                                <th>Instrument</th>
                                <th>Package</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                {% if app.user.usertype == 'teacher' %}
                                <th>NOK Phone num.</th>
                                {% endif %}
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for session in sessions %}
                            <tr>
                                <th>
                                {{session.userInstrumentGrade|split("-")[1]}}
                                </th>
                                <th>{{session.package.name}}</th>
                                <th>{{session.student.studentdata.phone}}</th>
                                <th>{{session.student.email}}</th>
                                {% if app.user.usertype == 'teacher' %}
                                <th>{{session.student.studentdata.nextofkinphonenum}}</th>
                                {% endif %}
                                <th>
                                    <a href="{{path('report_view', {'uig_id': session.userInstrumentGrade.id })}}" style="white-space: nowrap;" class="btn btn-sm btn-{{session.userInstrumentGrade.reports|length > 0 ? 'success' : 'primary'}}" id="print-form" >View Report</i></a>
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
    <!-- /. ROW  -->
{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable();
        } );
    </script>

{% endblock %}