{% extends 'adm_base.html.twig' %}

{% block title %}Courses{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Starter page</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Starter page</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                <a href="{{ path('student-payments-list', {'uig_id': uigs|first.id}) }}" class="btn btn-success btn-md waves-effect waves-light mb-3" style="white-space: nowrap;" ><i class="fa fa-eye"></i>&nbsp;View Your Statement</a>                                
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-xl-12">
                <table class="table card-box" id="">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Teacher</th>
                            <th>Balance</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for uig in uigs %}
                    {% if uig.studentUserData.student is defined  and uig.sessions|length > 0 %}
                    {% set fullpricePerSession = uig.sessions|first.package.price / 12 %}
                    {% set feesToPay = fullpricePerSession * uig.sessions|length %}
                    {#{% set balance = uig.payments and uig.payments|length > 0 ? uig.payments|last.balance : feesToPay %}#}
                    {% set balance = uig.payments and uig.payments|length > 0 ? feesToPay : feesToPay %}
                        <tr>
                            <td>{{ uig.instrument.name }}</td>
                            <td>{{ uig.sessions|first.teacher.fullname }}</td>
                            <td id="balance-{{uig.id}}">{{ balance }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <a href="{{path('print_form', {'uig_id': uig.id})}}" style="white-space: nowrap;" class="btn btn-sm btn-primary" id="print-form" ><i class="fa fa-file">&nbsp;Form</i></a>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}
