{% extends 'base.html.twig' %}

{% block title %}Cheza Music School{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/sidebar.css')}}">
{% endblock %}

{% block body %}

    <main class="page faq-page">
        {% include 'templates/sidebar.html.twig' %}

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Price</th>
                    <th>Duration</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for package in packages %}
                <tr>
                    <td>{{ package.id }}</td>
                    <td>{{ package.price }}</td>
                    <td>{{ package.duration }}</td>
                    <td>{{ package.name }}</td>
                    <td>
                        <a href="{{ path('package_show', {'id': package.id}) }}">show</a>
                        <a href="{{ path('package_edit', {'id': package.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('package_new') }}">Create new</a>
    </main>
{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
{% endblock %}
