	<ul id="menu_mobile" class="menu_main_nav">
		<li class="menu-item current-menu-ancestor current-menu-parent"><a href="{{path('default')}}">Home</a>
			{# <ul class="sub-menu">
				<li class="menu-item current-menu-item page-item-301"><a href="{{path('default')}}">Home</a></li>
				<li class="menu-item"><a href="home-2.html">Home 2</a></li>
				<li class="menu-item"><a href="home-3.html">Home 3</a></li>
			</ul> #}
		</li>
		<li class="menu-item"><a href="{{path('about')}}">About</a>
			{# <ul class="sub-menu">
				<li class="menu-item"><a href="about.html">About style 1</a></li>
				<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
			</ul> #}
		</li>
		{# <li class="menu-item menu-item-has-children"><a href="{{path('classes')}}">Classes</a> #}
			{# <ul class="sub-menu">
				<li class="menu-item"><a href="classes.html">Classes</a></li>
				<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
			</ul> #}
		{# </li> #}
		<li class="menu-item"><a href="{{path('public_post_index')}}">Blog</a>
			{# <ul class="sub-menu">
				<li class="menu-item"><a href="classes.html">Classes</a></li>
				<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
			</ul> #}
		</li>
		<li class="menu-item"><a href="{{path('contact')}}">Contact</a></li>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
		<li class="menu-item"><a href="{{path(app.user.usertype ~ '-dashboard')}}">Dashboard</a></li>
		{% else %}
		<li class="menu-item"><a href="{{path('app_login')}} ">sign in</a></li>
		{% endif %}

		<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
	</ul>
