{% extends 'public_base.html.twig' %}
{% set nav_type = 'half' %}
{% block slider %}{% endblock %}
{% block body %}
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">BookOnline</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">BookOnline</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_no">
				<div class="c_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-158 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="sc_section">
													<div class="sc_section_inner">
														<h1 class="sc_section_title sc_item_title">Book Online</h1>
														<h6 class="sc_section_subtitle sc_item_subtitle">Create {% set prefix = data.usertype == 'admin' ? 'an' : 'a' %} {{prefix}} {{data.usertype}} account at Cheza Music School. <a style="text-decoration:underline;" class="text-white" href="{{path('app_login')}}">Sign in instead</a></h6>
														<div class="sc_section_content_wrap">
															<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 margin_bottom_huge">
																<div class="column-1_2 sc_column_item sc_column_item_1 odd first">
																	<div id="sc_form_1777025688_wrap" class="sc_form_wrap">
																		<div id="sc_form_1777025688" class="sc_form sc_form_style_form_custom">
																			{{ form_start(registrationForm) }}
																			{# <form id="sc_form_1777025688_form" method="post" action="#"> #}
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over">{{ form_widget(registrationForm.fullname, {'attr': {'class': 'form-control item', 'placeholder': 'full name *', 'autocomplete': 'off'}}) }}</div>
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over"><input type="text"  name="phone" id="phone" placeholder="Phone *", 'autocomplete': 'off'></div>
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over">{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control item', 'placeholder': 'Email', 'autocomplete': 'off'}}) }}</div>
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over">{{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control item', 'placeholder': 'password *', 'autocomplete': 'off'}}) }}</div>
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over">{{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control item', 'placeholder': 'repeat password *', 'autocomplete': 'off'}}) }}</div>
																				{% if data.usertype == "student" %}
																				<div class="sc_form_item sc_form_item_select sc_form_field label_over">
																					<div class="sc_form_select_container">
																						<select name="instrument" id="instrument">
																							<option value="1" selected >Select Instrument</option>
																							<optgroup label="Instruments">
																								{% for ins in data.instruments %}
																									<option value="{{ins.id}}">{{ins.name}}</option>
																								{% endfor %}
																							</optgroup>
																							<optgroup label="Courses">
																								{% for ins in data.courses %}
																									<option value="{{ins.id}}">{{ins.name}}</option>
																								{% endfor %}                                    
																							</optgroup>
																							<optgroup label="Group classes ">
																								{% for ins in data.traditional %}
																									<option value="{{ins.id}}">{{ins.name}}</option>
																								{% endfor %}
																							</optgroup>
																						</select>
																					</div>
																				</div>
																				<div class="sc_form_item sc_form_item_select sc_form_field label_over">
																					<div class="sc_form_select_container">
																						<select id="grade" name="grade">
																							{% for grade in data.instrumentGrades %}
																								<option value="{{grade.id}}">{{grade.name}}</option>
																							{% endfor %}
																						</select>
																					</div>
																				</div>
																				{% endif %}
																				<div class="sc_form_item sc_form_item_select sc_form_field label_over">
																					<div class="sc_form_select_container">
																						{{ form_widget(registrationForm.agreeTerms) }}Agree with terms and conditions.
																						<br /><small>By clicking 'Register', you agree to our Terms & Conditions, Visitor Agreement and Privacy Policy.</small>
																					</div>
																				</div>
																				<div class="sc_form_item sc_form_item_button sc_form_button label_over"><button type="submit" id="registration_button">register</button></div>
																				<div class="result sc_infobox"></div>
																			{{ form_end(registrationForm) }}
																		</div>
																	</div>
																</div><div class="column-1_2 sc_column_item sc_column_item_2 even">
																	<div class="wpb_text_column wpb_content_element  block_1462449543060">
																		<div class="wpb_wrapper">
																			<p>Welcome! Cheza music school gives professional home and online music courses at your convenience. All you need is an instrument and your convenient place for taking your lessons. For online, you will need internet connection and an electronic device like a phone or a laptop.</p>
																		</div>
																	</div>
																	<div class="wpb_text_column wpb_content_element  block_1462449568543">
																		<div class="wpb_wrapper">
																			<p>Whether you don't have the time to spend in traffic or you just need convenience, Cheza music school will give you one-on-one home classes or online classes at your convenient day and time. Home classes are available at Nairobi, Kiambu and Thika</p>
																		</div>
																	</div>
																	<div class="wpb_text_column wpb_content_element  block_1462449580682">
																		<div class="wpb_wrapper">
																			<p>Instruments: Piano, Guitar, Violin, Recorder, Music Production, Music Theory, Voice, Traditional Instruments.</p>
																		</div>
																	</div>
																	<div class="wpb_text_column wpb_content_element  block_1462449580682">
																		<div class="wpb_wrapper">
																			<p><strong>Fees: 60 Minute lessons - KES 21,600 per term, 45 Minute lessons - KES 16,200 per term, 30 Minute lessons - KES 10,800 per term.</strong></p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row vc_row-no-padding">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<article class="myportfolio-container minimal-light" id="esg-grid-4-1-wrap">
													<div id="esg-grid-4-1" class="esg-grid">
														<ul>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-439" data-date="1462880506">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-4-1.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-439 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-439 esgbox" href="{{asset('publicsite/images/image-4-1.jpg') }}" lgtitle="The 9 Different Types of music degrees"><i class="eg-icon-search"></i></a></div>
																		<!--
																		 -->
																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-441" data-date="1462880562">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-18.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-441 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-441 esgbox" href="{{asset('publicsite/images/image-18.jpg') }}" lgtitle="5 Secrets to Mastering music college audition"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-442" data-date="1462880562">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-5.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-442 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-442 esgbox" href="{{asset('publicsite/images/image-5.jpg') }}" lgtitle="The Top 8 Colleges for music education"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-443" data-date="1462880565">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-17.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-443 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-443 esgbox" href="{{asset('publicsite/images/image-17.jpg') }}" lgtitle="The World's Greatest orchestras"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-444" data-date="1462880567">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-8.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-444 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-444 esgbox" href="{{asset('publicsite/images/image-8.jpg') }}" lgtitle="How to Make a Career in an orchestra"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-461" data-date="1462883077">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-16.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-461 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-461 esgbox" href="{{asset('publicsite/images/image-16.jpg') }}" lgtitle="Classical and Contemporary compositions"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-462" data-date="1462883122">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-15.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-462 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-462 esgbox" href="{{asset('publicsite/images/image-15.jpg') }}" lgtitle="5 Popular Viola performances"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
														</ul>
													</div>
												</article>
												<div class="clear"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</article>
						<section class="related_wrap related_wrap_empty"></section>
					</div>
				</div>
			</div>

            {# <section class="testimonial py-5" id="testimonial">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4 py-5 bg-primary text-white text-center ">
                            <div class=" ">
                                <div class="card-body">
                                    <img src="{{asset('img/cheza_logo.png')}}" style="width:30%">
                                    <h2 class="py-3">Registration</h2>
                                    <p></p>
                                                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 py-5 border">
                            <h4 class="pb-4">Please fill with your details</h4>
                            {% for flashError in app.flashes('verify_email_error') %}
                                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                            {% endfor %}

                            {{ form_start(registrationForm) }}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Full Name</label>
                                        {{ form_widget(registrationForm.fullname, {'attr': {'class': 'form-control item'}}) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control item'}}) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="password">Password</label>
                                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control item'}})  }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="password">Repeat Password</label>
                                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control item'}})  }}
                                    </div>
                                </div>
                                {% if data.usertype == "student" %}
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                    <label for="name">Instrument</label>
                                        <select class="custom-select" data-toggle="tooltip" data-bs-tooltip="" required="" title="Click to select an instrument">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="grade">Grade Level</label>
                                        <select class="form-control" id="grade" name="grade">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="phone">Phone number (Safaricom)</label>
                                        <input type="text" class="form-control item" name="phone" id="phone" />
                                    </div>
                                </div>
                                {% endif %}
                                <div class="form-row">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="form-check">
                                            </div>
                                        </div>
                                
                                    </div>
                                </div>                                                                
                                <div class="form-row">
                                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                                </div>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </section> #}

{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script>
	{% if query == "" %}
	{% else %}
    $( document ).ready(function() {
        $("#instrument").val("{{query}}").prop('multiple', false);;
    });
	{% endif %}
    </script>
    {# <script>
        
        $('[id="sendotp"]').click( function () {

            // var id = jQuery(this).attr("id").split("-")[1];
            var phonenumber = $("#phone").val();

            $.ajax({
                url:"{{ (path('sendotp')) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "phonenumber": phonenumber,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $('#otpmodal').modal('show'); 
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script> #}

{% endblock %}