{% extends 'base.html.twig' %}

{% block title %}New UserInstrumentGrade{% endblock %}

{% block body %}
    <h1>Create new UserInstrumentGrade</h1>

    {{ include('user_instrument_grade/_form.html.twig') }}

    <a href="{{ path('user_instrument_grade_index') }}">back to list</a>
{% endblock %}
