{% extends 'adm_base.html.twig' %}

{% block title %}Sessions{% endblock %}
{% block stylesheets %}
            <!-- third party css -->
        <link href="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{asset('adm/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

{% endblock %}

{% block body %}



    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Datatables</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                            <li class="breadcrumb-item active">Datatables</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

                    

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('admin_session_calendar', {'teacher_id': user_instrument_grade.sessions|first.teacher.id })}}" class="dropdown-item">Calendar</a>
                            <!-- item-->
                            <a href="{{ path('session_show', {'id': user_instrument_grade.sessions|first.id}) }}" class="dropdown-item">Student Details</a>
                            <!-- item-->
                            <a href="{{ path('admin-payments-list', {'uig_id': user_instrument_grade.id}) }}" class="dropdown-item">Payments</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'session-for-' ~ user_instrument_grade.id })}}" class="dropdown-item">Export EXCEL</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'session-for-' ~ user_instrument_grade.id})}}" class="dropdown-item">Export PDF</a>
                            <!-- item-->
                            {{ include('user_instrument_grade/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <h4 class="mt-0 header-title">Sessions for {{user_instrument_grade}}
                    <span class="text-muted font-14 mb-3">
                    {% set sessionscount = user_instrument_grade.sessions|length %}
                    {% set total_fee = user_instrument_grade.sessions|first.package.price / 12 * sessionscount %}
                    {% set feeperlesson = total_fee / sessionscount %}
                    {% set paid_amt = 0 %}
                    {% for payment in user_instrument_grade.payments|filter( payment => payment.type == 'pmt' ) %}
                        {% set paid_amt = paid_amt + payment.amount %}
                    {% endfor %}
                    {% set balance = total_fee - paid_amt %}
                    
                    
                    <strong> | Fee balance : {{ balance <= 0 ? 'cleared' : balance }}</strong>

                    </span></h4>

                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Date (Y-m-d)</th>
                                <th>Begin at</th>
                                <th>End at</th>
                                <th>Cleared</th>
                                <th>Attended</th>
                                <th>Invoiced</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                                {% set bal = paid_amt %}
                                {% for session in user_instrument_grade.sessions %}
                                    <tr>
                                        <td>{{ session.startingOn|date('Y-m-d') }}</td>
                                        <td>{{ session.beginAt ? session.beginAt|date('g:i A') : '' }}</td>
                                        <td>{{ session.endAt ? session.endAt|date('g:i A') : '' }}</td>
                                        <td>{{ bal >= feeperlesson == true ? 'Cleared' : 'Not cleared' }}</td>
                                        <td>{{ session.done == true ? 'Attended' : 'Not attended' }}</td>
                                        <td>{{ session.invoiced == true ? 'Invoiced' : 'Not invoiced' }}</td>
                                        <td>
                                            <a href="{{path('session_show', {'id': session.id})}}" class="btn btn-sm btn-info">View</a>
                                            <a id="deleteSess-{{session.id}}" onclick="return confirm('Are you sure you want to delete session for {{session.startingOn|date('jS F Y')}}?');" href="{{path('session_delete_one', {'session_id': session.id})}}" class="btn btn-sm btn-info">Delete</a>
                                        </td>
                                    </tr>
                                {% set bal = bal - feeperlesson %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->
    <script src="{{asset('adm/assets/js/pages/datatables.init.js') }}"></script>

    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>
    <script>
        $('[id^="deleteSess-"]').click( function () {
            var sessId = jQuery(this).attr("id").split("-")[1];
            console.log("#deleteSess-"+ sessId);
            $("#deleteSess-"+ sessId).hide();
        });
    </script>

{% endblock %}
