<div class="tab-pane" role="tabpanel" id="tab-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">History</h3>
                <br />
            </div>
            <div class="panel-body">
                <div id="maindiv">
                    <div class="table-responsive">
                        <table class="datatable table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Recipient</th>
                                    <th>Sent On</th>
                                    <th>Subject</th>
                                    <th>Delivery</th>
                                    <th>More</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for communication in communications %}
                                <tr class="odd gradeX">
                                    <td><span style="display:none;">{{communication.id < 10 ? '0' ~ communication.id : communication.id}}</span>{{communication.type == 'SMSMAIL' ? '<i class="fa fa-comments"></i>&nbsp;<i class="fa fa-envelope"></i>'}}{{communication.type == 'MAIL' ? '<i class="fa fa-envelope"></i>'}}{{communication.type == 'SMS' ? '<i class="fa fa-comments"></i>'}}<br /><small><i>Sent by {{communication.admin.fullname|split(" ")[0]}}</i></small></td>
                                    <td title="{{communication.sendToContact}}">{{communication.sentTo}}<br />{{communication.sendToContact|slice(0, 40)}}{{communication.sendToContact|length > 40 ? '...' : ''}}</td>
                                    {# <td>{{communication.sentAt|date('jS F Y \\a\\t h:i a')}}</td> #}
                                    <td>{{communication.sentAt|date('Y-m-d H:i')}}</td>
                                    <td>{{communication.subject|striptags}}..</td>
                                    <td>
                                    {% if communication.deliveredStatus == 'MULTIPLE' %}
                                        <button id="multi_view-bulkId-{{communication.messageId}}" class="btn btn-sm btn-info">View</button>
                                    {% else %}
                                        {{communication.deliveredStatus}}
                                    {% endif %}
                                    <td><button id="peep-{{communication.id}}" title="{{communication.message|replace({'\\r\\n': '\n'})|nl2br}}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></button></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">No history</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

</div>
