                        <div class="tab-pane" role="tabpanel" id="tab-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">New Bulk Message</h3>
                                    <a style="margin-top:5px;" href="{{path('group_index')}}" class="btn btn-info">Contact Lists</a>
                                    <a style="margin-top:5px;" href="{{path('group_new')}}" class="btn btn-info">Add Contact List</a>
                                    <div class="row">
                                        {% for group in groups %}
                                        <div class="col-md-2">
                                            <div class="checkbox"><label><input id="{{group.id}}" name="group_id" type="radio">{{group.title}} [{{group.contacts|length}}]</label></div>
                                        </div>
                                        {% endfor %}
                                    </div>                                        
                                </div>
                                <div class="panel-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="bulk-message" class="control-label">Message</label> 
                                            {# <button type="button" id="mention-Fullname" class="btn btn-default btn-sm">#%Fullname%#</button> #}
                                            {# <button type="button" id="mention-FirstName" class="btn btn-default btn-sm">#%FirstName%#</button> #}
                                            <textarea id="bulk-message" rows="5" class="form-control"></textarea>
                                        </div>
                                    </form>
                                    <button id="bulksendnow" class="btn btn-primary" type="button">Send Message Now</button>
                                </div>
                            </div>
                        </div>
