<div class="tab-pane" role="tabpanel" id="tab-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Quick Message</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input id="qname" class="form-control" value="Walk-in client" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label">Phone Number [if multiple, separate with commas]</label>
                    <input id="qphone" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label">Message</label>
                    <span id="qremaining" style="font-size:0.7em; font-style:italic;">160 characters remaining</span>
                    <span id="qmessages" style="font-size:0.7em; font-style:italic;">1 message(s)</span>
                    <textarea id="qmessage" rows="5" class="form-control">{{template is defined and template is not null ? template.message}}</textarea>
                </div>
            </form>
            <button id="qsendnow" class="btn btn-primary" type="button">Send Message Now</button>
        </div>
    </div>
</div>
