{% extends 'adm_base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- third party css -->
    <link href="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <style>
        td,th{
            padding:2px!important;
        }
    </style>
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Attendance</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher</a></li>
                            <li class="breadcrumb-item active">Attendance Register</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    
        <!-- end page title -->
        <div class="row">
            <div class="col-xl-12">
                <a href="{{path('teacher_send_invoice_confirm')}}" class="btn btn-primary btn-md waves-effect waves-light mb-3">
                    Send Invoice <span class="badge badge-light" id="invoiceamt">{{inv|number_format}}</span>
                </a>
                <a href="{{path('teacher_student_attendance_completed')}}" class="btn btn-info btn-md waves-effect waves-light mb-3">
                    Completed Sessions 
                </a>
                <button class="btn btn-warning btn-md waves-effect waves-light mb-3">30 min</button>
                <button class="btn btn-danger btn-md waves-effect waves-light mb-3">45 min</button>
                <button class="btn btn-primary btn-md waves-effect waves-light mb-3">60 min</button>
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="mt-0 header-title">Attendance Register</h4>

                    <table class="table table-bordered">
                        <thead class="title">
                            <tr>
                                <th>Lesson / Student</th>
                                {% for i in 1..12 %}
                                <th class="btn btn-outline-primary" style="width:75px;">{{i}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for uig in userInstrumentGrades %}
                            {% set total_fee = uig.sessions|first.package.price %}
                            {% set feeperlesson = total_fee / 12 %}
                            {% set paid_amt = uig.payment %}
                            {% set balance = total_fee - paid_amt %}
                            {# {% set uigForInvoice = [] %}     #}

                            {% if uig.sessions|first.package.duration == 60 %} {% set color = 'info' %} {% elseif uig.sessions|first.package.duration == 45 %} {% set color = 'danger' %} {% elseif uig.sessions|first.package.duration == 30 %} {% set color = 'warning' %}{% else %} {% set color = 'success' %} {% endif %}
                            {% set sess = uig.sessions|filter( session => session.done == false ) %}
                                {% if sess|length > 0 %}
                                <tr>
                                    <td class="bg-{{color}} text-light" style="background-image: url('{{asset(uig.instrument.image)}}'); background-position:top right; background-size:18px 18px; background-repeat:no-repeat;" title="{{uig.siblingname == null or uig.siblingname == "" ? uig.studentUserData.student : uig.siblingname }} {{uig.instrument}} {{uig.grade.name}} "><small><a style="color:white!important;" href="{{path('session_show', {'id':uig.sessions|first.id})}}">{{uig.grade.name}} {{uig.siblingname == null or uig.siblingname == "" ? uig.studentUserData.student|split(" ")[0] : uig.siblingname|split(" ")[0]}}</a></small></td>
                                    {% set bal = paid_amt %}
                                    {% for session in uig.sessions %}
                                        {% if session.invoiced != true %}
                                            <td class="btn btn-outline btn-{{ bal >= feeperlesson == true ? 'primary' : 'secondary' }}" style="width:75px; {{session.startingOn|date('d/m/Y') == "now"|date('d/m/Y') ? 'background-color: #dff0d8;' : ''}}" id="entry-{{uig.id}}-{{session.id}}"><small>{{session.startingOn|date('M jS')}} &nbsp;<br /> <i class="{{ session.done == true ? 'fa fa-check text-success' : 'fa fa-close text-warning'}}"></i> </small></td>
                                        {% endif %}
                                        {# {% if session.invoiced != true and session.done == true %}
                                            {% set uigForInvoice = uigForInvoice|merge([uig.id]) %}
                                        {% endif %} #}
                                    {% set bal = bal - feeperlesson %}
                                    {% endfor %}
                                </tr>
                                {% endif %}
                                
                                {# {% if uigForInvoice is not empty %}
                                    {% set nonEmptyUigs = nonEmptyUigs|merge([uigForInvoice]) %}
                                {% endif %} #}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->
        
{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->
    <script src="{{asset('adm/assets/js/pages/datatables.init.js') }}"></script>

	<script>
	  $('[id^="entry-"]').click(function() {

        var handle = jQuery(this).attr("id");

        $.ajax({
            url:'{{ (path('manage_attendance')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "handle": handle,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $( "#" + handle ).html(data[0]);
                var current = $( "#invoiceamt");
                // console.log('current: ' + current.text().replace(/,/g, ''));
                var added = data[1];
                if(data[2] == '+'){
                    current.text(parseInt(current.text().replace(/,/g, '')) + parseInt(added));
                } else {
                    current.text(parseInt(current.text().replace(/,/g, '')) - parseInt(added));
                }
                
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>
	<script>
	  $('#submitInvoice').click(function() {
        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Please wait...', },{ element: '#confirmSendInvoice', type: "info", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
        var neu = [];
        {% for k, n in nonEmptyUigs %} neu.push("{{k}}:{{n|length}}:{{n|first}}"); {% endfor %}
        $.ajax({
            url:'{{ (path('submit_invoice')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "nonEmptyUigs": JSON.stringify(neu),
            },
            async: true,
            success: function (data)
            {
                $('#confirmSendInvoice').modal('hide');
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Invoice sent: " + data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

{% endblock %}