{% extends 'adm_base.html.twig' %}

{% block title %}Teacher dashboard{% endblock %}
{% block stylesheets %}
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
</style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Dashboard</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path(app.user.usertype ~ '_session_calendar')}}" class="dropdown-item">Your Calendar</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Calendar</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> {{data.todayslessonscount}} </h2>
                            <p class="text-muted mb-3">Lessons today</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                    aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 77%;">
                                <span class="sr-only">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('teacher-students-list')}}" class="dropdown-item">Students List</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Students</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-success badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> {{data.studentscount|length}} </h2>
                            <p class="text-muted mb-3">Total Students</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 77%;">
                                <span class="sr-only">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path(app.user.usertype ~ '_student_attendance')}}" class="dropdown-item">Attendance</a>
                            <!-- item-->
                            <a href="{{path('teacher_schooltime_calendar_edit', {'teacher_id': app.user.id })}}" class="dropdown-item">Your Schedule</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Sessions</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> {{data.teachersessions|length}} </h2>
                            <p class="text-muted mb-3">Total Sessions</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                    aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 77%;">
                                <span class="sr-only">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('teacher_schooltime_calendar_edit', {'teacher_id': app.user.id })}}" class="dropdown-item">Your Schedule</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Schedule</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-success badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> {{data.schedules|length}} </h2>
                            <p class="text-muted mb-3">Total Schedules</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 77%;">
                                <span class="sr-only">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            {% if data.schooltimes > 0 %}
            {% set schedulepercentage = (data.studenttime / data.schooltimes) * 100 %}
            {% else %}{% set schedulepercentage = 0 %}{% endif %}
            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('teacher_schooltime_calendar_edit', {'teacher_id': app.user.id })}}" class="dropdown-item">Manage Schedule</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-4">Schedule</h4>

                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-left" dir="ltr">
                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                                    data-bgColor="#F9B9B9" value="{{schedulepercentage|round}}"
                                    data-skin="tron" data-angleOffset="180" data-readOnly=true
                                    data-thickness=".15"/>
                        </div>

                        <div class="widget-detail-1 text-right">
                            <h2 class="font-weight-normal pt-2 mb-1"> {{schedulepercentage|round}} </h2>
                            <p class="text-muted mb-1">Per cent busy</p>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            {% if data.donesessions|length > 0 %}
            {% set sessionscount = data.sessions|length %}
            {% set donesessionscount = data.donesessions|length %}
            {% set sessionpercentage = (donesessionscount / sessionscount) * 100 %}
            {% else %}{% set sessionpercentage = 0 %}{% endif %}
            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path(app.user.usertype ~ '_student_attendance')}}" class="dropdown-item">Sessions</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-4">Sessions</h4>

                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-left" dir="ltr">
                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a"
                                    data-bgColor="#FFE6BA" value="{{sessionpercentage|round}}"
                                    data-skin="tron" data-angleOffset="180" data-readOnly=true
                                    data-thickness=".15"/>
                        </div>
                        <div class="widget-detail-1 text-right">
                            <h2 class="font-weight-normal pt-2 mb-1"> {{sessionpercentage|round}} </h2>
                            <p class="text-muted mb-1">Per cent attended</p>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            {% if data.studentscount|length > 0 %}
            {% set reportscount = data.reports|length %}
            {% set numberofstudents = data.studentscount|length %}
            {% set reportpercentage = (reportscount / numberofstudents) * 100 %}
            {% else %}{% set reportpercentage = 0 %}{% endif %}
            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('teacher-students-list')}}" class="dropdown-item">Students</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-4">Reports</h4>

                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-left" dir="ltr">
                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                                    data-bgColor="#F9B9B9" value="{{reportpercentage|round}}"
                                    data-skin="tron" data-angleOffset="180" data-readOnly=true
                                    data-thickness=".15"/>
                        </div>

                        <div class="widget-detail-1 text-right">
                            <h2 class="font-weight-normal pt-2 mb-1"> {{reportpercentage|round}} </h2>
                            <p class="text-muted mb-1">Per cent filled</p>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            {% if data.totalfees > 0 %}
            {% set feespercentage = (data.paidfees / data.totalfees) * 100 %}
            {% else %}{% set feespercentage = 0 %}{% endif %}
            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('teacher-students-list')}}" class="dropdown-item">Students</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-4">Fees</h4>

                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-left" dir="ltr">
                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a"
                                    data-bgColor="#FFE6BA" value="{{feespercentage|round}}"
                                    data-skin="tron" data-angleOffset="180" data-readOnly=true
                                    data-thickness=".15"/>
                        </div>
                        <div class="widget-detail-1 text-right">
                            <h2 class="font-weight-normal pt-2 mb-1"> {{feespercentage|round}} </h2>
                            <p class="text-muted mb-1">Per cent paid</p>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-xl-5">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path(app.user.usertype ~ '_session_calendar')}}" class="dropdown-item">Calendar</a>
                            <!-- item-->
                            <a href="{{path(app.user.usertype ~ '_student_attendance')}}" class="dropdown-item">Attendance</a>
                        </div>
                    </div>

                    <h4 class="header-title mb-3">Today's lessons</h4>

                    <div class="inbox-widget">
                        {% for session in data.todayslessons %}
                        <div class="inbox-item">
                            <a href="#">
                                <div class="inbox-item-img"><img src="{{ session.student.photo is not null ? session.student.photo : asset('img/profile/person.png') }}" class="rounded-circle" alt=""></div>
                                <h5 class="inbox-item-author mt-0 mb-1">{{session.userInstrumentGrade}}</h5>
                                <p class="inbox-item-text">{{session.student.studentdata.phone}}.</p>
                                <p class="inbox-item-date">{{session.beginAt|date('h:i A')}}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-xl-7">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Recent Students</h4>

                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Next of Kin</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in data.students|reverse %}
                                {% if loop.index <= 5 %}
                                    <tr>
                                        <td>{{student.fullname}}</td>
                                        <td>{{student.studentdata.phone}}</td>
                                        <td>{{student.studentdata.nextofkinphonenum}}</td>
                                        <td>{{student.email}}</td>
                                    </tr>
                                {% endif %}
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->       
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}

{% endblock %}