{% extends 'basic.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table { table-layout: fixed; }
        th { width: 7.69%; min-height:80px;}
        td { width: 7.69%; min-height:80px; }
        thead th { min-height:60px; }
        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            cursor: pointer;
        }
        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
            cursor: pointer;
        }
        .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
{% endblock %}

{% block body %}
 {% block navbar %}{% endblock %}
   {# {% set nonEmptyUigs = [] %} #}
    <main class="page">
        <div class="container">
            <div class="row">
                <div class="alert alert-info" style="text-align:center;">
                    {% if inv > 1 %}
                        <button type="button" id="submitInvoice" class="btn btn-primary">Submit Invoice</button>
                    {% else %}
                    <p>You have got nothing to send for now. </p>
                    {% endif %}
                    <a href="{{path('teacher_student_attendance')}}" class="btn btn-danger">Back</a>                    
                </div>
            </div>
        </div>
        {% set neu = [] %}
        {% for k, n in nonEmptyUigs %} 
            {% set nf = n|first %}
            {% set neu = neu|merge({(nf|split('-')[1]~'-'~k~':'~n|length ~':'~ n|first):n|first}) %}
        {% endfor %}
    </main>
    {% if inv > 1 %}
    <style>
            /* Housekeeping */
            html{
                font:0.75em/1.5 sans-serif;
                color:#333;
                background-color:#fff;
                padding:1em;
            }

            /* Tables */
            table{
                width:80%;
                margin-bottom:1em;
                border-collapse: collapse;
                margin:auto;
            }
            th{
                font-weight:bold;
                background-color:#ddd;
            }
            .bold{
                font-weight:bold;
                background-color:#ddd;
            }
            th,
            td{
                padding:0.5em;
                border:1px solid #ccc;
            }
            .name {
                width:40%;
            }

    </style>
    <table>
        
        <thead>
            <tr>
                <th class="name" colspan="7">Cheza Music School</th>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td>NAME</th>
                <td class="name" colspan="6">{{teacher.fullname|upper}}</th>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <th></th>
                <th class="name">NAME OF STUDENT</th>
                <th>30 Mins</th>
                <th>45 Mins</th>
                <th>60 Mins</th>
                <th>Student Invoice</th>
                <th>70%</th>
            </tr>
        </thead>
        <tbody>
        
            {% for key, uig in neu %}
            {% set duration = key|split("-")[0] %}
            {% set v = uig|split('-')[0] %}
            {% set noOfSessions = key|split(":")[1] %}
            {% set price = nuigs[v].sessions|first.package.price / 12 %}
            {% set sixtwopointfive = (nuigs[v].sessions|first.package.price / 12) * 0.70 %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td class="name">{{nuigs[v]|split('-')[0]}}</td>
                    <td>{{ duration == 3 ? noOfSessions : ' ' }}</td>
                    <td>{{ duration == 2 ? noOfSessions : ' ' }}</td>
                    <td>{{ duration == 1 ? noOfSessions : ' ' }}</td>
                    <td>{{ noOfSessions * price}}</td>
                    <td>{{ noOfSessions * sixtwopointfive}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="bold" colspan="6">GROSS PAY (70%)</td>
                <td class="bold">{{inv}}</td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td colspan="6">LESS WITHHOLDING TAX</td>
                <td>{% if inv > 24000 %}{% set tax = 0.05 * inv %}{% else %}{% set tax = 0 %}{% endif %}{{tax}}</td>
            </tr>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td class="bold" colspan="7">DEDUCTIONS</td>
            </tr>
            <tr>
                <td class="bold"></td>
                <td class="bold" colspan="4">Details</td>
                <td class="bold">Date added</td>
                <td class="bold">Amount</td>
            </tr>
            {% for deduction in teacher.teacherdata.deductions %}
            <tr>
                <td>{{loop.index}}</td>
                <td colspan="4">{{deduction.description}}</td>
                <td>{{deduction.addedOn|date('Y-m-d')}}</td>
                <td>{{deduction.toDeduct}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4"></td>
                <td>TOTAL</td>
                <td></td>
                <td>{{ded}}</td>
            </tr>
            <tr>
                <td class="bold" colspan="6">NET PAY</td>
                <td class="bold">{{inv - (tax + ded)}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="name">Prepared by: _________________________________</td>
                <td></td>
                <td colspan="3">Signature: ____________________________</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="name">Authorised by: _________________________________</td>
                <td></td>
                <td colspan="3">Signature: ____________________________</td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
    {% endif %}
{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
	<script>
	  $('#submitInvoice').click(function() {
        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Please wait...', },{ element: '#confirmSendInvoice', type: "info", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
        var neu = [];
        {% for k, n in nonEmptyUigs %} neu.push("{{k}}:{{n|length}}:{{n|first}}"); {% endfor %}
        $.ajax({
            url:'{{ (path('submit_invoice')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "nonEmptyUigs": JSON.stringify(neu),
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Invoice sent: " + data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                window.location.href = "/teacher/attendance" ;
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

{% endblock %}