{% extends 'adm_base.html.twig' %}

{% block title %}Students{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link href="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Students List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Teacher</a></li>
                            <li class="breadcrumb-item active">
                                Students {{ app.user.usertype == 'admin' ? 'for ' ~ teacher.fullname }}
                                {% if app.user.usertype == 'admin' %}
                                    <br /><button type="button" class="btn btn-info">Send all reports</button>
                                {% endif %}                            
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}" class="dropdown-item">Export Email list XLSX [All]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'phoneactiveuser-student'})}}" class="dropdown-item">Export Phone List XLSX [Active]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}" class="dropdown-item">PDF</a>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered dt-responsive" id="responsive-datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Package</th>
                                <th>Phone Number</th>
                                <th>Term</th>
                                <th>Email</th>
                                {% if app.user.usertype == 'teacher' %}
                                <th>NOK Phone num.</th>
                                {% endif %}
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for session in sessions %}
                            <tr>
                                <th>{{loop.index}}</th>
                                <th>
                                {% if app.user.usertype == 'admin' %}
                                <a href="{{path('session_show', {'id': session.id})}}">{{session.userInstrumentGrade}}</a>
                                {% else %}
                                {{session.userInstrumentGrade}}
                                {% endif %}
                                </th>
                                <th>{{session.package.name}}</th>
                                <th>{{session.student.studentdata.phone}}</th>
                                <th>{% if r[session.userInstrumentGrade.id] is defined and r[session.userInstrumentGrade.id].term is not null %}{{r[session.userInstrumentGrade.id].term.termnumber}}{% else %}{{currentTerm[0].termnumber}}{% endif %}</th>
                                <th>{{session.student.email}}</th>
                                {% if app.user.usertype == 'teacher' %}
                                <th>{{session.student.studentdata.nextofkinphonenum}}</th>
                                {% endif %}
                                <th>
                                    <a href="{{path('report_new', {'session_id': session.id })}}" style="white-space: nowrap;" class="btn btn-sm btn-{{session.userInstrumentGrade.reports|length > 0 ? 'success' : 'primary'}}" id="print-form" >Manage Reports</i></a>
                                    {% if app.user.usertype == 'admin' and session.userInstrumentGrade.id not in sentreports and session.userInstrumentGrade.id in reports %}
                                        <button id="send_report-{{session.userInstrumentGrade.reports|last.id}}" type="button" class="btn btn-sm btn-info" style="white-space: nowrap;" >Send Report</button>                    
                                    {% elseif app.user.usertype == 'teacher' %}
                                        <a href="{{path('session_show', {'id': session.id})}}" class="btn btn-sm btn-info" style="white-space: nowrap;" >Edit Details</i></a>
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->
    <script src="{{asset('adm/assets/js/pages/datatables.init.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable();
        } );
    </script>
    <script>
        
        $('[id^="send_report-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:'{{ (path('send_report')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "report_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    //location.reload();
                    $("#send_report-"+id).hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Sent!:', message: 'The report has been sent to '+data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>

{% endblock %}