
{{ form_start(form, {'attr': {'class': 'myform'}}) }}
<p class="login-img"><i class="arrow_carrot-right_alt "></i></p>
<div class="form-group">
    <label>Instrument name</label>
    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Instrument Title' }}) }}
</div>
<div class="form-group">
    {{ form_widget(form.category, {'attr': {'class': 'form-control', 'placeholder': 'Category' }}) }}
</div>
<div class="form-group">
    <label>Description</label>
    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description' }}) }}
</div>
<div class="form-group">
    <label>Availability</label>
    {{ form_widget(form.availability, {'attr': {'class': 'form-control', 'placeholder': 'Availability' }}) }}
</div>
<div class="form-group">
    {{ form_widget(form.image, {'attr': {'class': 'form-control' }}) }}
</div>
<button class="btn btn-primary btn-lg btn-block" type="submit">Save Instrument</button>
{{ form_end(form) }}
