{% extends 'base.html.twig' %}

{% block title %}Edit {{instrument.name}}{% endblock %}

{% block body %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Edit {{instrument.name}}</h2>
                    <p>
                        <a href="{{ path('instrument_index') }}">back to list</a>
                        {{ include('instrument/_delete_form.html.twig') }}
                    </p>
                </div>
                {{ include('instrument/_form.html.twig') }}
            </div>
        </section>
    </main>

{% include 'templates/footer.html.twig' %}

{% endblock %}
