{% extends 'base.html.twig' %}

{% block title %}Term{% endblock %}

{% block body %}
    <h1>Term</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ term.id }}</td>
            </tr>
            <tr>
                <th>Termnumber</th>
                <td>{{ term.termnumber }}</td>
            </tr>
            <tr>
                <th>StartingOn</th>
                <td>{{ term.startingOn ? term.startingOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndingOn</th>
                <td>{{ term.endingOn ? term.endingOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('term_index') }}">back to list</a>

    <a href="{{ path('term_edit', {'id': term.id}) }}">edit</a>

    {{ include('term/_delete_form.html.twig') }}
{% endblock %}
