{% extends 'public_base.html.twig' %}
{% set nav_type = 'half' %}
{% block slider %}{% endblock %}

{% block body %}
    <div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
            <div class="content_wrap">
                <h1 class="page_title">About Us</h1>
                <div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">About style 1</span></div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap page_paddings_no">
        <div class="c_wrap">
            <div class="content">
                <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-228 page type-page hentry">
                    <section class="post_content" itemprop="articleBody">
                        <div class="vc_row wpb_row">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner block_1462455368545">
                                    <div class="wrap">
                                        <div class="sc_section margin_bottom_large aligncenter" style="max-width: 940px;">
                                            <div class="sc_section_inner">
                                                <h1 class="sc_section_title sc_item_title">About</h1>
                                                <h6 class="sc_section_subtitle sc_item_subtitle">school</h6>
                                                <div class="sc_section_content_wrap">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Our professional approach and continual development has led us to becoming the leading provider of professional home and online music education. We combine innovative, fun and creative ways to teach music and engage with students to reach their full
                                                                potential. Innovative music lessons and classes from beginner through advanced for children, teens, and adults. We are the best music school for you. We have programs to suit everyone’s needs.</p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element  block_1463063670281">
                                                        <div class="wpb_wrapper">
                                                            <p>We are a professional home and online music school offering lessons for children, adults and seniors.</p>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element  block_1462455262402">
                                                        <div class="wpb_wrapper">
                                                            <p>Cheza Music School</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                <section class="related_wrap related_wrap_empty"></section>
            </div>
        </div>
    </div>

{% endblock %}
