{% extends 'public_base.html.twig' %}
{% set nav_type = 'half' %}
{% block title %}Private Classes{% endblock %}
{% block slider %}{% endblock %}

{% block body %}
    <div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
            <div class="content_wrap">
                <h1 class="page_title">Classes</h1>
                <div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Classes</span></div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap page_paddings_no">
        <div class="c_wrap">
            <div class="content">
                <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-597 page type-page hentry">
                    <section class="post_content" itemprop="articleBody">
                        <div class="vc_row wpb_row">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner block_1462966320193">
                                    <div class="wrap">
                                        <div class="sc_section">
                                            <div class="sc_section_inner">
                                                <h1 class="sc_section_title sc_item_title">Classes</h1>
                                                <h6 class="sc_section_subtitle sc_item_subtitle">and groups</h6>
                                                <div class="sc_section_content_wrap">
                                                    <div id="sc_services_1477238865_wrap" class="sc_services_wrap">
                                                        <div id="sc_services_1477238865" class="sc_services sc_services_style_services-2 sc_services_type_images  margin_top_large margin_bottom_large">
                                                            <div id="sc_services_1477238865_1" class="sc_services_item sc_services_item_1 odd first">
                                                                <div class="sc_services_item_featured post_featured">
                                                                    <div class="post_thumb" data-image="{{asset('publicsite/images/services-3.jpg')}}" data-title="Kids">
                                                                        <a class="hover_icon hover_icon_link" href="#"><img class="wp-post-image" width="370" height="250" alt="Kids" src="{{asset('publicsite/images/services-3-370x250.jpg')}}"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_services_item_content">
                                                                    <h2 class="sc_services_item_title"><a href="#">Kids</a></h2>
                                                                    <div class="sc_services_item_description">
                                                                        <p>
                                                                            <p>Our school is a solution for families who would like to expose their children to the world of music.Lorem ipsum dolor sit amet, mel modus dicam eleifend at. His te alienum omittantur, vix an fugit saepe sensibus. Ei timeam perpetua
                                                                                cum. Viderer scripserit usu eu. Labitur partiendo vix te, his congue intellegam necessitatibus in.<br/> Vim quod doming antiopam eu, te mea inermis epicurei reformidans. Id per appetere insolens constituam. Ea odio modo audiam duo,
                                                                                ut wisi verear utroque eos. No eum option tibique constituam, vix no ipsum errem. Ut sed aeque essent, ei partiendo delicatissimi nec.</p>
                                                                        </p><a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a> </div>
                                                                </div>
                                                            </div>
                                                            <div id="sc_services_1477238865_2" class="sc_services_item sc_services_item_2 even">
                                                                <div class="sc_services_item_featured post_featured">
                                                                    <div class="post_thumb" data-image="{{asset('publicsite/images/services-2.jpg')}}" data-title="Teens">
                                                                        <a class="hover_icon hover_icon_link" href="#"><img class="wp-post-image" width="370" height="250" alt="Teens" src="{{asset('publicsite/images/services-2-370x250.jpg')}}"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_services_item_content">
                                                                    <h2 class="sc_services_item_title"><a href="#">Teens</a></h2>
                                                                    <div class="sc_services_item_description">
                                                                        <p>
                                                                            <p>Our classes help to develop the skills necessary for music learning and a lifelong enjoyment of music. Lorem ipsum dolor sit amet, mel modus dicam eleifend at. His te alienum omittantur, vix an fugit saepe sensibus. Ei timeam perpetua
                                                                                cum. Viderer scripserit usu eu. Labitur partiendo vix te, his congue intellegam necessitatibus in.<br/> Vim quod doming antiopam eu, te mea inermis epicurei reformidans. Id per appetere insolens constituam. Ea odio modo audiam duo,
                                                                                ut wisi verear utroque eos. No eum option tibique constituam, vix no ipsum errem. Ut sed aeque essent, ei partiendo delicatissimi nec.</p>
                                                                        </p><a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a> </div>
                                                                </div>
                                                            </div>
                                                            <div id="sc_services_1477238865_3" class="sc_services_item sc_services_item_3 odd">
                                                                <div class="sc_services_item_featured post_featured">
                                                                    <div class="post_thumb" data-image="{{asset('publicsite/images/services-1.jpg')}}" data-title="Adults">
                                                                        <a class="hover_icon hover_icon_link" href="#"><img class="wp-post-image" width="370" height="250" alt="Adults" src="{{asset('publicsite/images/services-1-370x250.jpg')}}"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_services_item_content">
                                                                    <h2 class="sc_services_item_title"><a href="#">Adults</a></h2>
                                                                    <div class="sc_services_item_description">
                                                                        <p>
                                                                            <p>We have programs for everyone. In addition to teaching music to children, we instruct adults and seniors. Lorem ipsum dolor sit amet, mel modus dicam eleifend at. His te alienum omittantur, vix an fugit saepe sensibus. Ei timeam perpetua
                                                                                cum. Viderer scripserit usu eu. Labitur partiendo vix te, his congue intellegam necessitatibus in.<br/> Vim quod doming antiopam eu, te mea inermis epicurei reformidans. Id per appetere insolens constituam. Ea odio modo audiam duo,
                                                                                ut wisi verear utroque eos. No eum option tibique constituam, vix no ipsum errem. Ut sed aeque essent, ei partiendo delicatissimi nec.</p>
                                                                        </p><a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a> </div>
                                                                </div>
                                                            </div>
                                                            <div id="sc_services_1477238865_4" class="sc_services_item sc_services_item_4 even">
                                                                <div class="sc_services_item_featured post_featured">
                                                                    <div class="post_thumb" data-image="{{asset('publicsite/images/image-7.jpg')}}" data-title="Private lessons">
                                                                        <a class="hover_icon hover_icon_link" href="#"><img class="wp-post-image" width="370" height="250" alt="Private lessons" src="{{asset('publicsite/images/image-7-370x250.jpg')}}"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_services_item_content">
                                                                    <h2 class="sc_services_item_title"><a href="#">Private lessons</a></h2>
                                                                    <div class="sc_services_item_description">
                                                                        <p>
                                                                            <p>Private music lessons provide one-on-one attention, so teachers can focus on an individual student’s needs. Lorem ipsum dolor sit amet, mel modus dicam eleifend at. His te alienum omittantur, vix an fugit saepe sensibus. Ei timeam
                                                                                perpetua cum. Viderer scripserit usu eu. Labitur partiendo vix te, his congue intellegam necessitatibus in.<br/> Vim quod doming antiopam eu, te mea inermis epicurei reformidans. Id per appetere insolens constituam. Ea odio modo
                                                                                audiam duo, ut wisi verear utroque eos. No eum option tibique constituam, vix no ipsum errem. Ut sed aeque essent, ei partiendo delicatissimi nec.</p>
                                                                        </p><a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner block_1462871605781">
                                    <div class="wrap">
                                        <div class="sc_section">
                                            <div class="sc_section_inner">
                                                <h1 class="sc_section_title sc_item_title">Musical Instruments</h1>
                                                <h6 class="sc_section_subtitle sc_item_subtitle">classes</h6>
                                                <div class="sc_section_content_wrap">
                                                    <div id="sc_services_1762700759_wrap" class="sc_services_wrap">
                                                        <div id="sc_services_1762700759" class="sc_services sc_services_style_services-1 sc_services_type_icons  margin_top_medium margin_bottom_medium">
                                                            <div class="sc_columns columns_wrap">
                                                                {% for instrument in data.instruments %}<div class="column-1_4 column_padding_bottom">
                                                                    <div id="sc_services_1762700759_1" class="sc_services_item sc_services_item_1 odd first">
                                                                        <a href="{{path('app_register', {'usertype': 'student', 'instrument': instrument.id})}}"><span class="sc_icon"><img src="{{asset(instrument.image)}}" /></span></a>
                                                                        <div class="sc_services_item_content">
                                                                            <h3 class="sc_services_item_title"><a href="{{path('app_register', {'usertype': 'student', 'instrument': instrument.id})}}">{{instrument.name}}</a></h3>
                                                                            <div class="sc_services_item_description">
                                                                                <p>{{instrument.description|slice(0,55)|raw}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>{% endfor %}{% for instrument in data.courses %}<div class="column-1_4 column_padding_bottom">
                                                                    <div id="sc_services_1762700759_1" class="sc_services_item sc_services_item_1 odd first">
                                                                        <a href="{{path('app_register', {'usertype': 'student', 'instrument': instrument.id})}}"><span class="sc_icon"><img src="{{asset(instrument.image)}}" /></span></a>
                                                                        <div class="sc_services_item_content">
                                                                            <h3 class="sc_services_item_title"><a href="{{path('app_register', {'usertype': 'student', 'instrument': instrument.id})}}">{{instrument.name}}</a></h3>
                                                                            <div class="sc_services_item_description">
                                                                                <p>{{instrument.description|slice(0,55)|raw}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>{% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </article>
                <section class="related_wrap related_wrap_empty"></section>
            </div>
        </div>
    </div>

{% endblock %}
