{% extends 'public_base.html.twig' %}
{% set nav_type = 'half' %}
{% block slider %}{% endblock %}

{% block body %}
    <div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
            <div class="content_wrap">
                <h1 class="page_title">Contact</h1>
                <div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Contact</span></div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap page_paddings_no">
        <div class="c_wrap">
            <div class="content">
                <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-147 page type-page hentry">
                    <section class="post_content" itemprop="articleBody">

                        <div class="vc_row wpb_row">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wrap">
                                        <div class="sc_section aligncenter" style="max-width: 770px;">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_content_wrap">
                                                    <div id="sc_form_1974660877_wrap" class="sc_form_wrap">
                                                        <div id="sc_form_1974660877" class="sc_form sc_form_style_form_1 margin_top_large margin_bottom_huge contact_form_1">
                                                            <h1 class="sc_form_title sc_item_title">Contact Us</h1>
                                                            <h6 class="sc_section_subtitle sc_item_subtitle">Call us on 0711832933 or fill the form below</h6>                                                            
                                                            <form id="sc_form_1974660877_form" class="contact_1" method="post" action="include/contact-form.php">
                                                                <div class="sc_form_info">
                                                                    <div class="sc_form_item sc_form_field label_over"><label class="required" for="contact_form_username">Name</label><input id="contact_form_username" type="text" name="name" placeholder="Name *"></div>
                                                                    <div class="sc_form_item sc_form_field label_over"><label class="required" for="contact_form_subj">Subject</label><input id="contact_form_subj" type="text" name="subject" placeholder="Subject *"></div>
                                                                </div>
                                                                <div class="sc_form_item sc_form_field label_over"><label class="required" for="contact_form_email">E-mail</label><input id="contact_form_email" type="text" name="email" placeholder="E-mail *"></div>
                                                                <div class="sc_form_item sc_form_message label_over"><label class="required" for="contact_form_message">Message</label><textarea id="contact_form_message" name="message" placeholder="Message *"></textarea></div>
                                                                <div class="sc_form_item sc_form_button"><button type="button" name="contact_submit" id="contact_submit" class="contact_form_submit">Send Message</button></div>
                                                                <div class="result sc_infobox"></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
                <section class="related_wrap related_wrap_empty"></section>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script type='text/javascript' src="{{asset('publicsite/js/custom/_form_contact.js')}}"></script>
{% endblock %}