{% extends 'public_base.html.twig' %}
{% set nav_type = 'full' %}
{% block title %}Cheza Music School{% endblock %}

{% block body %}
<div class="page_content_wrap page_paddings_no">
    <div class="content_wr">
        <div class="content">
            <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-301 page type-page hentry">
                <section class="post_content" itemprop="articleBody">
                    <div class="vc_row wpb_row vc_row-fluid accent1_bg">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wrap">
                                    <div id="sc_call_to_action_730112356" class="sc_call_to_action sc_call_to_action_accented sc_call_to_action_style_2 sc_call_to_action_align_left">
                                        <div class="columns_wrap">
                                            <div class="sc_call_to_action_info column-3_4">
                                                <h1 class="sc_call_to_action_title sc_item_title">0711 832 933</h1>
                                                <div class="sc_call_to_action_descr sc_item_descr">We offer music education for individuals of just about every age and skill level.</div>
                                            </div><div class="sc_call_to_action_buttons sc_item_buttons column-1_4">
                                                <div class="sc_call_to_action_button sc_item_button"><a href="{{path('about')}}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small style_color_dark_hover ">Learn More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <form method="get" action="{{path('app_register', {'usertype': 'student'})}}">
                                    <h2  class="sc_section_title sc_item_title">Which instrument / course would you like to do?</h2>
                                    <div class="sc_call_to_action_descr sc_item_descr">Please select one instrument / course below to enroll and get lessons from one of our qualified teachers.&nbsp;</div>
                                    <div class="sc_section sc_section_block ">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                    <div class="wpb_wrapper">
                                                        <div class="sc_call_to_action_descr sc_item_descr">
                                                            
                                                                <select name="instrument">
                                                                    <optgroup label="Instruments">
                                                                        {% for ins in data.instruments %}
                                                                            <option value="{{ins.id}}">{{ins.name}}</option>
                                                                        {% endfor %}
                                                                    </optgroup>
                                                                    <optgroup label="Courses">
                                                                        {% for ins in data.courses %}
                                                                            <option value="{{ins.id}}">{{ins.name}}</option>
                                                                        {% endfor %}                                    
                                                                    </optgroup>
                                                                    <optgroup label="Group Classes ">
                                                                        {% for ins in data.traditional %}
                                                                            <option value="{{ins.id}}">{{ins.name}}</option>
                                                                        {% endfor %}
                                                                    </optgroup>
                                                                </select>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_call_to_action_descr sc_item_descr ">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap"><button type="submit" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small red">Continue to registration</button></div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner block_1462864288916">
                                <div class="wrap">
                                    <div class="sc_promo margin_top_huge margin_bottom_huge sc_promo_size_large">
                                        <div class="sc_promo_inner">
                                            <div class="sc_promo_image" style="background-image:url(publicsite/images/banner2.jpg);width:49%;left: 0;"></div>
                                            <div class="sc_promo_block sc_align_left" style="width: 51%; float: right;">
                                                <div class="sc_promo_block_inner">
                                                    <h1 class="sc_promo_title sc_item_title">Home Music Lessons</h1>
                                                    <div class="sc_promo_descr sc_item_descr">Your teacher will be coming to your home to offer lessons at your convenient time and place.<br /><br />We offer 30 minutes, 45 minutes and hourly lessons on playing / singing music. We teach various musical instruments, and music theory.<br/><br/> We offer lessons to students of all ages and skill levels – including beginners!.<br /><br />Fees: 60 Minute lessons - KES 21,600 per term, 45 Minute lessons - KES 16,200 per term, 30 Minute lessons - KES 10,800 per term.</div>
                                                    <div class="sc_promo_button sc_item_button"><a href="{{path('app_register', {'usertype': 'student'})}}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Register now</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid block_1462865672215">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner block_1462867913397">
                                <div class="wrap">
                                    <div class="sc_section">
                                        <div class="sc_section_inner">
                                            <h1 class="sc_section_title sc_item_title">Music Groups</h1>
                                            <h6 class="sc_section_subtitle sc_item_subtitle">for</h6>
                                            <div class="sc_section_content_wrap">
                                                <div id="sc_services_1232094271_wrap" class="sc_services_wrap">
                                                    <div id="sc_services_1232094271" class="sc_services sc_services_style_services-1 sc_services_type_images  margin_top_medium">
                                                        <div class="sc_columns columns_wrap">
                                                            <div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_services_1232094271_1" class="sc_services_item sc_services_item_1 odd first">
                                                                    <div class="sc_services_item_featured post_featured">
                                                                        <div class="post_thumb" data-image="{{asset('publicsite/images/services-3.jpg')}}" data-title="Kids">
                                                                            <a class="hover_icon hover_icon_link" href="{{path('app_register', {'usertype': 'student'})}}"><img class="wp-post-image" width="370" height="370" alt="Kids" src="{{asset('publicsite/images/services-3-370x370.jpg')}}"></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="sc_services_item_content">
                                                                        <h3 class="sc_services_item_title"><a href="{{path('app_register', {'usertype': 'student'})}}">Kids</a></h3>
                                                                        <div class="sc_services_item_description">
                                                                            <p>Our school is a solution for families who would like to expose their children to the world of music. We teach children from 3 and a half years old.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_services_1232094271_2" class="sc_services_item sc_services_item_2 even">
                                                                    <div class="sc_services_item_featured post_featured">
                                                                        <div class="post_thumb" data-image="{{asset('publicsite/images/services-2.jpg')}}" data-title="Teens">
                                                                            <a class="hover_icon hover_icon_link" href="{{path('app_register', {'usertype': 'student'})}}"><img class="wp-post-image" width="370" height="370" alt="Teens" src="{{asset('publicsite/images/services-2-370x370.jpg')}}"></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="sc_services_item_content">
                                                                        <h3 class="sc_services_item_title"><a href="{{path('app_register', {'usertype': 'student'})}}">Teens</a></h3>
                                                                        <div class="sc_services_item_description">
                                                                            <p>Our one-on-one classes help to develop the skills necessary for music learning and a lifelong enjoyment of music. We help develop musical talents.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_services_1232094271_3" class="sc_services_item sc_services_item_3 odd">
                                                                    <div class="sc_services_item_featured post_featured">
                                                                        <div class="post_thumb" data-image="{{asset('publicsite/images/services-1.jpg')}}" data-title="Adults">
                                                                            <a class="hover_icon hover_icon_link" href="{{path('app_register', {'usertype': 'student'})}}"><img class="wp-post-image" width="370" height="370" alt="Adults" src="{{asset('publicsite/images/services-1-370x370.jpg')}}"></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="sc_services_item_content">
                                                                        <h3 class="sc_services_item_title"><a href="{{path('app_register', {'usertype': 'student'})}}">Adults</a></h3>
                                                                        <div class="sc_services_item_description">
                                                                            <p>We have programs for everyone. In addition to teaching music to children, we instruct adults and seniors. It is never too late to learn an instrument.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_services_1232094271_4" class="sc_services_item sc_services_item_4 even">
                                                                    <div class="sc_services_item_featured post_featured">
                                                                        <div class="post_thumb" data-image="{{asset('publicsite/images/image-7.jpg')}}" data-title="Private lessons">
                                                                            <a class="hover_icon hover_icon_link" href="{{path('app_register', {'usertype': 'student'})}}"><img class="wp-post-image" width="370" height="370" alt="Private lessons" src="{{asset('publicsite/images/image-7-370x370.jpg')}}"></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="sc_services_item_content">
                                                                        <h3 class="sc_services_item_title"><a href="{{path('app_register', {'usertype': 'student'})}}">Group lessons</a></h3>
                                                                        <div class="sc_services_item_description">
                                                                            <p>Besides private music lessons which provide one-on-one attention, we also have group classes for people who may find it convenient to learn in groups.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="sc_parallax" data-parallax-speed="0.1" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
                                        <div class="sc_parallax_content" style="background-image:url(publicsite/images/bg1-Parallax.jpg); background-position:50% 50%;">
                                            <div id="sc_call_to_action_2124828265" class="sc_call_to_action sc_call_to_action_style_1 sc_call_to_action_align_center margin_top_huge margin_bottom_large color_style_light" style="margin: auto; max-width: 500px;width:100%;">
                                                <div class="sc_call_to_action_info">
                                                    <h1 class="sc_call_to_action_title sc_item_title">About Us</h1>
                                                    <div class="sc_call_to_action_descr sc_item_descr">Cheza Music School is designed to make music lessons as accessible to you as possible. <br /><br />After you <a href="{{path('app_register', {'usertype': 'student'})}}">register</a>, we assign you (or you optionally choose) a teacher who will be coming to your home (or other convenient place) to teach you or your kid on the instrument of your choice, and at your convenient time.<br /><br />Fees: 60 Minute lessons - KES 21,600 per term, 45 Minute lessons - KES 16,200 per term, 30 Minute lessons - KES 10,800 per term.</div>
                                                    <div class="sc_call_to_action_buttons sc_item_buttons">
                                                        <div class="sc_call_to_action_button sc_item_button"><a href="{{path('app_register', {'usertype': 'student'})}}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small style_color_dark_hover ">Register now</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 1.7em"><span class="vc_empty_space_inner"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_row wpb_row vc_row-fluid block_1462868235830">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner block_1462870427941">
                                <div class="wrap">
                                    <div class="sc_section">
                                        <div class="sc_section_inner">
                                            <h1 class="sc_section_title sc_item_title">Competency Based Curriculum Music Lessons</h1>
                                            <h6 class="sc_section_subtitle sc_item_subtitle">video</h6>
                                            <div class="sc_section_content_wrap">
                                                <div id="pop_video" class="sc_popup mfp-with-anim mfp-hide">
                                                    <div class="sc_video_player">
                                                        <div class="sc_video_frame" data-width="100%" data-height="659">
                                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/6MIbIZrLs1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_section sc_section_block margin_top_medium margin_bottom_null aligncenter" style="max-width: 831px;background-image:url(publicsite/images/banner1.jpg);background-repeat:no-repeat;background-size:cover;">
                                                    <div class="sc_section_inner">
                                                        <div class="sc_section_overlay" style="">
                                                            <div class="sc_section_content padding_on" style="">
                                                                <div class="sc_section_content_wrap">
                                                                    <a href="#pop_video" target="#pop_video" class="sc_button sc_button_round sc_button_style_filled sc_button_size_large  sc_button_iconed icon-play sc_popup_link" style="margin-top: 7rem; margin-bottom: 7rem;"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner block_1462871605781">
                                <div class="wrap">
                                    <div class="sc_section">
                                        <div class="sc_section_inner">
                                            <h1 class="sc_section_title sc_item_title">Musical Instruments</h1>
                                            <h6 class="sc_section_subtitle sc_item_subtitle">classes</h6>
                                            <div class="sc_section_content_wrap">
                                                <div id="sc_services_1762700759_wrap" class="sc_services_wrap">
                                                    <div id="sc_services_1762700759" class="sc_services sc_services_style_services-1 sc_services_type_icons  margin_top_medium margin_bottom_medium">
                                                        <div class="sc_columns columns_wrap">
                                                            {% for instrument in data.instruments %}<div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_services_1762700759_1" class="sc_services_item sc_services_item_1 odd first">
                                                                    <a href="{{path('app_register', {'usertype': 'student', 'instrument': instrument.id})}}"><span class="sc_icon"><img src="{{asset(instrument.image)}}" alt="{{instrument.name}}" /></span></a>
                                                                    <div class="sc_services_item_content">
                                                                        <h3 class="sc_services_item_title"><a href="{{path('app_register', {'usertype': 'student', 'instrument': instrument.id})}}">{{instrument.name}}</a></h3>
                                                                        <div class="sc_services_item_description">
                                                                            <p>{{instrument.description|slice(0,55)|raw}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>{% endfor %}{% for instrument in data.courses %}<div class="column-1_4 column_padding_bottom">
                                                                <div id="sc_services_1762700759_1" class="sc_services_item sc_services_item_1 odd first">
                                                                    <a href="{{path('app_register', {'usertype': 'student', 'instrument': instrument.id})}}"><span class="sc_icon"><img src="{{asset(instrument.image)}}" /></span></a>
                                                                    <div class="sc_services_item_content">
                                                                        <h3 class="sc_services_item_title"><a href="{{path('app_register', {'usertype': 'student', 'instrument': instrument.id})}}">{{instrument.name}}</a></h3>
                                                                        <div class="sc_services_item_description">
                                                                            <p>{{instrument.description|slice(0,55)|raw}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>{% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="sc_parallax" data-parallax-speed="0" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
                                        <div class="sc_parallax_content" style="background-image:url(publicsite/images/bg2-Parallax.jpg); background-position:50% 50%;">
                                            <div class="sc_content content_wrap">
                                                <h1 class="sc_title sc_title_regular sc_align_center margin_top_huge" style="margin-bottom: 1.55rem;text-align:center;color:#ffffff;">Cheza Music School</h1>
                                                <div class="sc_section aligncenter" style="max-width: 590px;">
                                                    <div class="sc_section_inner">
                                                        <div class="sc_section_content_wrap"><span class="sc_highlight" style="color:#ffffff;font-size:1.3846em; line-height: 1.4em;">We have talented and very experienced instructors who teach piano, violin, guitar, music theory, and other instruments.</span></div>
                                                    </div>
                                                </div>
                                                <div id="sc_skills_diagram_146952702" class="sc_skills sc_skills_counter margin_bottom_large" style="margin-top: 1.5rem;" data-type="counter" data-caption="Skills">
                                                    <div class="columns_wrap sc_skills_columns sc_skills_columns_4">
                                                        <div class="sc_skills_column column-1_4">
                                                            <div class="sc_skills_item sc_skills_style_2 odd first">
                                                                <div class="sc_skills_icon none"></div>
                                                                <div class="sc_skills_count"></div>
                                                                <div class="sc_skills_total" data-start="0" data-stop="231" data-step="2" data-max="231" data-speed="17" data-duration="1964" data-ed="">0</div>
                                                                <div class="sc_skills_info">
                                                                    <div class="sc_skills_label">Students</div>
                                                                </div>
                                                            </div>
                                                        </div><div class="sc_skills_column column-1_4">
                                                            <div class="sc_skills_item sc_skills_style_2 even">
                                                                <div class="sc_skills_icon none"></div>
                                                                <div class="sc_skills_count"></div>
                                                                <div class="sc_skills_total" data-start="0" data-stop="14" data-step="2" data-max="231" data-speed="36" data-duration="252" data-ed="">0</div>
                                                                <div class="sc_skills_info">
                                                                    <div class="sc_skills_label">Teachers</div>
                                                                </div>
                                                            </div>
                                                        </div><div class="sc_skills_column column-1_4">
                                                            <div class="sc_skills_item sc_skills_style_2 odd">
                                                                <div class="sc_skills_icon none"></div>
                                                                <div class="sc_skills_count"></div>
                                                                <div class="sc_skills_total" data-start="0" data-stop="8" data-step="2" data-max="231" data-speed="17" data-duration="272" data-ed="">0</div>
                                                                <div class="sc_skills_info">
                                                                    <div class="sc_skills_label">Programmes</div>
                                                                </div>
                                                            </div>
                                                        </div><div class="sc_skills_column column-1_4">
                                                            <div class="sc_skills_item sc_skills_style_2 even">
                                                                <div class="sc_skills_icon none"></div>
                                                                <div class="sc_skills_count"></div>
                                                                <div class="sc_skills_total" data-start="0" data-stop="50" data-step="2" data-max="231" data-speed="29" data-duration="305" data-ed="">0</div>
                                                                <div class="sc_skills_info">
                                                                    <div class="sc_skills_label">Testimonials</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space" style="height: 1.7em"><span class="vc_empty_space_inner"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_row wpb_row vc_row-fluid accent1_bg events">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner block_1462873683550">
                                <div class="wrap">
                                    <div class="sc_section alignleft">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <h1 class="sc_title sc_title_regular" style="margin-top: 0.65rem;color:#ffffff;">Next Event</h1></div>
                                        </div>
                                    </div>
                                    <div class="sc_section margin_top_null margin_left_small alignleft">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <h1 class="sc_title sc_title_regular sc_align_center margin_bottom_null" style="margin-top: 1rem;text-align:center;color:#ffffff;font-size:3.23em;">03</h1>
                                                <h3 class="sc_title sc_title_regular" style="text-transform: uppercase; margin-top: -0.8em;color:#ffffff;font-size:1.077em;">Apr 2022</h3></div>
                                        </div>
                                    </div>
                                    <div class="sc_section margin_left_medium alignleft" style="max-width: 550px;">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap"><span class="sc_highlight" style="color:#ffffff;font-size:1.3846em; line-height: 1.4em;">Sightreading Seminar<br/>One week of reading music! Join us for a journey for beginners as we learn to read music in 3 hour group lessons.</span></div>
                                        </div>
                                    </div>
                                    <div class="sc_section alignleft">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap"><a href="{{path('app_register', {'usertype': 'student'})}}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_medium style_color_dark_hover" style="margin-top: 0.85rem;">Learn More</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner block_1462874272918">
                                <div class="wrap">
                                    <div class="sc_section">
                                        <div class="sc_section_inner">
                                            <h1 class="sc_section_title sc_item_title">Latest Articles</h1>
                                            <h6 class="sc_section_subtitle sc_item_subtitle">blog</h6>
                                            <div class="sc_section_content_wrap">
                                                <div id="sc_blogger_357343168" class="sc_blogger layout_classic_3 template_masonry margin_top_medium margin_bottom_large  sc_blogger_horizontal">
                                                    <div class="isotope_wrap" data-columns="3">
                                                    {% for post in data.posts %}
                                                        <div class="isotope_item isotope_item_classic isotope_item_classic_3 isotope_column_3					">
                                                            <div class="post_item post_item_classic post_item_classic_3				  post_format_standard odd">
                                                                <div class="post_featured">
                                                                    <div class="post_thumb" data-image="{{asset('dist/assets/images/' ~ post.image )}}" data-title="International Piano Festival">
                                                                        <a class="hover_icon hover_icon_link" href="{{path('post_show', {'id': post.id, 'title': post.title} )}}"><img class="wp-post-image" width="370" height="254" alt="International Piano Festival" src="{{asset('dist/assets/images/' ~ post.image )}}"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="post_content isotope_item_content">
                                                                    <div class="post_info">
                                                                        <span class="post_info_item post_info_posted"> <a href="{{path('post_show', {'id': post.id, 'title': post.title} )}}" class="post_info_date">{{post.createdAt|date('F j, Y')}}</a></span>
                                                                    </div>
                                                                    <h3 class="post_title"><a href="{{path('post_show', {'id': post.id, 'title': post.title} )}}">{{post.title}}</a></h3>
                                                                    <div class="post_descr">
                                                                        <p>{{post.content|slice(0,200)|striptags}}..</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="sc_parallax" data-parallax-speed="0.15" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
                                        <div class="sc_parallax_content" style="background-image:url(publicsite/images/bg3-Parallax.jpg); background-position:50% 50%;">
                                            <div class="sc_content content_wrap margin_top_huge margin_bottom_huge">
                                                <div id="sc_testimonials_22531939" class="sc_testimonials sc_testimonials_style_testimonials-1  no_image">
                                                    <div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_controls sc_slider_controls_side" data-interval="5235" data-slides-min-width="250">
                                                        <div class="slides swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <div id="sc_testimonials_22531939_1" class="sc_testimonial_item">
                                                                    <div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Louise Flores" src="{{asset('publicsite/images/testimonials-2-184x184.jpg')}}"></div>
                                                                    <div class="sc_testimonial_content">
                                                                        <p>My son has been taking piano and guitar lessons for more than a year. He loves his teachers and I can tell that they really care about my kid too. Your music school is wonderful and I highly recommend.</p>
                                                                    </div>
                                                                    <div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Mary</span><span class="sc_testimonial_author_position"> / parent</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div id="sc_testimonials_22531939_2" class="sc_testimonial_item">
                                                                    <div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Diana Jones" src="{{asset('publicsite/images/testimonials-1-184x184.jpg')}}"></div>
                                                                    <div class="sc_testimonial_content">
                                                                        <p>The school has everything that children need for successful study: textbooks, daily assignments, planner, notebooks, music sheets, a staff who are very nice and kind, and ready to help at any time.</p>
                                                                    </div>
                                                                    <div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Martha</span><span class="sc_testimonial_author_position"> / parent</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div id="sc_testimonials_22531939_3" class="sc_testimonial_item">
                                                                    <div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Martin Wood" src="{{asset('publicsite/images/testimonials-3-184x184.jpg')}}"></div>
                                                                    <div class="sc_testimonial_content">
                                                                        <p>I am most grateful that my son's guitar teacher not only makes learning fun and shares his knowledge, but his passion for music as well. I could not have found a better place for him to learn guitar.</p>
                                                                    </div>
                                                                    <div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Kelvin</span><span class="sc_testimonial_author_position"> / parent</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_slider_controls_wrap">
                                                            <a class="sc_slider_prev" href="#"></a>
                                                            <a class="sc_slider_next" href="#"></a>
                                                        </div>
                                                        <div class="sc_slider_pagination_wrap"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner block_1462879879894">
                                <div class="wrap">
                                    <div class="sc_section aligncenter" style="max-width: 1020px;">
                                        <div class="sc_section_inner">
                                            <h1 class="sc_section_title sc_item_title">Featured Teachers</h1>
                                            <h6 class="sc_section_subtitle sc_item_subtitle">staff</h6>
                                            <div class="sc_section_content_wrap">
                                                <div id="sc_team_1886262499_wrap" class="sc_team_wrap">
                                                    <div id="sc_team_1886262499" class="sc_team sc_team_style_team-1  margin_top_medium margin_bottom_medium">
                                                        <div class="sc_columns columns_wrap">
                                                            <div class="column-1_3 column_padding_bottom">
                                                                <div id="sc_team_1886262499_1" class="sc_team_item sc_team_item_1 odd first">
                                                                    <div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Tim Caroll" src="{{asset('img/carla.jpeg')}}"></div>
                                                                    <div class="sc_team_item_info">
                                                                        <h3 class="sc_team_item_title"><a href="https://muske.co.ke/Carla">Carla Kwini</a></h3>
                                                                        <div class="sc_team_item_position">Piano, Violin, Music Theory, Singing</div>
                                                                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
                                                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
                                                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="column-1_3 column_padding_bottom">
                                                                <div id="sc_team_1886262499_2" class="sc_team_item sc_team_item_2 even">
                                                                    <div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Amanda Snow" src="{{asset('img/john.jpeg')}}"></div>
                                                                    <div class="sc_team_item_info">
                                                                        <h3 class="sc_team_item_title"><a href="https://muske.co.ke/Johnvessi">John Maina</a></h3>
                                                                        <div class="sc_team_item_position">Piano, Violin, Recorder, Music Theory, Voice</div>
                                                                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
                                                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
                                                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="column-1_3 column_padding_bottom">
                                                                <div id="sc_team_1886262499_3" class="sc_team_item sc_team_item_3 odd">
                                                                    <div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Terry Barton" src="{{asset('img/ouma.jpeg')}}"></div>
                                                                    <div class="sc_team_item_info">
                                                                        <h3 class="sc_team_item_title"><a href="#">Ouma Benjah</a></h3>
                                                                        <div class="sc_team_item_position">Music Theory, Recorder, Singing</div>
                                                                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
                                                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
                                                                            <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid accent1_bg vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner block_1462453368897">
                                <div class="wrap">
                                    <div class="sc_content content_wrap">
                                        <div id="sc_clients_1528072599_wrap" class="sc_clients_wrap">
                                            <div id="sc_clients_1528072599" class="sc_clients sc_clients_style_clients-1  margin_top_small margin_bottom_small">
                                                <div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_nocontrols" data-interval="7534" data-slides-per-view="6" data-slides-min-width="100">
                                                    <div class="slides swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div id="sc_clients_1528072599_1" class="sc_clients_item sc_clients_item_1 odd first">
                                                                <div class="sc_client_image"><img class="wp-post-image" alt="Client1" src="{{asset('publicsite/images/example_logo_1.png')}}"></div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div id="sc_clients_1528072599_2" class="sc_clients_item sc_clients_item_2 even">
                                                                <div class="sc_client_image"><img class="wp-post-image" alt="Client2" src="{{asset('publicsite/images/example_logo_2.png')}}"></div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div id="sc_clients_1528072599_3" class="sc_clients_item sc_clients_item_3 odd">
                                                                <div class="sc_client_image"><img class="wp-post-image" alt="Client3" src="{{asset('publicsite/images/example_logo_4.png')}}"></div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div id="sc_clients_1528072599_4" class="sc_clients_item sc_clients_item_4 even">
                                                                <div class="sc_client_image"><img class="wp-post-image" alt="Client4" src="{{asset('publicsite/images/example_logo_6.png')}}"></div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div id="sc_clients_1528072599_5" class="sc_clients_item sc_clients_item_5 odd">
                                                                <div class="sc_client_image"><img class="wp-post-image" alt="Client5" src="{{asset('publicsite/images/example_logo_5.png')}}"></div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div id="sc_clients_1528072599_6" class="sc_clients_item sc_clients_item_6 even">
                                                                <div class="sc_client_image"><img class="wp-post-image" alt="Client6" src="{{asset('publicsite/images/example_logo_3.png')}}"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sc_slider_controls_wrap">
                                                        <a class="sc_slider_prev" href="#"></a>
                                                        <a class="sc_slider_next" href="#"></a>
                                                    </div>
                                                    <div class="sc_slider_pagination_wrap"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# <div class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <article class="myportfolio-container minimal-light" id="esg-grid-4-1-wrap">
                                        <div id="esg-grid-4-1" class="esg-grid">
                                            <ul>
                                                <li class="filterall filter-news eg-melody-wrapper eg-post-id-439" data-date="1462880506">
                                                    <div class="esg-media-cover-wrapper">
                                                        <div class="esg-entry-media"><img src="{{asset('publicsite/images/image-4-1.jpg')}}" alt=""></div>
                                                        <div class="esg-entry-cover esg-fade" data-delay="0">
                                                            <div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
                                                            <div class="esg-center eg-post-439 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-439 esgbox" href="publicsite/images/image-4-1.jpg')}}" lgtitle="The 9 Different Types of music degrees"><i class="eg-icon-search"></i></a></div>


                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="filterall filter-news eg-melody-wrapper eg-post-id-441" data-date="1462880562">
                                                    <div class="esg-media-cover-wrapper">
                                                        <div class="esg-entry-media"><img src="{{asset('publicsite/images/image-18.jpg')}}" alt=""></div>
                                                        <div class="esg-entry-cover esg-fade" data-delay="0">
                                                            <div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
                                                            <div class="esg-center eg-post-441 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-441 esgbox" href="publicsite/images/image-18.jpg')}}" lgtitle="5 Secrets to Mastering music college audition"><i class="eg-icon-search"></i></a></div>


                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="filterall filter-news eg-melody-wrapper eg-post-id-442" data-date="1462880562">
                                                    <div class="esg-media-cover-wrapper">
                                                        <div class="esg-entry-media"><img src="{{asset('publicsite/images/image-5.jpg')}}" alt=""></div>
                                                        <div class="esg-entry-cover esg-fade" data-delay="0">
                                                            <div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
                                                            <div class="esg-center eg-post-442 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-442 esgbox" href="publicsite/images/image-5.jpg')}}" lgtitle="The Top 8 Colleges for music education"><i class="eg-icon-search"></i></a></div>


                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="filterall filter-news eg-melody-wrapper eg-post-id-443" data-date="1462880565">
                                                    <div class="esg-media-cover-wrapper">
                                                        <div class="esg-entry-media"><img src="{{asset('publicsite/images/image-17.jpg')}}" alt=""></div>
                                                        <div class="esg-entry-cover esg-fade" data-delay="0">
                                                            <div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
                                                            <div class="esg-center eg-post-443 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-443 esgbox" href="publicsite/images/image-17.jpg')}}" lgtitle="The World's Greatest orchestras"><i class="eg-icon-search"></i></a></div>


                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="filterall filter-news eg-melody-wrapper eg-post-id-444" data-date="1462880567">
                                                    <div class="esg-media-cover-wrapper">
                                                        <div class="esg-entry-media"><img src="{{asset('publicsite/images/image-8.jpg')}}" alt=""></div>
                                                        <div class="esg-entry-cover esg-fade" data-delay="0">
                                                            <div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
                                                            <div class="esg-center eg-post-444 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-444 esgbox" href="publicsite/images/image-8.jpg')}}" lgtitle="How to Make a Career in an orchestra"><i class="eg-icon-search"></i></a></div>


                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="filterall filter-news eg-melody-wrapper eg-post-id-461" data-date="1462883077">
                                                    <div class="esg-media-cover-wrapper">
                                                        <div class="esg-entry-media"><img src="{{asset('publicsite/images/image-16.jpg')}}" alt=""></div>
                                                        <div class="esg-entry-cover esg-fade" data-delay="0">
                                                            <div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
                                                            <div class="esg-center eg-post-461 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-461 esgbox" href="publicsite/images/image-16.jpg')}}" lgtitle="Classical and Contemporary compositions"><i class="eg-icon-search"></i></a></div>


                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="filterall filter-news eg-melody-wrapper eg-post-id-462" data-date="1462883122">
                                                    <div class="esg-media-cover-wrapper">
                                                        <div class="esg-entry-media"><img src="{{asset('publicsite/images/image-15.jpg')}}" alt=""></div>
                                                        <div class="esg-entry-cover esg-fade" data-delay="0">
                                                            <div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
                                                            <div class="esg-center eg-post-462 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-462 esgbox" href="publicsite/images/image-15.jpg')}}" lgtitle="5 Popular Viola performances"><i class="eg-icon-search"></i></a></div>


                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div> #}

                </section>
            </article>
            <section class="related_wrap related_wrap_empty"></section>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/core.init.js')}}"></script>
{% endblock %}
