{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="highlight-clean">
    <div class="container pt-5 mt-3">
        <div class="intro">
            <h2 class="text-center">Sign in</h2>
            <p class="text-center">Welcome back.&nbsp;</p>
        </div>
        <div class="buttons">
            <a class="btn btn-primary" role="button" href="{{path('app_login')}}">Sign in</a>
        </div>
        <div class="intro mt-3">
            <h2 class="text-center">Or Sign up as..</h2>
            <p class="text-center">Select the appropriate option below to create your account.</p>
        </div>
        <div class="buttons">
            <a class="btn btn-primary" role="button" href="{{path('app_register', {'usertype': 'student'})}}">student</a>
            <a class="btn btn-light" role="button" href="{{path('app_register', {'usertype': 'teacher'})}}">teacher</a>
        </div>
    </div>
</div>

{% include 'templates/footer.html.twig' %}
{% endblock %}
