{% extends 'public_base.html.twig' %}
{% set nav_type = 'half' %}
{% block title %}Register{% endblock %}
{% block slider %}{% endblock %}
{% block body %}
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">BookOnline</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">BookOnline</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_no">
				<div class="c_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-158 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="sc_section">
													<div class="sc_section_inner">
														<h1 class="sc_section_title sc_item_title">Welcome {{student.fullname}}!</h1>
														<h6 class="sc_section_subtitle sc_item_subtitle">Thank you for your interest to join Cheza Music School.</h6>
														<div class="sc_section_content_wrap">
															<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 margin_bottom_huge" style="text-align: center;">

                                        <p class="text-center">We have received your application and we will call you as soon as possible, during working hours. </p>
                                        <p class="text-center">Meanwhile, you can verify your email, sign in to your account and add more details.</p>
                                        <a class="btn btn-primary" role="button" href="{{path('app_login')}}">Sign in</a> |
                                        <a class="btn btn-light" href="https://chezamusicschool.co.ke">Homepage</a>
																			
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row vc_row-no-padding">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<article class="myportfolio-container minimal-light" id="esg-grid-4-1-wrap">
													<div id="esg-grid-4-1" class="esg-grid">
														<ul>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-439" data-date="1462880506">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-4-1.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-439 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-439 esgbox" href="images/image-4-1.jpg" lgtitle="The 9 Different Types of music degrees"><i class="eg-icon-search"></i></a></div>
																		<!--
																		 -->
																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-441" data-date="1462880562">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-18.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-441 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-441 esgbox" href="images/image-18.jpg" lgtitle="5 Secrets to Mastering music college audition"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-442" data-date="1462880562">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-5.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-442 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-442 esgbox" href="images/image-5.jpg" lgtitle="The Top 8 Colleges for music education"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-443" data-date="1462880565">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-17.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-443 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-443 esgbox" href="images/image-17.jpg" lgtitle="The World's Greatest orchestras"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-444" data-date="1462880567">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-8.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-444 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-444 esgbox" href="images/image-8.jpg" lgtitle="How to Make a Career in an orchestra"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-461" data-date="1462883077">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-16.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-461 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-461 esgbox" href="images/image-16.jpg" lgtitle="Classical and Contemporary compositions"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-462" data-date="1462883122">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="{{asset('publicsite/images/image-15.jpg') }}" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-462 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-462 esgbox" href="images/image-15.jpg" lgtitle="5 Popular Viola performances"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
														</ul>
													</div>
												</article>
												<div class="clear"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</article>
						<section class="related_wrap related_wrap_empty"></section>
					</div>
				</div>
			</div>
{% block footer %}{% endblock %}
{% endblock %}
