{% extends 'adm_base.html.twig' %}

{% block title %}Admin dashboard{% endblock %}
{% block stylesheets %}
<style>
    .icon {
        font-size: 20px; 
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
</style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Dashboard</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('student-registration-admin')}}" class="dropdown-item">Add Student</a>
                            <!-- item-->
                            <a href="{{path('admin-students-list')}}" class="dropdown-item">Students list</a>
                            <!-- item-->
                            <a href="{{path('assign_access_roles')}}" class="dropdown-item">Permissions</a>
                            <!-- item-->
                            <a href="{{path('assign_access_roles')}}" class="dropdown-item">Manage Students</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Students</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-success badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> {{data.studentscount}} </h2>
                            <p class="text-muted mb-3">Active Students</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only">____________</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('user_admin_index')}}" class="dropdown-item">Manage Content</a>
                            <!-- item-->
                            <a href="{{ path('user_admin_index', {'entity' : 'instruments' })}}" class="dropdown-item">Instruments</a>
                            <!-- item-->
                            <a href="{{ path('user_admin_index', {'entity' : 'terms' })}}" class="dropdown-item">Terms</a>
                            <!-- item-->
                            <a href="{{ path('user_admin_index', {'entity' : 'packages' })}}" class="dropdown-item">Packages</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Content Manager</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> 5 </h2>
                            <p class="text-muted mb-3">Add Details</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only">____________</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('admin-communications')}}" class="dropdown-item">Send message</a>
                            <!-- item-->
                            <a href="{{path('admin-communications')}}#tab-2" class="dropdown-item">Templates</a>
                            <!-- item-->
                            <a href="{{path('admin-communications')}}#tab-4" class="dropdown-item">History</a>
                            <!-- item-->
                            <a href="{{path('admin-communications')}}#tab-6" class="dropdown-item">Quick Message</a>
                            <!-- item-->
                            <a href="{{path('admin-communications')}}#tab-3" class="dropdown-item">Bulk Message</a>
                            <!-- item-->
                            <a href="{{path('admin-communications')}}#tab-5" class="dropdown-item">Attachments</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Communication</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> {{data.contactscount}} </h2>
                            <p class="text-muted mb-3">Send messages</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only">____________</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('assign_access_roles')}}" class="dropdown-item">Permissions page</a>
                            <!-- item-->
                            <a href="{{path('admin-students-list')}}" class="dropdown-item">Active Students</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Permissions</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-blue badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> {{data.countinactive}} </h2>
                            <p class="text-muted mb-3">Assign roles</p>
                        </div>
                        <div class="progress progress-bar-alt-blue progress-sm">
                            <div class="progress-bar bg-blue" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only">____________</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-6 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('admin-teachers-list')}}" class="dropdown-item">Teachers</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Teachers</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> {{data.teacherscount}} </h2>
                            <p class="text-muted mb-3">Teachers List</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only">____________</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            <div class="col-xl-6 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('instrument_index')}}" class="dropdown-item">Instruments</a>
                            <!-- item-->
                            <a href="{{ path('user_admin_index', {'entity' : 'instruments' })}}" class="dropdown-item">Manage instruments</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">Instruments</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> {{data.instruments|length}} </h2>
                            <p class="text-muted mb-3">All instruments</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;">
                                <span class="sr-only">____________</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->

            {% set allinstrumentscount = data.instrumentscount %}
            {% for insname, count in data.insarr %}
            {% set percentage = (count|split("-")[0] / allinstrumentscount) * 100 %}
        
                <div class="col-xl-3 col-md-6">
                    <div class="card-box">

                        <h4 class="header-title mt-0 mb-4">{{insname}}</h4>
                        {% set colors = [ "#30a5ff", "#f9243f", "#ffb53e", "#1ebfae", "#C0C0C0", "#808080", "#000000", "#FF0000", "#800000", "#FFFF00", "#808000", "#00FF00", "#008000", "#00FFFF", "#008080", "#0000FF", "#000080", "#FF00FF", "#800080" ] %}
                        <div class="widget-chart-1">
                            <div class="widget-chart-box-1 float-left" dir="ltr">
                                <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="{{random(colors)}}"
                                        data-bgColor="{{random(colors)}}" value="{{percentage|round}}"
                                        data-skin="tron" data-angleOffset="180" data-readOnly=true
                                        data-thickness=".15"/>
                            </div>
                            <div class="widget-detail-1 text-right">
                                <h2 class="font-weight-normal pt-2 mb-1"> {{percentage|round}} </h2>
                                <p class="text-muted mb-1">Per cent</p>
                            </div>
                        </div>
                    </div>

                </div><!-- end col -->

            {% endfor %}

            {% set allsessions = data.sessions|length %}
            {% for duration, count in data.durationarr %}
            {% set percentage = (count|split("-")[0] / allsessions) * 100 %}
        
                <div class="col-xl-3 col-md-6">
                    <div class="card-box">
                        <h4 class="header-title mt-0 mb-4">{{duration}}</h4>

                        <div class="widget-chart-1">
                            <div class="widget-chart-box-1 float-left" dir="ltr">
                                <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                                    data-bgColor="#F9B9B9" value="{{percentage|round}}"
                                    data-skin="tron" data-angleOffset="180" data-readOnly=true
                                    data-thickness=".15"/>
                            </div>

                            <div class="widget-detail-1 text-right">
                                <h2 class="font-weight-normal pt-2 mb-1"> {{percentage|round}} </h2>
                                <p class="text-muted mb-1">Per cent</p>
                            </div>
                        </div>
                    </div>

                </div><!-- end col -->

            {% endfor %}
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-xl-4">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0">Daily Sales</h4>

                    <div class="widget-chart text-center">
                        <div id="morris-donut-example" dir="ltr" style="height: 245px;" class="morris-chart"></div>
                        <ul class="list-inline chart-detail-list mb-0">
                            <li class="list-inline-item">
                                <h5 style="color: #ff8acc;"><i class="fa fa-circle mr-1"></i>Series A</h5>
                            </li>
                            <li class="list-inline-item">
                                <h5 style="color: #5b69bc;"><i class="fa fa-circle mr-1"></i>Series B</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-xl-4">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                        </div>
                    </div>
                    <h4 class="header-title mt-0">Statistics</h4>
                    <div id="morris-bar-example" dir="ltr" style="height: 280px;" class="morris-chart"></div>
                </div>
            </div><!-- end col -->

            <div class="col-xl-4">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                        </div>
                    </div>
                    <h4 class="header-title mt-0">Total Revenue</h4>
                    <div id="morris-line-example" dir="ltr" style="height: 280px;" class="morris-chart"></div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


        <div class="row">
            {% for admin in data.admins %}
            <div class="col-xl-3 col-md-6">
                <div class="card-box widget-user">
                    <div class="media">
                        <div class="avatar-lg mr-3">
                            <img src="{{ admin.photo is not null ? admin.photo : asset('img/profile/person.png') }}" class="img-fluid rounded-circle" alt="user">
                        </div>
                        <div class="media-body overflow-hidden">
                            <h5 class="mt-0 mb-1">{{admin.fullname}}</h5>
                            <p class="text-muted mb-2 font-13 text-truncate">{{admin.email}}</p>
                            <small class="text-warning"><b>Admin</b></small>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
            {% endfor %}        
        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-xl-4">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('admin-teachers-list')}}" class="dropdown-item">All teachers</a>
                        </div>
                    </div>

                    <h4 class="header-title mb-3">Teachers</h4>

                    <div class="inbox-widget">
                        {% for teacher in data.teachers %}
                        <div class="inbox-item">
                            <a href="{{path('admin_session_calendar', {'teacher_id': teacher.id })}}">
                                <div class="inbox-item-img"><img src="{{ teacher.photo is not null ? teacher.photo : asset('img/profile/person.png') }}" class="rounded-circle" alt=""></div>
                                <h5 class="inbox-item-author mt-0 mb-1">{{teacher.fullname}}</h5>
                                <p class="inbox-item-text">{{teacher.email}}</p>
                                <p class="inbox-item-date">{{teacher.schoolTimes|length}} schedules</p>
                            </a>
                        </div>
                        {% endfor %}
                        <a href="{{path('admin-teachers-list')}}">More Teachers <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-xl-8">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('admin-students-list')}}" class="dropdown-item">All Students</a>
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3">New Students</h4>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Instrument</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in data.students %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{student.fullname}}</td>
                                    <td>{{student.email}}</td>
                                    <td>{{student.studentdata.phone}}</td>
                                    <td>{% for uig in student.studentdata.userInstruments %}{{uig.instrument.name}}{{loop.last ? ' ' : ', '}}{% endfor %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->       
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}

{% endblock %}