{% extends 'adm_base.html.twig' %}

{% block title %}Edit Template{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Admin</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Edit Template</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-12">
                <form class="form-horizontal card-box" action="/action_page.php">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="title">Title:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" value="{{template.title}}" placeholder="Template title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="type">Type:</label>
                        <div class="col-sm-10">
                        <select type="" class="form-control" id="type">
                            <option value="primary" {{template.type == 'primary' ? 'selected' : ''}}>Primary</option>
                            <option value="success" {{template.type == 'success' ? 'selected' : ''}}>Success</option>
                            <option value="info" {{template.type == 'info' ? 'selected' : ''}}>Info</option>
                            <option value="warning" {{template.type == 'warning' ? 'selected' : ''}}>Warning</option>
                            <option value="danger" {{template.type == 'danger' ? 'selected' : ''}}>Danger</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="msg">Message:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="msg">{{template.message}}</textarea>
                        </div>
                    </div>             
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="edit-template" class="btn btn-primary">Save</button>
                        &nbsp;&nbsp;&nbsp;<a href="{{ path('admin-communications') }}"> << Back to communications </a>
                        </div>
                    </div>
                </form> 
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
	<script>
	  $('#edit-template').click(function() {
        
        var msg = $("#msg").val();
        var type = $("#type").val();
        var title = $("#title").val();
        var template_id = "{{template.id}}";

        $.ajax({
            url:"{{ (path('edit_template')) }}",
            type: "POST",
            dataType: "json",
            data: {
                "msg": msg,
                "type": type,
                "title": title,
                "template_id": template_id,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Template edited successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>
    <script type="text/javascript">
            var CKEDITOR_BASEPATH = "/bundles/fosckeditor/";
    </script>
    <script type="text/javascript" src="/bundles/fosckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        if (CKEDITOR.instances["msg"]) { 
            CKEDITOR.instances["msg"].destroy(true); 
            delete CKEDITOR.instances["msg"]; 
        }
        var fos_ckeditor_instrument_description = CKEDITOR.replace("msg", {
            "toolbar":[["Bold"],["Italic"],["Underline"],["NumberedList"],["BulletedList"],["Blockquote"],["JustifyLeft"],["JustifyCenter"],["JustifyRight"],["Link"],["Image"],["Format"]],"uiColor":"#ffffff","language":"en"
        });

        fos_ckeditor_instrument_description.on('change', function() { fos_ckeditor_instrument_description.updateElement(); });

    </script>

{% endblock %}