{% extends 'admin_base.html.twig' %}

{% block title %}Admin | {{user.username}}{% endblock %}
{% block stylesheets %}
<style>
.btnxsm {
  background-color: red;
  border: none;
  color: white;
  padding: 0px;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

/* Darker background on mouse-over */
.btnxsm:hover {
  background-color: RoyalBlue;
}
</style>
{% endblock %}
{% block body %}

  <!-- container section start -->
  <section id="container" class="">

    {% include "admin/header.html.twig" %}
    {% include "admin/aside.html.twig" %}
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!--overview start-->
        {% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {% set lastPartUrl = currentUrl|split('/')|last %}       
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                <h2 style="font-size:22px!important">{{ title == "" ? "" : title }}</h2>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" href="{{path('admin_add', {'entity_name': lastPartUrl })}}" title="add">Add new</a>                
              </header>
              <div class="table-responsive">
                <table id="myTable" class="table table-striped table-advance table-hover">
                  <thead>
                  {% if entity is empty or entity[0] is null %}
                      <p>There is no data</p>
                  {% else %}
                    <tr> 
                    {# using twig service to cast an entity to array in order to access field names #}
                      {% if entity[0] is not iterable %}
                      {% for key, value in entity[0]|cast_to_array %}
                          <th>{{key|split("\x00")[2]}}</th>
                      {% endfor %}
                      {% endif %}.
                          <th>Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prop, val in entity %}{# iterate through the entries in the entity#}
                      <tr>
                      {% for key, value in val|cast_to_array %} {# get the values #}
                        {% if value is iterable %}
                        <td>N/A</td>
                        {% elseif value == "" %}
                        <td>__</td>
                        {% else %}
                        <td>{{ value.timestamp is defined ? value|date('jS F Y') :  value|slice(0, 50) }}</td>
                        {% endif %}
                      {% endfor %}
                      <td>
                        <div class="btn-group">
                          <a class="btn btn-primary" href="{{path('admin_edit', {'entity_name': lastPartUrl, 'id': val.id })}}" title="edit"><i class="icon_pencil"></i></a>
                          {{ include('admin/_delete_form.html.twig') }}
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  {% endif %}
                </table>
              </div>
            </section>
          </div>
        </div>

      </section>
      <div class="text-right">
        <div class="credits">
        </div>
      </div>
    </section>
    <!--main content end-->
  </section>
  <!-- container section end -->
{% endblock %}

{% block javascripts %}
    <script>

      $(document).ready( function () {
          $('#myTable').DataTable({
            "pageLength": 20,
          });
      } );

    </script>

{% endblock %}