{% extends 'adm_base.html.twig' %}

{% block title %}{{payment.user.fullname}} Invoice dated {{payment.doneOn|date('d/m/Y')}}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<STYLE type="text/css">

	body {margin-top: 0px;margin-left: 0px;}

	#page_1 {position:relative; overflow: hidden;margin: 20px 0px 12px 27px;padding: 0px;border: none;width: 767px;}
	#page_1 #id1_1 {border:none;margin: 0px 0px 0px 97px;padding: 0px;border:none;width: 639px;overflow: hidden;}
	#page_1 #id1_2 {border:none;margin: 18px 0px 0px 61px;padding: 0px;border:none;width: 706px;overflow: hidden;}
	#page_1 #id1_2 #id1_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 383px;overflow: hidden;}
	#page_1 #id1_2 #id1_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 323px;overflow: hidden;}
	#page_1 #id1_3 {border:none;margin: 113px 0px 0px 0px;padding: 0px;border:none;width: 735px;overflow: hidden;}
	#page_1 #id1_4 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 701px;overflow: hidden;}
	#page_1 #id1_4 #id1_4_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 481px;overflow: hidden;}
	#page_1 #id1_4 #id1_4_2 {float:left;border:none;margin: 7px 0px 0px 0px;padding: 0px;border:none;width: 220px;overflow: hidden;}
	#page_1 #id1_5 {border:none;margin: 77px 0px 0px 234px;padding: 0px;border:none;width: 533px;overflow: hidden;}

	#page_1 #p1dimg1 {position:absolute;top:148px;left:0px;z-index:-1;width:736px;height:865px;}
	#page_1 #p1dimg1 #p1img1 {width:736px;height:865px;}




	.ft0{font: 16px 'Times New Roman';line-height: 19px;}
	.ft1{font: bold 28px 'Arial Bold';line-height: 33px;}
	.ft2{font: 12px 'Arial';line-height: 15px;}
	.ft3{font: 1px 'Times New Roman';line-height: 1px;}
	.ft4{font: 1px 'Times New Roman';line-height: 5px;}
	.ft5{font: 1px 'Times New Roman';line-height: 14px;}
	.ft6{font: 12px 'Times New Roman';line-height: 15px;}
	.ft7{font: 1px 'Times New Roman';line-height: 8px;}
	.ft8{font: 1px 'Times New Roman';line-height: 7px;}
	.ft9{font: 1px 'Times New Roman';line-height: 3px;}
	.ft10{font: bold 16px 'Arial Bold';line-height: 19px;}
	.ft11{font: 1px 'Times New Roman';line-height: 4px;}
	.ft12{font: bold 21px 'Arial Bold';line-height: 24px;}
	.ft13{font: 8px 'Calibri';line-height: 10px;}

	.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p1{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p2{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p3{text-align: center;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p4{text-align: left;padding-left: 19px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p5{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p6{text-align: left;padding-left: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p7{text-align: left;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;}
	.p8{text-align: left;margin-top: 9px;margin-bottom: 0px;}
	.p9{text-align: left;margin-top: 0px;margin-bottom: 0px;}
	.p10{text-align: left;padding-left: 37px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p11{text-align: left;padding-left: 44px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p12{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p13{text-align: left;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p14{text-align: left;padding-left: 53px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p15{text-align: left;padding-left: 51px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p16{text-align: right;padding-right: 41px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p17{text-align: left;padding-left: 21px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p18{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p19{text-align: left;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p20{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p21{text-align: right;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p22{text-align: left;padding-left: 178px;margin-top: 0px;margin-bottom: 0px;}
	.p23{text-align: left;padding-left: 113px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p24{text-align: right;padding-right: 61px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p25{text-align: right;padding-right: 46px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p26{text-align: left;padding-left: 89px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p27{text-align: left;padding-left: 5px;margin-top: 80px;margin-bottom: 0px;}
	.p28{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;}
	.p29{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
	.p30{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

	.td0{padding: 0px;margin: 0px;width: 538px;vertical-align: bottom;}
	.td1{padding: 0px;margin: 0px;width: 101px;vertical-align: bottom;}
	.td2{padding: 0px;margin: 0px;width: 241px;vertical-align: bottom;}
	.td3{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
	.td4{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 119px;vertical-align: bottom;}
	.td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 67px;vertical-align: bottom;}
	.td6{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
	.td7{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
	.td8{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
	.td9{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 119px;vertical-align: bottom;}
	.td10{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 67px;vertical-align: bottom;}
	.td11{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
	.td12{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
	.td13{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
	.td14{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 119px;vertical-align: bottom;}
	.td15{padding: 0px;margin: 0px;width: 67px;vertical-align: bottom;}
	.td16{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 4px;vertical-align: bottom;}
	.td17{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
	.td18{padding: 0px;margin: 0px;width: 110px;vertical-align: bottom;}
	.td19{padding: 0px;margin: 0px;width: 120px;vertical-align: bottom;}
	.td20{padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;}
	.td21{padding: 0px;margin: 0px;width: 96px;vertical-align: bottom;}
	.td22{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 103px;vertical-align: bottom;}
	.td23{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 16px;vertical-align: bottom;}
	.td24{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 83px;vertical-align: bottom;}
	.td25{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 40px;vertical-align: bottom;}
	.td26{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 79px;vertical-align: bottom;}
	.td27{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;}
	.td28{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 141px;vertical-align: bottom;}
	.td29{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 103px;vertical-align: bottom;}
	.td30{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 16px;vertical-align: bottom;}
	.td31{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 83px;vertical-align: bottom;}
	.td32{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 40px;vertical-align: bottom;}
	.td33{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 55px;vertical-align: bottom;}
	.td34{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
	.td35{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 101px;vertical-align: bottom;}
	.td36{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
	.td37{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 76px;vertical-align: bottom;}
	.td38{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 65px;vertical-align: bottom;}
	.td39{padding: 0px;margin: 0px;width: 103px;vertical-align: bottom;}
	.td40{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 16px;vertical-align: bottom;}
	.td41{padding: 0px;margin: 0px;width: 83px;vertical-align: bottom;}
	.td42{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 40px;vertical-align: bottom;}
	.td43{padding: 0px;margin: 0px;width: 55px;vertical-align: bottom;}
	.td44{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
	.td45{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
	.td46{padding: 0px;margin: 0px;width: 76px;vertical-align: bottom;}
	.td47{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 65px;vertical-align: bottom;}
	.td48{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
	.td49{padding: 0px;margin: 0px;width: 17px;vertical-align: bottom;}
	.td50{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 82px;vertical-align: bottom;}
	.td51{padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
	.td52{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
	.td53{padding: 0px;margin: 0px;width: 25px;vertical-align: bottom;}
	.td54{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 100px;vertical-align: bottom;}
	.td55{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
	.td56{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 75px;vertical-align: bottom;}
	.td57{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
	.td58{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
	.td59{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 178px;vertical-align: bottom;}
	.td60{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
	.td61{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 25px;vertical-align: bottom;}
	.td62{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 100px;vertical-align: bottom;}
	.td63{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
	.td64{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 75px;vertical-align: bottom;}
	.td65{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
	.td66{padding: 0px;margin: 0px;width: 178px;vertical-align: bottom;}
	.td67{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 17px;vertical-align: bottom;}
	.td68{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 82px;vertical-align: bottom;}
	.td69{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
	.td70{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 96px;vertical-align: bottom;}
	.td71{padding: 0px;margin: 0px;width: 196px;vertical-align: bottom;}
	.td72{padding: 0px;margin: 0px;width: 142px;vertical-align: bottom;}
	.td73{padding: 0px;margin: 0px;width: 128px;vertical-align: bottom;}
	.td74{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 196px;vertical-align: bottom;}
	.td75{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 142px;vertical-align: bottom;}
	.td76{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 128px;vertical-align: bottom;}
	.td77{padding: 0px;margin: 0px;width: 144px;vertical-align: bottom;}

	.tr0{height: 54px;}
	.tr1{height: 23px;}
	.tr2{height: 22px;}
	.tr3{height: 20px;}
	.tr4{height: 5px;}
	.tr5{height: 14px;}
	.tr6{height: 19px;}
	.tr7{height: 8px;}
	.tr8{height: 7px;}
	.tr9{height: 3px;}
	.tr10{height: 21px;}
	.tr11{height: 16px;}
	.tr12{height: 379px;}
	.tr13{height: 4px;}
	.tr14{height: 31px;}
	.tr15{height: 49px;}
	.tr16{height: 53px;}

	.t0{width: 639px;font: 16px 'Times New Roman';}
	.t1{width: 735px;font: 12px 'Arial';}
	.t2{width: 466px;margin-top: 3px;font: 12px 'Times New Roman';}
	.t3{width: 220px;font: 12px 'Times New Roman';}

</STYLE>
{% endblock %}

{% block body %}
{% set bal = 0 %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Invoice</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{payment.user.fullname}} Invoice dated {{payment.doneOn|date('d/m/Y')}}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                <a href="{{path('admin-payments-list', {'uig_id': payment.uig.id })}}" class="btn btn-success btn-md waves-effect waves-light mb-3">Cancel</a>
                <button type="button" id="sendStatement" class="btn btn-success btn-md waves-effect waves-light mb-3">Send Invoice</button>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-xl-12">
            <div class="card-box">
                <div style="padding:10px; width: 785px; border:1px solid #333;">
                    <DIV id="page_1">
                        <DIV id="p1dimg1">
                        <IMG src="{{asset('assets/img/invoice_img.png')}}" id="p1img1"></DIV>

                        <DIV id="id1_1">
                        <TABLE cellpadding=0 cellspacing=0 class="t0">
                            <TR>
                                <TD colspan=4 class="tr0 td0"><P class="p0 ft0">Cheza Music School</P></TD>
                                <TD colspan=2 class="tr0 td1"><P class="p0 ft1">Invoice</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr1 td2"><P class="p0 ft0">www.chezamusicschool.co.ke</P></TD>
                                <TD class="tr2 td3"><P class="p1 ft2">Cust VAT Reg.</P></TD>
                                <TD class="tr2 td4"><P class="p2 ft2">Company VAT Reg.</P></TD>
                                <TD class="tr2 td5"><P class="p3 ft2">Tax Date</P></TD>
                                <TD class="tr2 td6"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td7"><P class="p4 ft2">Invoice No</P></TD>
                            </TR>
                            <TR>
                                <TD rowspan=2 class="tr3 td2"><P class="p0 ft0">HOME AND ONLINE LESSONS</P></TD>
                                <TD class="tr4 td8"><P class="p0 ft4">&nbsp;</P></TD>
                                <TD class="tr4 td9"><P class="p0 ft4">&nbsp;</P></TD>
                                <TD class="tr4 td10"><P class="p0 ft4">&nbsp;</P></TD>
                                <TD class="tr4 td11"><P class="p0 ft4">&nbsp;</P></TD>
                                <TD class="tr4 td12"><P class="p0 ft4">&nbsp;</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr5 td13"><P class="p0 ft5">&nbsp;</P></TD>
                                <TD class="tr5 td14"><P class="p0 ft5">&nbsp;</P></TD>
                                <TD rowspan=2 class="tr2 td15"><P class="p5 ft6">{{payment.doneOn|date('d/m/Y')}}</P></TD>
                                <TD class="tr5 td16"><P class="p0 ft5">&nbsp;</P></TD>
                                <TD rowspan=2 class="tr2 td17"><P class="p6 ft6">{{currentTerm.termnumber|split(' ')[1]}}{{payment.docNumber}}</P></TD>
                            </TR>
                            <TR>
                                <TD rowspan=3 class="tr6 td2"><P class="p0 ft0">NAIROBI</P></TD>
                                <TD class="tr7 td13"><P class="p0 ft7">&nbsp;</P></TD>
                                <TD class="tr7 td14"><P class="p0 ft7">&nbsp;</P></TD>
                                <TD class="tr7 td16"><P class="p0 ft7">&nbsp;</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr8 td8"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td9"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td10"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td11"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td12"><P class="p0 ft8">&nbsp;</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr9 td18"><P class="p0 ft9">&nbsp;</P></TD>
                                <TD class="tr9 td19"><P class="p0 ft9">&nbsp;</P></TD>
                                <TD class="tr9 td15"><P class="p0 ft9">&nbsp;</P></TD>
                                <TD class="tr9 td20"><P class="p0 ft9">&nbsp;</P></TD>
                                <TD class="tr9 td21"><P class="p0 ft9">&nbsp;</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr10 td2"><P class="p0 ft0">Tel: 0711832933</P></TD>
                                <TD class="tr10 td18"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr10 td19"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr10 td15"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr10 td20"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr10 td21"><P class="p0 ft3">&nbsp;</P></TD>
                            </TR>
                            </TABLE>
                        </DIV>
                        <DIV id="id1_2">
                        <DIV id="id1_2_1">
                        <P class="p7 ft2">Invoice To</P>
                        <P class="p8 ft6">{{payment.user.fullname}} <br />{{payment.uig.instrument}} {{payment.uig.grade}}</P>
                        </DIV>
                        <DIV id="id1_2_2">
                        <P class="p9 ft2">Ship To</P>
                        </DIV>
                        </DIV>
                        <DIV id="id1_3">
                        <TABLE cellpadding=0 cellspacing=0 class="t1">
                            <TR>
                                <TD class="tr2 td22"><P class="p10 ft2">P.O. No.</P></TD>
                                <TD class="tr2 td23"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td24"><P class="p11 ft2">Terms</P></TD>
                                <TD class="tr2 td25"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td25"><P class="p12 ft2">Rep</P></TD>
                                <TD class="tr2 td7"><P class="p13 ft2">Ship Date</P></TD>
                                <TD colspan=2 class="tr2 td26"><P class="p6 ft2">Ship Via</P></TD>
                                <TD colspan=2 class="tr2 td27"><P class="p14 ft2">FOB</P></TD>
                                <TD colspan=2 class="tr2 td28"><P class="p15 ft2">Project</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr8 td29"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td30"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td31"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td32"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td32"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td12"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td33"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td34"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td35"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td36"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td37"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td38"><P class="p0 ft8">&nbsp;</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr2 td39"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td40"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td41"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td42"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td42"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td17"><P class="p4 ft6">{{payment.doneOn|date('d/m/Y')}}</P></TD>
                                <TD class="tr2 td43"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td44"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td1"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td45"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td46"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td47"><P class="p0 ft3">&nbsp;</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr8 td29"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td30"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td31"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td32"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td32"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td12"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td33"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td34"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td35"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td36"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td37"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td38"><P class="p0 ft8">&nbsp;</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr2 td48"><P class="p16 ft2">Qty</P></TD>
                                <TD class="tr2 td49"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td50"><P class="p17 ft2">Item</P></TD>
                                <TD class="tr2 td51"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td51"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td21"><P class="p18 ft2">Description</P></TD>
                                <TD class="tr2 td52"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td53"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td54"><P class="p19 ft2">Rate</P></TD>
                                <TD class="tr2 td55"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr2 td56"><P class="p0 ft2">Amount</P></TD>
                                <TD class="tr2 td47"><P class="p13 ft2">VAT</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr8 td57"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD colspan=2 class="tr8 td58"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD colspan=3 class="tr8 td59"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td60"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td61"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td62"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td63"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td64"><P class="p0 ft8">&nbsp;</P></TD>
                                <TD class="tr8 td38"><P class="p0 ft8">&nbsp;</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr11 td48"><P class="p5 ft6">{{payment.uig.sessions|length}}</P></TD>
                                <TD colspan=2 class="tr11 td65"><P class="p20 ft6">{{payment.uig.sessions|first.package.duration}} minutes lessons</P></TD>
                                <TD colspan=3 class="tr11 td66"><P class="p18 ft6">{{payment.uig.instrument}} Lessons with {{payment.uig.sessions|first.teacher}}</P></TD>
                                <TD class="tr11 td52"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr11 td53"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr11 td54"><P class="p5 ft6">{{(payment.uig.sessions|first.package.price / 12)|number_format(2, '.', ',')}}</P></TD>
                                <TD class="tr11 td55"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr11 td56"><P class="p21 ft6">{{payment.uig.sessions|first.package.price|number_format(2, '.', ',')}}</P></TD>
                                <TD class="tr11 td47"><P class="p18 ft6">Non</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr12 td57"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td67"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td68"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td69"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td69"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td70"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td60"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td61"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td62"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td63"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td64"><P class="p0 ft3">&nbsp;</P></TD>
                                <TD class="tr12 td38"><P class="p0 ft3">&nbsp;</P></TD>
                            </TR>
                            </TABLE>
                            </DIV>
                            <DIV id="id1_4">
                            <DIV id="id1_4_1">
                            <P class="p22 ft10">VAT Summary</P>
                            <TABLE cellpadding=0 cellspacing=0 class="t2">
                            <TR>
                                <TD class="tr10 td71"><P class="p23 ft6">Rate</P></TD>
                                <TD class="tr10 td72"><P class="p24 ft6">KES VAT</P></TD>
                                <TD class="tr10 td73"><P class="p25 ft6">KES NET</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr13 td74"><P class="p0 ft11">&nbsp;</P></TD>
                                <TD class="tr13 td75"><P class="p0 ft11">&nbsp;</P></TD>
                                <TD class="tr13 td76"><P class="p0 ft11">&nbsp;</P></TD>
                            </TR>
                            <TR>
                                <TD class="tr2 td71"><P class="p26 ft6">TOTALS</P></TD>
                                <TD class="tr2 td72"><P class="p24 ft6">0.00</P></TD>
                                <TD class="tr2 td73"><P class="p25 ft6">0.00</P></TD>
                            </TR>
                        </TABLE>
                        <P class="p27 ft6">Payment Can be made through</P>
                        <P class="p28 ft6">STANDARD CHARTERED BANK - 0102464472500 GYBIRD INVESTMENTS LTD, MUTHAIGA BRANCH </P>
                        <P class="p28 ft6">MPESA Paybill No </P>
                        </DIV>
                        <DIV id="id1_4_2">
                        <TABLE cellpadding=0 cellspacing=0 class="t3">
                        <TR>
                            <TD class="tr14 td77"><P class="p0 ft10">Subtotal</P></TD>
                            <TD class="tr14 td46"><P class="p29 ft6">KES {{payment.uig.sessions|first.package.price|number_format(2, '.', ',')}}</P></TD>
                        </TR>
                        <TR>
                            <TD class="tr15 td77"><P class="p0 ft10">VAT Total</P></TD>
                            <TD class="tr15 td46"><P class="p30 ft6">KES 0.00</P></TD>
                        </TR>
                        <TR>
                            <TD class="tr16 td77"><P class="p0 ft12">Total</P></TD>
                            <TD class="tr16 td46"><P class="p30 ft6">KES {{payment.uig.sessions|first.package.price|number_format(2, '.', ',')}}</P></TD>
                        </TR>
                        </TABLE>
                        </DIV>
                        </DIV>
                        <DIV id="id1_5">
                        </DIV>
                    </DIV>
                </div>
            </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
	<script>
	  $('#sendStatement').click(function() {
        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Please wait...', },{ element: '#confirmSendInvoice', type: "info", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
        var neu = [];
        $.ajax({
            url:'{{ (path('send_invoice')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "payment_id": "{{payment.id}}",
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

{% endblock %}