{% extends 'adm_base.html.twig' %}
{% block title %}{{student.fullname}} Statement{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <STYLE type="text/css">

        body {margin-top: 0px;margin-left: 0px;}

        #page_1 {position:relative; overflow: hidden;margin: 0px 0px 12px 29px;padding: 0px;border: none;width: 765px;}
        #page_1 #id1_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 765px;overflow: hidden;}
        #page_1 #id1_2 {border:none;margin: 123px 0px 0px 232px;padding: 0px;border:none;width: 533px;overflow: hidden;}

        #page_1 #p1dimg1 {position:absolute;top:170px;left:60px;z-index:-1;width:338px;height:140px;}
        #page_1 #p1dimg1 #p1img1 {width:338px;height:140px;}




        .ft0{font: 16px 'Times New Roman';line-height: 19px;}
        .ft1{font: bold 27px 'Arial Bold';line-height: 32px;}
        .ft2{font: 1px 'Times New Roman';line-height: 1px;}
        .ft3{font: 1px 'Times New Roman';line-height: 6px;}
        .ft4{font: 11px 'Arial';line-height: 14px;}
        .ft5{font: 1px 'Times New Roman';line-height: 15px;}
        .ft6{font: 16px 'Times New Roman';line-height: 16px;}
        .ft7{font: 1px 'Times New Roman';line-height: 4px;}
        .ft8{font: 1px 'Times New Roman';line-height: 5px;}
        .ft9{font: 12px 'Times New Roman';line-height: 15px;}
        .ft10{font: 1px 'Times New Roman';line-height: 11px;}
        .ft11{font: 1px 'Times New Roman';line-height: 7px;}
        .ft12{font: 1px 'Times New Roman';line-height: 8px;}
        .ft13{font: 12px 'Arial';line-height: 15px;}
        .ft14{font: 12px 'Times New Roman';line-height: 14px;}
        .ft15{font: 1px 'Times New Roman';line-height: 14px;}
        .ft16{font: 12px 'Arial';line-height: 14px;}
        .ft17{font: 1px 'Times New Roman';line-height: 9px;}
        .ft18{font: 8px 'Calibri';line-height: 10px;}

        .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p1{text-align: left;padding-left: 33px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p2{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p3{text-align: right;padding-right: 26px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p4{text-align: left;padding-left: 77px;margin-top: 43px;margin-bottom: 0px;}
        .p5{text-align: left;padding-left: 65px;margin-top: 7px;margin-bottom: 0px;}
        .p6{text-align: left;padding-left: 65px;margin-top: 0px;margin-bottom: 0px;}
        .p7{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p8{text-align: left;padding-left: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p9{text-align: left;padding-left: 36px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p10{text-align: center;padding-right: 32px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p11{text-align: right;padding-right: 51px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p12{text-align: right;padding-right: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p13{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p14{text-align: right;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p15{text-align: right;padding-right: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p16{text-align: left;padding-left: 34px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p17{text-align: center;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p18{text-align: right;padding-right: 29px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p19{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p20{text-align: right;padding-right: 23px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p21{text-align: center;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p22{text-align: center;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p23{text-align: center;padding-left: 32px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p24{text-align: center;padding-left: 22px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p25{text-align: right;padding-right: 25px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
        .p26{text-align: left;margin-top: 0px;margin-bottom: 0px;}

        .td0{padding: 0px;margin: 0px;width: 426px;vertical-align: bottom;}
        .td1{padding: 0px;margin: 0px;width: 168px;vertical-align: bottom;}
        .td2{padding: 0px;margin: 0px;width: 110px;vertical-align: bottom;}
        .td3{padding: 0px;margin: 0px;width: 58px;vertical-align: bottom;}
        .td4{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
        .td5{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
        .td6{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
        .td7{padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
        .td8{padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
        .td9{padding: 0px;margin: 0px;width: 122px;vertical-align: bottom;}
        .td10{padding: 0px;margin: 0px;width: 123px;vertical-align: bottom;}
        .td11{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 90px;vertical-align: bottom;}
        .td12{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
        .td13{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 101px;vertical-align: bottom;}
        .td14{border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
        .td15{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
        .td16{padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
        .td17{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 101px;vertical-align: bottom;}
        .td18{padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
        .td19{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
        .td20{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
        .td21{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
        .td22{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 122px;vertical-align: bottom;}
        .td23{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 123px;vertical-align: bottom;}
        .td24{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 90px;vertical-align: bottom;}
        .td25{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
        .td26{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 101px;vertical-align: bottom;}
        .td27{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
        .td28{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
        .td29{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 97px;vertical-align: bottom;}
        .td30{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 97px;vertical-align: bottom;}
        .td31{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 151px;vertical-align: bottom;}
        .td32{padding: 0px;margin: 0px;width: 151px;vertical-align: bottom;}
        .td33{padding: 0px;margin: 0px;width: 274px;vertical-align: bottom;}
        .td34{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 98px;vertical-align: bottom;}
        .td35{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 28px;vertical-align: bottom;}
        .td36{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 121px;vertical-align: bottom;}
        .td37{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 122px;vertical-align: bottom;}
        .td38{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 121px;vertical-align: bottom;}
        .td39{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 122px;vertical-align: bottom;}
        .td40{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 98px;vertical-align: bottom;}
        .td41{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 28px;vertical-align: bottom;}
        .td42{padding: 0px;margin: 0px;width: 91px;vertical-align: bottom;}
        .td43{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
        .td44{padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
        .td45{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 20px;vertical-align: bottom;}
        .td46{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 91px;vertical-align: bottom;}
        .td47{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 30px;vertical-align: bottom;}
        .td48{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
        .td49{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 20px;vertical-align: bottom;}

        .tr0{height: 52px;}
        .tr1{height: 23px;}
        .tr2{height: 21px;}
        .tr3{height: 6px;}
        .tr4{height: 14px;}
        .tr5{height: 15px;}
        .tr6{height: 16px;}
        .tr7{height: 4px;}
        .tr8{height: 5px;}
        .tr9{height: 22px;}
        .tr10{height: 11px;}
        .tr11{height: 19px;}
        .tr12{height: 7px;}
        .tr13{height: 8px;}
        .tr14{height: 27px;}
        .tr15{height: 415px;}
        .tr16{height: 9px;}
        .tr17{height: 31px;}

        .t0{width: 594px;margin-left: 95px;font: 16px 'Times New Roman';}
        .t1{width: 742px;margin-top: 93px;font: 12px 'Times New Roman';}

    </STYLE>
{% endblock %}

{% block body %}

{% set bal = 0 %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Invoice</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{student.fullname}} Statement</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                {% if app.user.usertype == 'admin' %}
                    <a href="{{path('admin-students-list')}}" class="btn btn-secondary">Cancel</a>
                    <button type="button" id="sendStatement" class="btn btn-primary">Send Statement</button>
                {% else %}
                    <a href="{{path('student-uigs')}}" class="btn btn-primary">Back</a>
                {% endif %}
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-xl-12">
            <div class="card-box">
                <div class="" style="border:1px solid #333; padding:10px; width: 785px;">
                    <DIV id="page_1">
                        <DIV id="p1dimg1">
                            <IMG src="{{asset('assets/img/statement_img.png')}}" id="p1img1"></DIV>
                            <DIV id="id1_1">
                                <TABLE cellpadding=0 cellspacing=0 class="t0">
                                    <TR>
                                        <TD class="tr0 td0"><P class="p0 ft0">Cheza Music School</P></TD>
                                        <TD colspan=2 class="tr0 td1"><P class="p1 ft1">Statement</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr1 td0"><P class="p0 ft0">www.chezamusicschool.co.ke</NOBR></P></TD>
                                        <TD class="tr1 td2"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr1 td3"><P class="p0 ft2">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD rowspan=2 class="tr2 td0"><P class="p0 ft0">HOME AND ONLINE LESSONS</P></TD>
                                        <TD class="tr3 td2"><P class="p0 ft3">&nbsp;</P></TD>
                                        <TD class="tr3 td3"><P class="p0 ft3">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr4 td4"><P class="p2 ft4">Date</P></TD>
                                        <TD class="tr5 td3"><P class="p0 ft5">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD rowspan=2 class="tr6 td0"><P class="p0 ft6">NAIROBI</P></TD>
                                        <TD class="tr7 td5"><P class="p0 ft7">&nbsp;</P></TD>
                                        <TD class="tr8 td3"><P class="p0 ft8">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD rowspan=2 class="tr9 td6"><P class="p3 ft9">{{"now"|date('d/m/Y')}}</P></TD>
                                        <TD class="tr10 td3"><P class="p0 ft10">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD rowspan=2 class="tr11 td0"><P class="p0 ft0">Tel: 0711832933</P></TD>
                                        <TD class="tr10 td3"><P class="p0 ft10">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr12 td5"><P class="p0 ft11">&nbsp;</P></TD>
                                        <TD class="tr13 td3"><P class="p0 ft12">&nbsp;</P></TD>
                                    </TR>
                                </TABLE>
                                <P class="p4 ft13">To:</P>
                                <P class="p5 ft9">{{student.fullname}}</P><br />
                                <P class="p6 ft9">{% for uig in uigs %}{{uig.instrument}} {{uig.grade}}<br />{% endfor %}</P>
                                <TABLE cellpadding=0 cellspacing=0 class="t1">
                                    <TR>
                                        <TD class="tr1 td7"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr1 td8"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr1 td9"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr1 td10"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr1 td11"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr2 td12"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr2 td13"><P class="p7 ft13">Amount Due</P></TD>
                                        <TD class="tr2 td14"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr2 td15"><P class="p8 ft13">Amount Enc.</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr9 td7"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr9 td8"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr9 td9"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr9 td10"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr9 td11"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr9 td16"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr9 td17"><P class="p0 ft9">KES {{currentBalance|number_format(2, '.', ',')}}</P></TD>
                                        <TD class="tr9 td18"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr9 td19"><P class="p0 ft2">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr12 td20"><P class="p0 ft11">&nbsp;</P></TD>
                                        <TD class="tr12 td21"><P class="p0 ft11">&nbsp;</P></TD>
                                        <TD class="tr12 td22"><P class="p0 ft11">&nbsp;</P></TD>
                                        <TD class="tr12 td23"><P class="p0 ft11">&nbsp;</P></TD>
                                        <TD class="tr12 td24"><P class="p0 ft11">&nbsp;</P></TD>
                                        <TD class="tr12 td25"><P class="p0 ft11">&nbsp;</P></TD>
                                        <TD class="tr12 td26"><P class="p0 ft11">&nbsp;</P></TD>
                                        <TD class="tr12 td27"><P class="p0 ft11">&nbsp;</P></TD>
                                        <TD class="tr12 td28"><P class="p0 ft11">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr14 td29"><P class="p9 ft13">Date</P></TD>
                                        <TD class="tr14 td8"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr14 td9"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr14 td10"><P class="p0 ft13">Transaction</P></TD>
                                        <TD class="tr14 td11"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr14 td16"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr14 td17"><P class="p10 ft4">Amount</P></TD>
                                        <TD class="tr14 td18"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr14 td19"><P class="p11 ft13">Balance</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr10 td30"><P class="p0 ft10">&nbsp;</P></TD>
                                        <TD colspan=2 class="tr10 td31"><P class="p0 ft10">&nbsp;</P></TD>
                                        <TD class="tr10 td23"><P class="p0 ft10">&nbsp;</P></TD>
                                        <TD class="tr10 td24"><P class="p0 ft10">&nbsp;</P></TD>
                                        <TD class="tr10 td25"><P class="p0 ft10">&nbsp;</P></TD>
                                        <TD class="tr10 td26"><P class="p0 ft10">&nbsp;</P></TD>
                                        <TD class="tr10 td27"><P class="p0 ft10">&nbsp;</P></TD>
                                        <TD class="tr10 td28"><P class="p0 ft10">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr5 td29"><P class="p12 ft9">{{lastDayOfPreviousTerm|date('d/m/Y')}}</P></TD>
                                        <TD colspan=2 class="tr5 td32"><P class="p13 ft9">Balance forward</P></TD>
                                        <TD class="tr5 td10"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr5 td11"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr5 td16"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr5 td17"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr5 td18"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr5 td19"><P class="p14 ft9">{{balanceCF|number_format(2, '.', ',')}}</P></TD>
                                    </TR>
                                    {% set bal = balanceCF %}
                                    {% for payment in payments %}
                                    {% set bal = payment.type == "inv" ? bal + payment.amount : bal - payment.amount %}
                                    <TR>
                                        <TD class="tr4 td29"><P class="p12 ft14">{{payment.doneOn|date('d/m/Y')}}</P></TD>
                                        <TD colspan=3 class="tr4 td33"><P class="p13 ft14">{{payment.type|upper}} {{payment.docNumber}} {{payment.uig.instrument}}, {{payment.uig.grade}}. {{ payment.type == "inv" ? 'Due 14/01/2019' : ''}}</P></TD>
                                        <TD class="tr4 td11"><P class="p0 ft15">&nbsp;</P></TD>
                                        <TD class="tr4 td16"><P class="p0 ft15">&nbsp;</P></TD>
                                        <TD class="tr4 td17"><P class="p15 ft14">{{payment.amount|number_format(2, '.', ',')}}</P></TD>
                                        <TD class="tr4 td18"><P class="p0 ft15">&nbsp;</P></TD>
                                        <TD class="tr4 td19"><P class="p14 ft14">{{bal|number_format(2, '.', ',')}}</P></TD>
                                    </TR>
                                    {% endfor %}
                                    <TR>
                                        <TD class="tr15 td30"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr15 td21"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr15 td22"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr15 td23"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr15 td24"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr15 td25"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr15 td26"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr15 td27"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr15 td28"><P class="p0 ft2">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD rowspan=2 class="tr1 td34"><P class="p16 ft13">CURRENT</P></TD>
                                        <TD class="tr4 td35"><P class="p0 ft15">&nbsp;</P></TD>
                                        <TD class="tr4 td36"><P class="p17 ft16"><NOBR>1-30</NOBR> DAYS PAST</P></TD>
                                        <TD class="tr4 td37"><P class="p17 ft16"><NOBR>31-60</NOBR> DAYS PAST</P></TD>
                                        <TD colspan=2 class="tr4 td36"><P class="p17 ft16"><NOBR>61-90</NOBR> DAYS PAST</P></TD>
                                        <TD colspan=2 class="tr4 td37"><P class="p17 ft16">OVER 90 DAYS</P></TD>
                                        <TD rowspan=2 class="tr1 td19"><P class="p18 ft13">Amount Due</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr16 td35"><P class="p0 ft17">&nbsp;</P></TD>
                                        <TD rowspan=2 class="tr5 td38"><P class="p19 ft4">DUE</P></TD>
                                        <TD rowspan=2 class="tr5 td39"><P class="p19 ft13">DUE</P></TD>
                                        <TD colspan=2 rowspan=2 class="tr5 td38"><P class="p17 ft13">DUE</P></TD>
                                        <TD colspan=2 rowspan=2 class="tr5 td39"><P class="p17 ft13">PAST DUE</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr3 td40"><P class="p0 ft3">&nbsp;</P></TD>
                                        <TD class="tr3 td41"><P class="p0 ft3">&nbsp;</P></TD>
                                        <TD class="tr3 td28"><P class="p0 ft3">&nbsp;</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr17 td34"><P class="p20 ft9">0.00</P></TD>
                                        <TD class="tr17 td35"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr17 td36"><P class="p21 ft9">{{(oneToThirdyDaysDue - oneToThirdyDaysPaid)|number_format(2, '.', ',')}}</P></TD>
                                        <TD class="tr17 td37"><P class="p22 ft9">{{(thirtyToSixtyDaysDue - thirtyToSixtyDaysPaid)|number_format(2, '.', ',')}}</P></TD>
                                        <TD class="tr17 td42"><P class="p23 ft9">{{(sixtyToNinetyDaysDue - sixtyToNinetyDaysPaid)|number_format(2, '.', ',')}}</P></TD>
                                        <TD class="tr17 td43"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr17 td44"><P class="p24 ft9">{{(moreThenNinetyDaysDue - moreThenNinetyDaysPaid)|number_format(2, '.', ',')}}</P></TD>
                                        <TD class="tr17 td45"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr17 td19"><P class="p25 ft9">KES {{currentBalance|number_format(2, '.', ',')}}</P></TD>
                                    </TR>
                                    <TR>
                                        <TD class="tr6 td40"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr6 td41"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr6 td38"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr6 td39"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr6 td46"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr6 td47"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr6 td48"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr6 td49"><P class="p0 ft2">&nbsp;</P></TD>
                                        <TD class="tr6 td28"><P class="p0 ft2">&nbsp;</P></TD>
                                    </TR>
                                </TABLE>
                            </DIV>
                        </DIV>
                    </DIV>
                </div>
            </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->

    
{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
	<script>
	  $('#sendStatement').click(function() {
        $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: 'Please wait...', },{ element: '#confirmSendInvoice', type: "info", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
        var neu = [];
        var dateFrom = "{{app.request.query.get('dateFrom')}}";
        var dateTo = "{{app.request.query.get('dateTo')}}";
        var uig = "{{app.request.query.get('uig')}}";
        $.ajax({
            url:'{{ (path('send_statement')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "dateFrom": dateFrom,
                "dateTo": dateTo,
                "uig": uig,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: "Statement sent: " + data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>

{% endblock %}