{% extends 'adm_base.html.twig' %}

{% block title %}Students{% endblock %}
{% block stylesheets %}
    <link href="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{asset('adm/assets/libs/datatables/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <style>
        .btn-group {
        display: flex;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Students List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Students List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-student'})}}" class="dropdown-item">Export Email list XLSX [All]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'excel', 'entity': 'phoneactiveuser-student'})}}" class="dropdown-item">Export Phone List XLSX [Active]</a>
                            <!-- item-->
                            <a href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-student'})}}" class="dropdown-item">PDF</a>
                        </div>
                    </div>

                    <table id="responsive-datatable" class="table table-striped table-bordered dt-responsive">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>Course</th>
                                <th>Teacher</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>NOK Phone num.</th>
                                <th>Balance</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for uig in uigs %}
                        {% if uig.studentUserData.student is defined %}
                        {% set fullpricePerSession = uig.sessions|first.package.price / 12 %}
                        {% set feesToPay = fullpricePerSession * uig.sessions|length %}
                        {% set balance = uig.payments and uig.payments|length > 0 ? feesToPay : feesToPay %}
                            <tr>
                                <td>{{ uig.id }}</td>
                                {% if uig.siblingname %}
                                    <td class="text-primary">{{ uig.siblingname }}</td>
                                {% else %}
                                    <td>{{ uig.studentUserData.student == null ? 'NULL' : uig.studentUserData.student.fullname }}</td>
                                {% endif %}
                                <td>{{ uig.instrument.name }}</td>
                                <td>{{ uig.sessions|first.teacher.fullname }}</td>
                                <td>{{ uig.studentUserData.student == null ? 'NULL' : uig.studentUserData.student.email }}</td>
                                <td>{{ uig.studentUserData.phone }}</td>
                                <td>{{ uig.studentUserData.nextofkinphonenum }}</td>
                                <td id="balance-{{uig.id}}">{{ balance }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" style="white-space: nowrap;" data-target="#paymentModal" data-amttopay="{{balance}}" data-uigid="{{uig.id}}" data-from="{{uig.studentUserData.student == null ? 'NULL' : uig.studentUserData.student.fullname}}">Payment</button>                            
                                        {% if uig.sessions|length > 0 %}<a href="{{path('user_instrument_grade_show', {'id': uig.id})}}" class="btn btn-sm btn-info" style="white-space: nowrap;" >Details</a>{% endif %}
                                        <a href="{{path('print_form', {'uig_id': uig.id})}}" style="white-space: nowrap;" class="btn btn-sm btn-primary" id="print-form" >Form</a>
                                        <a href="{{path('student-edit-admin', {'studentid': uig.studentUserData.student == null ? 1 : uig.studentUserData.student.id})}}" style="white-space: nowrap;" class="btn btn-sm btn-info" id="print-form" >Edit</a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->



<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="amount" class="col-form-label">Amount:</label>
            <input type="text" class="form-control amount" id="amount">
            <p id="uigidval" style="display:none;"></p>
          </div>
          <div class="form-group">
            <label for="amount" class="col-form-label">Receipt Number:</label>
            <input type="text" placeholder="Receipt Number" class="form-control receipt_number" id="receipt_number">
            <p id="uigidval" style="display:none;"></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add_payment">Add Payment</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="holder" value="">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('adm/assets/libs/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.flash.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/buttons.print.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.keyTable.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/datatables/dataTables.select.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{asset('adm/assets/libs/pdfmake/vfs_fonts.js') }}"></script>
    <!-- Datatables init -->
    <script src="{{asset('adm/assets/js/pages/datatables.init.js') }}"></script>
    <script>
        $('#paymentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var uigid = button.data('uigid') // Extract info from data-* attributes
            var from = button.data('from') // Extract info from data-* attributes
            var amttopay = button.data('amttopay') // Extract info from data-* attributes
            $("#holder").val(amttopay);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            console.log('uigid: ' + uigid);
            modal.find('.modal-title').text('Payment from ' + from)
            modal.find('.modal-body p').text(uigid)
            modal.find('.modal-body input').val(amttopay)
            $("#add_payment").prop('disabled', true);
            $("#receipt_number").val("");
        })
    </script>
    <script>
        $("#add_payment").click( function () {

            $("#add_payment").prop('disabled', true);
            var uigid = $("#uigidval").text();
            var amount = $("#amount").val();
            var receipt_number = $("#receipt_number").val();

            $.ajax({
                url:'{{ (path('add_payment')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "uigid": uigid,
                    "amount": amount,
                    "receipt_number": receipt_number,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script>
        $(".amount").on('keyup', function() {
            var amount = parseInt($("#amount").val());
            var balance = parseInt($('#holder').val());

            if(amount > balance || !$("#receipt_number").val()){
                $("#add_payment").prop('disabled', true);
            } else {
                $("#add_payment").prop('disabled', false);
            }
            console.log('greater than? '+ amount > balance);
            console.log('empty? '+ $("#receipt_number").val());
        });
        $(".receipt_number").on('keyup', function() {
            var amount = parseInt($("#amount").val());
            var balance = parseInt($('#holder').val());

            if(amount > balance || !$(this).val()){
                $("#add_payment").prop('disabled', true);
            } else {
                $("#add_payment").prop('disabled', false);
            }
            console.log('greater than? '+ amount > balance);
            console.log('empty? '+ !$(this).val());
        })
    </script>
{% endblock %}
