{% extends 'adm_base.html.twig' %}

{% block title %}Teachers{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/card.css')}}">
<style>
.parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  }

.child {
  display: flex;
  flex-direction: column;
}
</style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Teachers List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Teachers List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4">
                <a class="btn btn-primary btn-md waves-effect waves-light mb-3" href="{{path('file_export', {'filetype': 'pdf', 'entity': 'user-teacher'})}}"><i class="mdi mdi-download"></i>PDF</a>
                <a class="btn btn-primary btn-md waves-effect waves-light mb-3" href="{{path('file_export', {'filetype': 'excel', 'entity': 'user-teacher'})}}"><i class="mdi mdi-download"></i>Excel</a>
            </div><!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
        {% for teacher in listofteachers %}
            <div class="col-xl-4">
                <div class="text-center card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{path('admin_session_calendar', {'teacher_id': teacher.user.id })}}" class="dropdown-item">Calendar</a>
                            <!-- item-->
                            <a href="{{path('admin-teacher-students-list', {'teacher_id': teacher.user.id })}}" class="dropdown-item">Reports<span class="badge badge-danger">{{teacher.user.teacherdata.reports|filter( report => report.sent == null)|length}}</span></a>
                            <!-- item-->
                            <a target="_blank" href="{{teacher.user.teacherdata.resumelnk == null ? "#" : teacher.user.teacherdata.resumelnk | external_link}}" class="dropdown-item">Resume link</a>
                        </div>
                    </div>
                    <div>
                        <img src="{{ teacher.user.photo is not null ? teacher.user.photo : asset('img/profile/person.png') }}" class="rounded-circle avatar-xl img-thumbnail mb-2" alt="profile-image">

                        <p class="text-muted font-13 mb-3">
                            <div class="">
                                {% for teacher_instrument in teacher.user.teacherdata.userInstruments %}
                                {{teacher_instrument.instrument.name}} <span class="badge badge-primary">{{teacher_instrument.grade.name}}</span>
                                {% endfor %} 
                            </div>
                            
                        </p>

                        <div class="text-left">
                            <p class="text-muted font-13"><strong>Full Name :</strong> <span class="ml-2">{{teacher.user.fullname}}</span></p>

                            <p class="text-muted font-13"><strong>Mobile :</strong><span class="ml-2">{{teacher.user.teacherdata.phone}}</span></p>

                            <p class="text-muted font-13"><strong>Email :</strong> <span class="ml-2">{{teacher.user.email}}</span></p>

                            <p class="text-muted font-13"><strong>Branch :</strong> <span class="ml-2">{{teacher.user.teacherdata.branch}}</span></p>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm mb-1">
                            1 hr &nbsp; &nbsp; &nbsp; <span class="badge badge-danger">{{teacher.hourly}}</span>
                        </button>                                        
                        <button type="button" class="btn btn-primary btn-sm mb-1">
                            45 m &nbsp; &nbsp; &nbsp; <span class="badge badge-danger">{{teacher.fourtyfive}}</span>
                        </button>                                        
                        <button type="button" class="btn btn-primary btn-sm mb-1">
                            30 m &nbsp; &nbsp; &nbsp; <span class="badge badge-danger">{{teacher.thirty}}</span>
                        </button>            

                        <a href="{{path('admin_session_calendar', {'teacher_id': teacher.user.id })}}" class="btn btn-primary btn-rounded waves-effect waves-light">Calendar</a>
                    </div>

                </div>

            </div> <!-- end col -->
        {% endfor %}
        </div>
        <!-- end row -->

        
    </div> <!-- container-fluid -->

{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
<script>

$(document).ready(function(){
  
  $('.searchinput').keyup(function(){
      console.log('searching...');

    var searchtext = $(this).val().toLowerCase();
    if($(this).val().length > 2){
      $(".card").hide();
      $( "div:contains('"+searchtext+"')" ).closest(".card").show();
      $( "div:contains('"+searchtext.toUpperCase()+"')" ).closest(".card").show();;
      $( "div:contains('"+searchtext.toLowerCase()+"')" ).closest(".card").show();;
      $( "div:contains('"+searchtext.substr(0,1).toUpperCase()+searchtext.substr(1)+"')" ).closest(".card").show();;
    } else {
      $(".card").show("slow");
    }
    
    
  });
});

</script>
{% endblock %}            