<form method="post" action="{{ path('teacher_user_data_delete', {'id': teacher_user_datum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teacher_user_datum.id) }}">
    <button class="btn">Delete</button>
</form>
