{% extends 'base.html.twig' %}

{% block title %}New StudentUserData{% endblock %}

{% block body %}
    <h1>Create new StudentUserData</h1>

    {{ include('student_user_data/_form.html.twig') }}

    <a href="{{ path('student_user_data_index') }}">back to list</a>
{% endblock %}
