{% extends 'adm_base.html.twig' %}
{# this calendar is called from SessionController #}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Calendar</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">{{teacher.fullname}} Calendar</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">

                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-sm btn-primary" href="{{ path('session_new') }}" class="dropdown-item">Create new session</a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mt-3" id="calendar-holder"></div>
                </div>

            </div>
            <!-- end col-12 -->
        </div> <!-- end row -->
        
    </div> <!-- container-fluid -->


    <main class="page">
        <div class="container">
            <div id="calendar-holder"></div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var myVar;

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'timeGridWeek',
                editable: true,
                slotDuration: '00:30:00',
                snapDuration: '00:05:00',
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({"calendar-id": "admin-calendar"})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
                events: [
                    {
                        title: 'My Event',
                        start: '2021-01-01',
                        popup: {
                            title: 'This is the title',
                            descri: 'This is the description',
                        }
                    }
                    // more events here
                    ],
                    eventMouseEnter: function(info) {

                        function myFunction() {
                            myVar = setTimeout(function(){ 
                                var tis = info.el;
                                var event = info.event;
                                console.log(tis.attributes['class']);
                                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Notification:', message: event.title, url: event.url },{delay: 5000, element: '.top-navbar', type: "success", newest_on_top: false, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                                
                            }, 1500);
                        }
                        myFunction();

                    },
                    eventMouseLeave: function(info) {
                        clearTimeout(myVar);
                    },
                    eventDrop: function(info) {
                        console.log('finished dragging');
                        console.log(info.event.url);

                        if (!confirm(info.event.title + " was dropped on " + info.event.start.toISOString() + " Are you sure about this change?")) {
                            info.revert();
                        } else {
                            var dateDropped = info.event.start.toISOString();
                            var d = new Date(dateDropped);
                            var year = d.getUTCFullYear();
                            var month = d.getUTCMonth();
                            var date = d.getUTCDate();
                            var hour = d.getUTCHours();
                            var minute = d.getUTCMinutes();
                            var url = info.event.url;

                            $.ajax({
                                url:'{{ (path('calendar_change_date')) }}',
                                type: "POST",
                                dataType: "json",
                                data: {
                                    "dateDropped": dateDropped,
                                    "year": year,
                                    "month": month,
                                    "date": date,
                                    "hour": hour,
                                    "minute": minute,
                                    "url": url,
                                },
                                async: true,
                                success: function (data)
                                {
                                    console.log(data);
                                },
                                error: function (xhr, status, error) {
                                    console.log('error');
                                }
                            });

                        }
                    },
            });
            calendar.render();
        });
    </script>
{% endblock %}