{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/sidebar.css')}}">
{% endblock %}

{% block body %}

    <main class="page">
        {% include 'templates/sidebar.html.twig' %}
        <div class="container">
            <h1>Edit Session</h1>

            {{ include('session/_editform.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('session_index') }}">back to list</a>

            {{ include('session/_delete_form.html.twig') }}
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
{% endblock %}