{% extends 'adm_base.html.twig' %}

{% block title %}New Session{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/datepicker/css/bootstrap-datepicker.standalone.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/timepicker/css/timepicker.css')}}" />
    
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Calendar</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active"> New Session for {{teacher.fullname}}</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
                                    <!-- item-->
                                    <a href="{{ path('teacher_schooltime_calendar_edit', {'teacher_id': teacher.id}) }}" class="dropdown-item">Edit Schedule</a>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <!-- item-->
                                    <a href="{{ path('session_new', {'teacher_id': teacher.id }) }}" class="dropdown-item">New Session</a>
                                    {% endif %}
                                    <!-- item-->
                                    <a href="{{path( app.user.usertype ~ '_session_calendar', {'teacher_id': teacher.id })}}" class="dropdown-item">Calendar</a>
                                    <button class="check btn btn-primary btn-block">Check</button>
                                </div>
                            </div>
                            {{ include('session/_form.html.twig') }}

                            <a href="{{ path('session_index') }}">Sessions list</a>
                        </div>
                    </div> <!-- end col -->
                </div>  <!-- end row -->

            </div>
            <!-- end col-12 -->
        </div> <!-- end row -->
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %} {% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/timepicker/js/timepicker.js')}}"></script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>    
    <script type="text/javascript">
        $(function () {
    
            $('.js-timepicker').timepicker();
    
        });
    </script>
    <script>
    $( document ).ready(function() {
        $("#session_teacher").val("{{query}}").prop('multiple', false);
        $("#inlineCheckbox-{{seldate|date('l')}}").prop('checked', true);
        function changePackage() {
            $('#session_beginAt').trigger('focusout');
        }
        window.myTimer = setInterval(changePackage, 5000);        
    });
    $("#session_package").click( function() {
        clearInterval(window.myTimer);
    });
    
    </script>
	<script>
	  $(document).on('change', '#session_startingOn', function(){

        $(".valid-feedback").hide();
        var startingOn = $("#session_startingOn").val();
        var beginAt = $("#session_beginAt").val();
        var endAt = $("#session_endAt").val();

        switch (new Date(startingOn).getDay()) {
        case 0:
            var day = "Sunday";
            break;
        case 1:
            var day = "Monday";
            break;
        case 2:
            var day = "Tuesday";
            break;
        case 3:
            var day = "Wednesday";
            break;
        case 4:
            var day = "Thursday";
            break;
        case 5:
            var day = "Friday";
            break;
        case 6:
            var day = "Saturday";
        }

        console.log(day);
        $('.day').removeAttr('checked');
        $("#inlineCheckbox-"+day).prop('checked', true);
        $.ajax({
            url:'{{ (path('check_schedule')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "startingOn": startingOn,
                "beginAt": beginAt,
                "endAt": endAt,
                "teacher_id": "{{teacher.id}}",
            },
            async: true,
            success: function (data)
            {
                //console.log(data);
                $.each( data, function( key, value ) {
                    $("#"+value['target']).html(value['message']).show();
                });                

            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>
    <script>
        $( "#session_beginAt, #session_endAt, #session_startingOn" )
        .focusout(function() {
            //console.log('lost focus');
            var startingOn = $("#session_startingOn").val();
            var beginAt = $("#session_beginAt").val();
            var endAt = $("#session_endAt").val();

            var endTime = new Date(startingOn);
            endTime.setHours(endAt.split(':')[0]);
            endTime.setMinutes(endAt.split(':')[1]);

            //console.log(endTime);

            var starttime = new Date(endTime);
            starttime.setHours(beginAt.split(':')[0]);
            starttime.setMinutes(beginAt.split(':')[1]);

            //console.log(starttime);

            var durationInMinutes = endTime - starttime;           

            //console.log(durationInMinutes/60000);
            var minutes = durationInMinutes/60000;

            switch (minutes) {
            case 60:
                $("#session_package").val(1);
                //console.log($('#session_package').val())
                break;
            case 45:
                $("#session_package").val(2);
                //console.log($('#session_package').val())
                break;
            case 30:
                $("#session_package").val(3);
                //console.log($('#session_package').val())
                break;
            case 120:
                $("#session_package").val(7);
                //console.log($('#session_package').val())
            }

        });

    </script>
	<script>
	  $(document).on('change', '#session_beginAt', function(){

        var startingOn = $("#session_startingOn").val();
        var beginAt = $("#session_beginAt").val();
        var endAt = $("#session_endAt").val();

        $.ajax({
            url:'{{ (path('check_schedule')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "startingOn": startingOn,
                "beginAt": beginAt,
                "endAt": endAt,
                "teacher_id": "{{teacher.id}}",
            },
            async: true,
            success: function (data)
            {
                //console.log(data);
                $.each( data, function( key, value ) {
                    $("#"+value['target']).html(value['message']).show();
                });                

            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

	  });
	</script>
    <script>
        $("#session_package").change( function() {
            console.log('changed');
            var package_id = $('#session_package').val();

            $.ajax({
                url:'{{ (path('check_duration')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "package_id": package_id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    var startingOn = $("#session_startingOn").val();
                    var beginAt = $("#session_beginAt").val();
                    var endAt = $("#session_endAt").val();
                    var starttime = new Date(startingOn);
                    starttime.setHours(beginAt.split(':')[0]);
                    starttime.setMinutes(beginAt.split(':')[1]);

                    console.log(starttime);
                    var endtime = new Date(starttime);
                    var durationInMinutes = data;

                    endtime.setMinutes(starttime.getMinutes() + durationInMinutes);
                    console.log(endtime);

                    var formattedtime = endtime.getMinutes() < 10 ? '0'+endtime.getMinutes() : endtime.getMinutes() ;
                    $("#session_endAt").val((endtime.getHours() + ":" + formattedtime));

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

        });
    </script>
	<script>      
        $(".check").click(function(){
            $("#session_beginAt").trigger('change');
        })      
	</script>

    <script>
        $("#multiply, .day").change(function() {
            console.log('clicked');
            var days = $('.day:checked').map(function(){ 
                return this.value; 
            }).get();
            var numberofdaysperweek = days.length;
            if ($('#multiply').is(':checked')) {
                $("#session_numberofsessions").val(12*numberofdaysperweek);
            } else {
                $("#session_numberofsessions").val(12);
            }
        });
    </script>
{% endblock %}