{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/sidebar.css')}}">
{% endblock %}

{% block body %}
    <main class="page">
        {% include 'templates/sidebar.html.twig' %}
        <div class="container">
            <h1>Session index</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>BeginAt</th>
                        <th>EndAt</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for session in sessions %}
                    <tr>
                        <td>{{ session.id }}</td>
                        <td>{{ session.beginAt ? session.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ session.endAt ? session.endAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('session_show', {'id': session.id}) }}">show</a>
                            <a href="{{ path('session_edit', {'id': session.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('session_new') }}">Create new</a>
        </div>
    </main>

{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
{% endblock %}
