{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <h1>Settings</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ setting.description }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ setting.name }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ setting.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('settings_index') }}">back to list</a>

    <a href="{{ path('settings_edit', {'id': setting.id}) }}">edit</a>

    {{ include('settings/_delete_form.html.twig') }}
{% endblock %}
