{% extends 'adm_base.html.twig' %}

{% block title %}Groups List{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
{# 0736991179 Shopit #}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Added Contact Lists</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Contact Lists</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a href="{{ path('group_new') }}" class="dropdown-item">Create new</a>
                            <!-- item-->
                            <a href="{{ path('admin-communications') }}" class="dropdown-item">Back to communications</a>
                        </div>
                    </div>
                    <h4 class="mt-0 mb-3 header-title">List of all contact lists</h4>

                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Actions</th>
                                <th>Contacts</th>
                                <th>Import</th>
                                <th>Files</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr>
                                <td>{{ group.id }}</td>
                                <td>{{ group.title }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{{ path('group_show', {'id': group.id}) }}">Show</a>
                                    <a class="btn btn-sm btn-primary" href="{{ path('group_edit', {'id': group.id}) }}">Edit</a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-success" href="{{ path('contact_new', {'group_id': group.id}) }}">Add contact</a>
                                    <a class="btn btn-sm btn-success" href="{{ path('contact_index', {'group_id': group.id}) }}">View contacts</a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-info" href="{{ path('app_upload_new', {'group_id': group.id}) }}">Import contacts from excel</a>
                                </td>
                                <td>
                                    <ul>
                                        {% for upload in group.file %}
                                            <li>{{upload.file}}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->


{% endblock %}
{% block footer %}   

{% endblock %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.datatable').DataTable();
        } );
    </script>

{% endblock %}
