{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{name}}</h1>
      <p class="lead">We have received your message and we will get back to you as soon as possible.</p>
      <p>You can call us on working days during working hours on 0711832933. </p>
      <p>Thank you for choosing Cheza Music School. </p>
      <callout class="primary">
        <p>You can <a href="{{url('app_register', {'usertype': 'student'})}}">create your student account now.</a></p>
      </callout>

    </columns>
  </row>

{% endblock %}