{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, Admin</h1>
      <p class="lead">There is a new student that has just registered online.</p>
      <p>The new student is called {{student.fullname}} and they want to learn 
        {% for student_instrument in student.studentdata.userInstruments %}
           {{student_instrument.instrument.name}} {{student_instrument.grade.name}} {{loop.last ? '' : ', '}}
        {% endfor %}
        . Kindly get in touch with {{student.fullname|split(" ")[0]}} on {{student.studentdata.phone}} or {{student.email}} and assign them a teacher.</p>
      <callout class="primary">
        <p>You can <a href="{{url('admin-teachers-list')}}">assign them a teacher and lesson time from here.</a></p>
      </callout>

    </columns>
  </row>

{% endblock %}