{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{student.fullname}}</h1>
      <p class="lead">You have been given a {{userinstrumentgrade.instrument}} teacher by name {{teacher.fullname}}.</p>
      <p>Your lessons will begin on {{startingdate}} from {{beginAt}} to {{endAt}}.</p>
      <callout class="primary">
        <p>You can <a href="{{url('app_login')}}">sign in to your portal using this link.</a></p>
      </callout>

    </columns>
  </row>

  {% endblock %}