<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('NiceAdmin/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- bootstrap theme -->
        <link href="{{ asset('NiceAdmin/css/bootstrap-theme.css') }}" rel="stylesheet">
        <!--external css-->
        <!-- font icon -->
        <link href="{{ asset('NiceAdmin/css/elegant-icons-style.css') }}" rel="stylesheet" />
        <link href="{{ asset('NiceAdmin/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('NiceAdmin/css/style-responsive.css') }}" rel="stylesheet" />
        <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
        {# {% include "favicon.html.twig" %} #}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- javascripts -->
        <script src="{{ asset('NiceAdmin/js/jquery.js' ) }}"></script>
        <script src="{{ asset('NiceAdmin/js/jquery-1.8.3.min.js' ) }}"></script>
        <!-- bootstrap -->
        <script src="{{ asset('NiceAdmin/js/bootstrap.min.js' ) }}"></script>
        <!-- nice scroll -->
        <script src="{{ asset('NiceAdmin/js/jquery.scrollTo.min.js' ) }}"></script>
        <script src="{{ asset('NiceAdmin/js/jquery.nicescroll.js' ) }}" type="text/javascript"></script>
        <!-- charts scripts -->
        <script src="{{ asset('NiceAdmin/js/jquery.rateit.min.js' ) }}"></script>
        <!--custome script for all page-->
        <script src="{{ asset('NiceAdmin/js/scripts.js' ) }}"></script>
        <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

        {% block javascripts %}{% endblock %}

        {# {% include "reusable/phplive.html.twig" %}        #}

    </body>
</html>
