<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cheza Music School{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
        <link rel="stylesheet" href="{{asset('assets/fonts/ionicons.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/fonts/simple-line-icons.min.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
        <link rel="stylesheet" href="{{asset('assets/css/smoothproducts.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/Highlight-Clean.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
        
        {% block navbar %}

            {% include 'templates/nav.html.twig' %}

        {% endblock navbar %}
        <main class="page body">
        {% block body %}
            
            
        {% endblock %}
        </main>
        {% block footer %}

            {% include 'templates/footer.html.twig' %}
        {% endblock footer %}
        <div id="preloader">
            <div id="loader"></div>
        </div>
        <script src="{{asset('assets/js/jquery.min.js')}}"></script>
        <script src="{{asset('assets/js/cropper.js')}}"></script>
        <link rel="stylesheet" href="{{asset('assets/css/cropper.css')}}">
        <script src="{{asset('assets/js/jquery-cropper.js')}}"></script>
        <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/js/bs-init.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script src="{{asset('assets/js/smoothproducts.min.js')}}"></script>
        <script src="{{asset('assets/js/theme.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>

        <script>
            function validateForm(data){
                var valid = true;
                $.each(data, function(id, obj) {
                    if(obj.value === "") {
                        valid = false;
                        $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Error:', message: "Please fill in all the fields.", },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                    }
                });   
                return valid;         
            }
        </script>
        <script>
            //$('#preloader').bind('ajaxStart', function(){
            //    $(this).show();
            //}).bind('ajaxStop', function(){
            //    $(this).hide();
            //});
            $(document).ajaxSend(function(){
                $("#preloader").fadeIn(250);
            });
            $(document).ajaxComplete(function(){
                $("#preloader").fadeOut(250);
            });            
        </script>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    
                </div>
                <script>

                    $.notify({
                        // options
                        icon: 'glyphicon glyphicon-{{ label }}-sign',
                        title: 'Notification:',
                        message: '{{ message }}',
                    },{
                        // settings
                        element: 'body',
                        type: "{{ label }}",
                        newest_on_top: true,
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        offset: 20,
                        spacing: 10,
                    });

                </script>

            {% endfor %}
        {% endfor %}         
        {% block javascripts %}{% endblock %}
    </body>
</html>
