<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}{{sonata_seo_title()}}{% endblock %}
    {{ sonata_seo_metadatas() }}
	<link rel="icon" href="{{asset('favicon.ico')}}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="xmlrpc.html" />
	<link rel='dns-prefetch' href='http://maps.google.com/' />
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link rel='dns-prefetch' href='http://s.w.org/' />
	<link rel="alternate" type="application/rss+xml" title=" Cheza Music School &raquo; Feed" href="#" />
	<link rel="alternate" type="application/rss+xml" title=" Cheza Music School &raquo; Comments Feed" href="#" />
	<link rel='stylesheet' id='essential-grid-plugin-settings-css' href="{{asset('merger/essential-grid/css/settings.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='tp-open-sans-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800&amp;ver=4.6.3' type='text/css' media='all' />
	<link rel='stylesheet' id='tp-raleway-css' href='http://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&amp;ver=4.6.3' type='text/css' media='all' />
	<link rel='stylesheet' id='tp-droid-serif-css' href='http://fonts.googleapis.com/css?family=Droid+Serif%3A400%2C700&amp;ver=4.6.3' type='text/css' media='all' />
	<link rel='stylesheet' id='rs-plugin-settings-css' href="{{asset('merger/revslider/css/settings.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='wpProQuiz_front_style-css' href="{{asset('merger/sfwd-lms/wp-pro-quiz/css/wpProQuiz_front.min.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='learndash_style-css' href="{{asset('merger/sfwd-lms/assets/style.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-font-google_fonts-style-css' href='http://fonts.googleapis.com/css?family=Lora:300,300italic,400,400italic,700,700italic%7COpen+Sans:300,300italic,400,400italic,700,700italic&amp;subset=latin,latin-ext&amp;rnd=1345236703' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href="{{asset('publicsite/css/fontello/css/fontello.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href="{{asset('publicsite/css/style.css')}}" type='text/css' media='all' />
    <link rel="stylesheet" href="{{asset('assets/css/loader.css')}}">
	<link rel='stylesheet' id='chezaschool-animation-style-css' href="{{asset('publicsite/js/vendor/fw/css/core.animation.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href="{{asset('publicsite/js/vendor/shortcodes/theme.shortcodes.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href="{{asset('publicsite/css/theme.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='sfwd_front_css-css' href="{{asset('merger/sfwd-lms/assets/front.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='sfwd_template_css-css' href="{{asset('merger/sfwd-lms/templates/learndash_template_style.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-magnific-style-css' href="{{asset('publicsite/js/vendor/fw/js/magnific/magnific-popup.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-swiperslider-style-css' href="{{asset('publicsite/js/vendor/fw/js/swiper/swiper.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-messages-style-css' href="{{asset('publicsite/js/vendor/fw/js/core.messages/core.messages.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='themepunchboxextcss-css' href="{{asset('merger/essential-grid/css/lightbox.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.instagram-widget-style-css' href="{{asset('publicsite/css/plugin.instagram-widget.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.learndash-style-css' href="{{asset('publicsite/css/plugin.learndash.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css-2' href="{{asset('publicsite/css/custom.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href="{{asset('publicsite/css/responsive.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='mediaelement-css' href="{{asset('publicsite/js/vendor/mediaelement/mediaelementplayer.min.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' id='wp-mediaelement-css' href="{{asset('publicsite/js/vendor/mediaelement/wp-mediaelement.min.css')}}" type='text/css' media='all' />
    {% block stylesheets %}{% endblock %}
</head>
{% if nav_type == 'full' %}{% set side = 'over' %}{% set navbar = 'nav.html.twig' %}{% else %}{% set side = 'above' %}{% set navbar = 'half_nav.html.twig' %}{% endif %}
{% if sidebar is defined and sidebar == 'true' %}{% set sidebarinfo = 'sidebar_show sidebar_right sidebar_outer_hide' %}{% else %}{% set sidebarinfo = 'sidebar_hide sidebar_outer_hide' %}{% endif %}
<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+254 716 339886", // WhatsApp number
            email: "info@chezamusicschool.co.ke", // Email
            call_to_action: "Message us/call 0711832933", // Call to action
            button_color: "#FF6550", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "whatsapp,email", // Order of buttons
            pre_filled_message: "Tell me more about your school.", // WhatsApp pre-filled message
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
<body class="home page page-id-301 page-template-default chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_{{side}} {{sidebarinfo}} vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>

            {% block navbar %}

                {% include 'templates/' ~ navbar %}

            {% endblock navbar %}
            

            {% block slider %}
                {% include 'templates/slider.html.twig' %}
            {% endblock %}

            <div id="page-wrapper" >
                <div id="page-inner">
                    
                    {% block body %}
                        
                        
                    {% endblock %}


                    <footer class="footer_wrap widget_area scheme_original">
                        <div class="footer_wrap_inner widget_area_inner">
                            <div class="content_wrap">
                                <div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Phone</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>0711 832 933 </span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Social Media</h5>
								<ul>
									<li class="theme_text last">Cheza Music School</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 8am - 6pm<br></span></div>
							</aside>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <div class="copyright_wrap copyright_style_socials  scheme_original">
                        <div class="copyright_wrap_inner">
                            <div class="content_wrap">
                                <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                    <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
                                    <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
                                    <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
                                </div>
                                <div class="copyright_text">
                                    <p>All right reserved. Website by: <a href="http://muske.co.ke/maestrojosiah">Maestro</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="custom_html_section"></div>

            <div id="preloader">
                <div id="loader"></div>
            </div>

	</div>
    <script src="{{asset('assets/js/jquery.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/jquery.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/jquery-migrate.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/essential-grid/js/lightbox.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/essential-grid/js/jquery.themepunch.tools.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/essential-grid/js/jquery.themepunch.essential.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/superfish.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/jquery.slidemenu.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/core.utils.js')}}"></script>
	{# <script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/core.init.js')}}"></script> #}
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/theme.init.js')}}"></script>
	<script type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBzpci4eemBfbOo2f8ZZbQFHDS9fNTMRc0&amp;rnd=437119213'></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/core.googlemap.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/shortcodes/theme.shortcodes.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/magnific/jquery.magnific-popup.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/lib/bower/isotope/dist/isotope.pkgd.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/swiper/swiper.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/custom/custom.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap-notify.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/custom/esg-grid-4-1.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/custom/rev_slider_1_1.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/jquery.themepunch.revolution.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/extensions/revolution.extension.navigation.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('merger/revslider/js/extensions/revolution.extension.video.min.js')}}"></script>
	<script type='text/javascript' src="{{asset('publicsite/js/vendor/fw/js/core.init.js')}}"></script>
    <script>
        function validateForm(data){
            var valid = true;
            $.each(data, function(id, obj) {
                if(obj.value === "") {
                    valid = false;
                    $.notify({ icon: 'glyphicon glyphicon-warning-sign', title: 'Error:', message: "Please fill in all the fields.", },{ element: 'body', type: "danger", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                }
            });   
            return valid;         
        }
    </script>
    <script>
        $(document).ajaxSend(function(){
            $("#preloader").fadeIn(250);
        });
        $(document).ajaxComplete(function(){
            $("#preloader").fadeOut(250);
        });            
    </script>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                
            </div>
            <script>

                $.notify({
                    // options
                    icon: 'glyphicon glyphicon-{{ label }}-sign',
                    title: 'Notification:',
                    message: '{{ message }}',
                },{
                    // settings
                    element: 'body',
                    type: "{{ label }}",
                    newest_on_top: true,
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    offset: 20,
                    spacing: 10,
                });

            </script>

        {% endfor %}
    {% endfor %}         
    {% block javascripts %}{% endblock %}

   
</body>
</html>
