{% if 'theory' in report.uig.instrument.name  and ('1' in report.uig.grade.name or '2' in report.uig.grade.name or '3' in report.uig.grade.name or '4' in report.uig.grade.name or '5' in report.uig.grade.name ) %}
    {% include 'pdf/theory1_5.html.twig' %}
{% elseif 'theory' in report.uig.instrument.name and ('6' in report.uig.grade.name or '7' in report.uig.grade.name or '8' in report.uig.grade.name ) %}
    {% include 'pdf/theory6_8.html.twig' %}
{% else %}
    {% include 'pdf/instrument.html.twig' %}
{% endif %}
