{% extends 'pdfBase.html.twig' %}

{% block title %}CV (resume){% endblock %}
{% block stylesheets %}
<style>
	body {
		margin: 0;
		font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-size: 1.1rem;
		font-weight: 400;
		line-height: 2.5;
		color: #777;
		text-align: left;
		background-color: #fff;
	}
	#simple_one {
		max-width: 21cm;
		margin-top: 50px;
		border: 1px solid #f1eaea;
		padding: 10px;
		margin: auto;
	}
	.row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	*, *::before, *::after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.col-md-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
		float: left;
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
	.mt-3, .my-3 {
		margin-top: 1rem !important;
	}
	#header h3 {
		margin-left: 15px;
	}
	#header h5 {
		margin-left: 15px;
	}
	h3, .h3 {
		font-size: 1.75rem;
	}

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
		color: #2d2d2d;
	}
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
	#header a {
		font-size: 0.8rem;
		margin-left: 10px;
	}
	a {
		color: inherit;
		text-decoration: none;
		background-color: transparent;
	}
	.col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		float: left;
	}
	.text-right {
		text-align: right !important;
	}
	p {
		margin-top: 0;
		margin-bottom: 1rem;
	}
	.mb-3, .my-3 {
		margin-bottom: 1rem !important;
	}
	.col-md-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.card {
		border: none;
	}

	.card {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid #fff;
		border-radius: 0.25rem;
	}
	.card-header:first-child {
		border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
	}

	.card-header {
		padding: 0.75rem 1.25rem;
		margin-bottom: 0;
		background-color: rgba(0,0,0,0.03);
		border-bottom: 1px solid rgba(0,0,0,0.125);
	}

	.card-header {
		padding: 2px;
		text-transform: uppercase;
	}

	.card-header h5 {
		padding-left: 20px;
		font-size: 1rem;
		font-weight: bold;
	}
	.card h1, .card h2, .card h3, .card h4, .card h5, .card h6, .list-group-item h1, .list-group-item h2, .list-group-item h3, .list-group-item h4, .list-group-item h5, .list-group-item h6 {
		color: inherit;
	}
	.mb-0, .my-0 {
		margin-bottom: 0 !important;
	}

	.card-body {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		min-height: 1px;
		padding: 1.25rem;
	}
	.card-text:last-child {
		margin-bottom: 0;
	}
	.row.sec {
		margin-top: 10px;
	}
	small, .small {
		font-size: 80%;
		font-weight: 400;
	}
	.col-md-12.edu-sec {
		padding-bottom: 20px;
	}
	.sec-heading {
		margin-bottom: 0px!important;
	}
	h5, .h5 {
		font-size: 1.25rem;
	}
	.sec-paragraph {
		margin-bottom: 0px;
	}
	ol, ul, dl {
		margin-top: 0;
		margin-bottom: 1rem;
	}
	.col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.3333333333%;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
		float: left;
	}
	.ref-h6 {
		margin-bottom: 0px;
	}
	.ref {
		margin: 0px;
	}
	h6, .h6 {
		font-size: 1rem;
		font-weight: bold;
	}
	.clearfix{
		clear: both;
	}
</style>
{% endblock %}
{% block body %}

<div class="container" id="simple_one">
	<div class="row">
		<div class="col-md-9 mb-3" id="header">
			<div class="mt-3">
				<h3>Cheza Music School</h3>
				<h5>New Student Registration Form</h5>
			</div>
		</div>
		<div class="col-md-3">
			<p class="text-right"><small>Batch : {{"now"|date('Y')}}</small></p>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		{# <div class="col-md-12 mb-3">
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Profile</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{student.about}}</p>
				</div>
			</div>
		</div> #}
		<div class="col-md-12 mb-3">
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Student Information</h5>
				</div>
				<div class="card-body">
					<div class="row sec">
						<div class="col-md-9">
							<h5 class="sec-heading">{{student.fullname}}<br></h5><small><em>Gender: {{student.studentdata.sex == "male" ? "Male" : "Female"}}</em><br></small></div>
						<div class="col-md-3 text-right"><small>Age: {{student.studentdata.age == "over18" ? 'Above 18' : 'Below 18'}}</small></div>
						<div class="col-md-9">
						<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/phone.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{app.user != null ? student.studentdata.phone : ""}}</a><br />
						<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/mail.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{app.user != null ? student.email : ""}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Next of Kin / Sponsor Information</h5>
				</div>
				<div class="card-body">
					<div class="row sec">
						<div class="col-md-9">
							<h5 class="sec-heading">{{student.studentdata.nextofkinname}}<br></h5><small><em>Relationship: {{student.studentdata.nextofkinrship}}</em><br></small></div>
						<div class="col-md-9">
						<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/phone.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{app.user != null ? student.studentdata.nextofkinphonenum : ""}}</a><br />
						<a href="#"><img src="{{app.request.getSchemeAndHttpHost()}}/icons/mail.png" style="margin:0px;padding:0px;width:10px; height:10px;" />&nbsp;{{app.user != null ? student.studentdata.nextofkinemail : ""}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="mb-0">Academic Information</h5>
				</div>
				<div class="card-body pt-1">
					<div class="row sec">
						<div class="col-md-12 edu-sec mb-3">
						<table class="col-md-12">
							<tr>
								<th class="col-md-3">#</th>
								<th class="col-md-3">Instrument</th>
								<th class="col-md-3">Teacher</th>
								<th class="col-md-3">Duration</th>
							</tr>
						{% for uig in student.studentdata.userInstruments %}
						{% if uig.sessions and uig.sessions|length > 1 %}
							<tr>
								<td class="col-md-3">Instrument {{loop.index}}</td>
								<td class="col-md-3">{{uig.instrument.name}}</td>
								<td class="col-md-3">{{uig.sessions|first.teacher.fullname}}</td>
								<td class="col-md-3">{{uig.sessions|first.package.duration}} minutes</td>
							</tr>
						{% endif %}
						{% endfor %}
						</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
