<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>About style 1 &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />

</head>
<body class="page page-id-228 page-template-default chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item current-menu-item page-item-228"><a href="{{path('default')}}">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item current-menu-item page-item-228"><a href="{{path('default')}}">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">About style 1</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">About style 1</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_no">
				<div class="c_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-228 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner block_1462455368545">
											<div class="wrap">
												<div class="sc_section margin_bottom_large aligncenter" style="max-width: 940px;">
													<div class="sc_section_inner">
														<h1 class="sc_section_title sc_item_title">About</h1>
														<h6 class="sc_section_subtitle sc_item_subtitle">school</h6>
														<div class="sc_section_content_wrap">
															<div class="wpb_text_column wpb_content_element ">
																<div class="wpb_wrapper">
																	<p>Our professional approach and continual development has led us to becoming the leading provider of professional music education. We combine innovative, fun and creative ways to teach music and engage with students to reach their full
																		potential. Innovative music lessons and classes from beginner through advanced for children, teens, and adults. We are the best music school for you. We have programs to suit everyone’s needs.</p>
																</div>
															</div>
															<div class="wpb_text_column wpb_content_element  block_1463063670281">
																<div class="wpb_wrapper">
																	<p>We are the only professional music school offering lessons for children, adults and seniors.</p>
																</div>
															</div>
															<div class="wpb_text_column wpb_content_element  block_1462455262402">
																<div class="wpb_wrapper">
																	<p>Peter Caroll</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row vc_row-no-padding">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_parallax" data-parallax-speed="0.1" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
													<div class="sc_parallax_content" style="background-image:url(images/bg2-Parallax.jpg); background-position:50% 50%;">
														<div class="sc_content content_wrap">
															<h1 class="sc_title sc_title_regular sc_align_center margin_top_huge" style="margin-bottom: 1.55rem;text-align:center;color:#ffffff;">Melody Music School</h1>
															<div class="sc_section aligncenter" style="max-width: 590px;">
																<div class="sc_section_inner">
																	<div class="sc_section_content_wrap"><span class="sc_highlight" style="color:#ffffff;font-size:1.3846em; line-height: 1.4em;">We have talented and very experienced instructors who teach piano, violin, guitar, cello, and other instruments.</span></div>
																</div>
															</div>
															<div id="sc_skills_diagram_1710015784" class="sc_skills sc_skills_counter margin_bottom_large" style="margin-top: 1.5rem;" data-type="counter" data-caption="Skills">
																<div class="columns_wrap sc_skills_columns sc_skills_columns_4">
																	<div class="sc_skills_column column-1_4">
																		<div class="sc_skills_item sc_skills_style_2 odd first">
																			<div class="sc_skills_icon none"></div>
																			<div class="sc_skills_count"></div>
																			<div class="sc_skills_total" data-start="0" data-stop="231" data-step="2" data-max="231" data-speed="31" data-duration="3581" data-ed="">0</div>
																			<div class="sc_skills_info">
																				<div class="sc_skills_label">Students</div>
																			</div>
																		</div>
																	</div><div class="sc_skills_column column-1_4">
																		<div class="sc_skills_item sc_skills_style_2 even">
																			<div class="sc_skills_icon none"></div>
																			<div class="sc_skills_count"></div>
																			<div class="sc_skills_total" data-start="0" data-stop="14" data-step="2" data-max="231" data-speed="13" data-duration="91" data-ed="">0</div>
																			<div class="sc_skills_info">
																				<div class="sc_skills_label">Teachers</div>
																			</div>
																		</div>
																	</div><div class="sc_skills_column column-1_4">
																		<div class="sc_skills_item sc_skills_style_2 odd">
																			<div class="sc_skills_icon none"></div>
																			<div class="sc_skills_count"></div>
																			<div class="sc_skills_total" data-start="0" data-stop="32" data-step="2" data-max="231" data-speed="36" data-duration="576" data-ed="">0</div>
																			<div class="sc_skills_info">
																				<div class="sc_skills_label">Programmes</div>
																			</div>
																		</div>
																	</div><div class="sc_skills_column column-1_4">
																		<div class="sc_skills_item sc_skills_style_2 even">
																			<div class="sc_skills_icon none"></div>
																			<div class="sc_skills_count"></div>
																			<div class="sc_skills_total" data-start="0" data-stop="21" data-step="2" data-max="231" data-speed="36" data-duration="378" data-ed="">0</div>
																			<div class="sc_skills_info">
																				<div class="sc_skills_label">Awards</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="vc_empty_space" style="height: 1.7em"><span class="vc_empty_space_inner"></span></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="sc_section aligncenter" style="max-width: 1020px;">
													<div class="sc_section_inner">
														<h1 class="sc_section_title sc_item_title">Teachers</h1>
														<h6 class="sc_section_subtitle sc_item_subtitle">staff</h6>
														<div class="sc_section_content_wrap">
															<div id="sc_team_193910133_wrap" class="sc_team_wrap">
																<div id="sc_team_193910133" class="sc_team sc_team_style_team-1  margin_top_medium margin_bottom_medium">
																	<div class="sc_columns columns_wrap">
																		<div class="column-1_3 column_padding_bottom">
																			<div id="sc_team_193910133_1" class="sc_team_item sc_team_item_1 odd first">
																				<div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Tim Caroll" src="images/team-1-370x370.jpg"></div>
																				<div class="sc_team_item_info">
																					<h3 class="sc_team_item_title"><a href="single-member.html">Tim Caroll</a></h3>
																					<div class="sc_team_item_position">professional cellist</div>
																					<div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																						<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
																						<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
																						<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
																					</div>
																				</div>
																			</div>
																		</div><div class="column-1_3 column_padding_bottom">
																			<div id="sc_team_193910133_2" class="sc_team_item sc_team_item_2 even">
																				<div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Amanda Snow" src="images/team-2-370x370.jpg"></div>
																				<div class="sc_team_item_info">
																					<h3 class="sc_team_item_title"><a href="single-member.html">Amanda Snow</a></h3>
																					<div class="sc_team_item_position">professional pianist</div>
																					<div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																						<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
																						<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
																						<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
																					</div>
																				</div>
																			</div>
																		</div><div class="column-1_3 column_padding_bottom">
																			<div id="sc_team_193910133_3" class="sc_team_item sc_team_item_3 odd">
																				<div class="sc_team_item_avatar"><img class="wp-post-image" width="370" height="370" alt="Terry Barton" src="images/team-3-370x370.jpg"></div>
																				<div class="sc_team_item_info">
																					<h3 class="sc_team_item_title"><a href="single-member.html">Terry Barton</a></h3>
																					<div class="sc_team_item_position">professional violinist</div>
																					<div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																						<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
																						<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
																						<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</article>
						<section class="related_wrap related_wrap_empty"></section>
					</div>
				</div>
			</div>
			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Address</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Twitter</h5>
								<ul>
									<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
							</aside>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
