<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>All courses &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' id='sfwd_template_css-css' href='js/vendor/plugins/sfwd-lms/templates/learndash_template_style.css' type='text/css' media='all' />
</head>
<body class="page page-id-624 page-template page-template-blog-learndash page-template-blog-learndash-php chezaschool_body body_style_wide body_filled article_style_stretch layout_excerpt template_excerpt scheme_original top_panel_show top_panel_above sidebar_show sidebar_right sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item current-menu-item page-item-62429"><a href="{{path('default')}}">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item current-menu-item page-item-62429"><a href="{{path('default')}}">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">All courses</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">All courses</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_yes">
				<div class="content_wrap">
					<div class="content">
						<article class="post_item post_item_excerpt post_featured_right post_format_standard odd post-513 sfwd-courses type-sfwd-courses has-post-thumbnail hentry">
							<h1 class="post_title"><a href="single-course.html">Private Lessons</a></h1>
							<div class="post_info">
								<span class="post_info_item post_info_posted">Started <a href="single-course.html" class="post_info_date">May 11, 2016</a></span>
								<span class="post_info_item post_info_counters"> <a class="post_counters_item post_counters_comments icon-comment" title="Comments - 0" href="single-course.html#respond"><span class="post_counters_number">0 comments</span></a>
								</span>
							</div>
							<div class="post_featured">
								<div class="post_thumb" data-image="images/image-7.jpg" data-title="Private Lessons">
									<a class="hover_icon hover_icon_link" href="single-course.html"><img class="wp-post-image" width="770" height="434" alt="Private Lessons" src="images/image-7-770x434.jpg"></a>
								</div>
							</div>
							<div class="post_content clearfix">
								<div class="post_descr">
									<p>Lorem ipsum dolor sit amet, diam case euismod vel eu, vocibus eligendi suscipiantur sed ea, pri choro soleat adolescens no. Ne his quod idque doming. Meis quando omnium ea mel. Solum ipsum virtute in quo, ei vis mollis patrioque philosophia. Duo ea viris primis dolorem, duo eleifend eloquentiam...</p><p><a href="single-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a></p></div>
							</div>
						</article>
						<article class="post_item post_item_excerpt post_featured_left post_format_standard even post-517 sfwd-courses type-sfwd-courses has-post-thumbnail hentry">
							<h1 class="post_title"><a href="single-course.html">Adults</a></h1>
							<div class="post_info">
								<span class="post_info_item post_info_posted">Started <a href="single-course.html" class="post_info_date">May 11, 2016</a></span>
								<span class="post_info_item post_info_counters"> <a class="post_counters_item post_counters_comments icon-comment" title="Comments - 0" href="single-course.html#respond"><span class="post_counters_number">0 comments</span></a>
								</span>
							</div>
							<div class="post_featured">
								<div class="post_thumb" data-image="images/image-6.jpg" data-title="Adults">
									<a class="hover_icon hover_icon_link" href="single-course.html"><img class="wp-post-image" width="770" height="434" alt="Adults" src="images/image-6-770x434.jpg"></a>
								</div>
							</div>
							<div class="post_content clearfix">
								<div class="post_descr">
									<p>Lorem ipsum dolor sit amet, diam case euismod vel eu, vocibus eligendi suscipiantur sed ea, pri choro soleat adolescens no. Ne his quod idque doming. Meis quando omnium ea mel. Solum ipsum virtute in quo, ei vis mollis patrioque philosophia. Duo ea viris primis dolorem, duo eleifend eloquentiam...</p><p><a href="single-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a></p></div>
							</div>
						</article>
						<article class="post_item post_item_excerpt post_featured_right post_format_standard odd post-519 sfwd-courses type-sfwd-courses has-post-thumbnail hentry">
							<h1 class="post_title"><a href="single-course.html">Teens</a></h1>
							<div class="post_info">
								<span class="post_info_item post_info_posted">Started <a href="single-course.html" class="post_info_date">May 11, 2016</a></span>
								<span class="post_info_item post_info_counters"> <a class="post_counters_item post_counters_comments icon-comment" title="Comments - 0" href="single-course.html#respond"><span class="post_counters_number">0 comments</span></a>
								</span>
							</div>
							<div class="post_featured">
								<div class="post_thumb" data-image="images/image-20.jpg" data-title="Teens">
									<a class="hover_icon hover_icon_link" href="single-course.html"><img class="wp-post-image" width="770" height="434" alt="Teens" src="images/image-20-770x434.jpg"></a>
								</div>
							</div>
							<div class="post_content clearfix">
								<div class="post_descr">
									<p>Lorem ipsum dolor sit amet, diam case euismod vel eu, vocibus eligendi suscipiantur sed ea, pri choro soleat adolescens no. Ne his quod idque doming. Meis quando omnium ea mel. Solum ipsum virtute in quo, ei vis mollis patrioque philosophia.	Duo ea viris primis dolorem, duo eleifend eloquentiam...</p><p><a href="single-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a></p></div>
							</div>
						</article>
						<article class="post_item post_item_excerpt post_featured_left post_format_standard even last post-522 sfwd-courses type-sfwd-courses has-post-thumbnail hentry">
							<h1 class="post_title"><a href="single-course.html">Kids</a></h1>
							<div class="post_info">
								<span class="post_info_item post_info_posted">Started <a href="single-course.html" class="post_info_date">May 11, 2016</a></span>
								<span class="post_info_item post_info_counters"> <a class="post_counters_item post_counters_comments icon-comment" title="Comments - 0" href="single-course.html#respond"><span class="post_counters_number">0 comments</span></a>
								</span>
							</div>
							<div class="post_featured">
								<div class="post_thumb" data-image="images/image-9.jpg" data-title="Kids">
									<a class="hover_icon hover_icon_link" href="single-course.html"><img class="wp-post-image" width="770" height="434" alt="Kids" src="images/image-9-770x434.jpg"></a>
								</div>
							</div>
							<div class="post_content clearfix">
								<div class="post_descr">
									<p>Lorem ipsum dolor sit amet, diam case euismod vel eu, vocibus eligendi suscipiantur sed ea, pri choro soleat adolescens no. Ne his quod idque doming. Meis quando omnium ea mel. Solum ipsum virtute in quo, ei vis mollis patrioque philosophia. Duo ea viris primis dolorem, duo eleifend eloquentiam...</p><p><a href="single-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Read more</a></p></div>
							</div>
						</article>
					</div>
					<div class="sidebar widget_area scheme_original" role="complementary">
						<div class="sidebar_inner widget_area_inner">
							<aside id="widget_ldcoursenavigation-2" class="widget_number_1 widget widget_ldcoursenavigation">
								<h5 class="widget_title">Navigation</h5>
								<div id='course_navigation'>
									<div class='learndash_nevigation_lesson_topics_list'>
										<div class="inactive" id="lesson_list-561">
											<div class="list_arrow collapse lesson_incomplete" onClick="return flip_expand_collapse('#lesson_list', 561);">
											</div>
											<div class="list_lessons">
												<div class="lesson">
													<a href="single-course.html">Piano Private Lesson 3</a>
												</div>
											</div>
										</div>
										<div class="inactive" id="lesson_list-560">
											<div class="list_arrow collapse lesson_incomplete" onClick="return flip_expand_collapse('#lesson_list', 560);">
											</div>
											<div class="list_lessons">
												<div class="lesson">
													<a href="single-course.html">Guitar Private Lesson 2</a>
												</div>
											</div>
										</div>
										<div class="inactive" id="lesson_list-557">
											<div class="list_arrow collapse lesson_incomplete" onClick="return flip_expand_collapse('#lesson_list', 557);">
											</div>
											<div class="list_lessons">
												<div class="lesson">
													<a href="single-course.html">Cello Private Lesson 1</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</aside><aside id="ldcourseprogress-2" class="widget_number_3 widget widget_ldcourseprogress">
								<h5 class="widget_title">Course Progress</h5>
								<dd class="course_progress" title=" out of  steps completed">
									<div class="course_progress_blue" style="width: 33%;"></div>
								</dd>
							</aside>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Address</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Twitter</h5>
								<ul>
									<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
							</aside>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/sfwd-lms/templates/learndash_template_script.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
