<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>BookOnline &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='essential-grid-plugin-settings-css' href='js/vendor/plugins/essential-grid/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-swiperslider-style-css' href='js/vendor/fw/js/swiper/swiper.css' type='text/css' media='all' />
	<link rel='stylesheet' id='themepunchboxextcss-css' href='js/vendor/plugins/essential-grid/public/assets/css/lightbox.css' type='text/css' media='all' />
</head>
<body class="page page-id-158 page-template-default chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item current-menu-item page-item-158"><a href="{{path('default')}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item current-menu-item page-item-158"><a href="{{path('default')}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">BookOnline</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">BookOnline</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_no">
				<div class="c_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-158 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="sc_section">
													<div class="sc_section_inner">
														<h1 class="sc_section_title sc_item_title">Book Online</h1>
														<h6 class="sc_section_subtitle sc_item_subtitle">registration</h6>
														<div class="sc_section_content_wrap">
															<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 margin_bottom_huge">
																<div class="column-1_2 sc_column_item sc_column_item_1 odd first">
																	<div id="sc_form_1777025688_wrap" class="sc_form_wrap">
																		<div id="sc_form_1777025688" class="sc_form sc_form_style_form_custom">
																			<form id="sc_form_1777025688_form" method="post" action="#">
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over"><input type="text" id="sc_form_1777025688_1" name="fisrtname" placeholder="First name *"></div>
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over"><input type="text" id="sc_form_1777025688_2" name="lastname" placeholder="Last name *"></div>
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over"><input type="text" id="sc_form_1777025688_3" name="address" placeholder="State / City / Street address"></div>
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over"><input type="text" id="sc_form_1777025688_4" name="email" placeholder="Email address *"></div>
																				<div class="sc_form_item sc_form_item_text sc_form_field label_over"><input type="text" id="sc_form_1777025688_5" name="phone" placeholder="Phone *"></div>
																				<div class="sc_form_item sc_form_item_select sc_form_field label_over">
																					<div class="sc_form_select_container"><select id="sc_form_1777025688_6" name="groups"><option value="select">Music Groups *</option><option value="big">My daddy</option><option value="middle">My brother</option><option value="small">My little sister</option></select></div>
																				</div>
																				<div class="sc_form_item sc_form_item_select sc_form_field label_over">
																					<div class="sc_form_select_container"><select id="sc_form_1777025688_7" name="classes"><option value="select">Music Classes *</option><option value="big">My daddy</option><option value="middle">My brother</option><option value="small">My little sister</option></select></div>
																				</div>
																				<div class="sc_form_item sc_form_item_button sc_form_button label_over"><button id="sc_form_1777025688_8">register</button></div>
																				<div class="result sc_infobox"></div>
																			</form>
																		</div>
																	</div>
																</div><div class="column-1_2 sc_column_item sc_column_item_2 even">
																	<div class="wpb_text_column wpb_content_element  block_1462449543060">
																		<div class="wpb_wrapper">
																			<p>Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo condre. Gruitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hic estrogen.</p>
																		</div>
																	</div>
																	<div class="wpb_text_column wpb_content_element  block_1462449568543">
																		<div class="wpb_wrapper">
																			<p>Glorious baklava ex librus hup hey ad infinitum.Non sequitur condminium facile et geranium incognito. Epsum factorial non depoit quid pro quic escorol. Marquee selectus non provisio incongous fel nolo contendre</p>
																		</div>
																	</div>
																	<div class="wpb_text_column wpb_content_element  block_1462449580682">
																		<div class="wpb_wrapper">
																			<p>Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo condre. Glorious baklava ex librus hup hey ad infinitum.Non sequitur condminium facile et geranium incognito.</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row accent1_bg vc_row-no-padding">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner block_1462453368897">
											<div class="wrap">
												<div class="sc_content content_wrap">
													<div id="sc_clients_813463325_wrap" class="sc_clients_wrap">
														<div id="sc_clients_813463325" class="sc_clients sc_clients_style_clients-1  margin_top_small margin_bottom_small">
															<div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_nocontrols" data-interval="5817" data-slides-per-view="6" data-slides-min-width="100">
																<div class="slides swiper-wrapper">
																	<div class="swiper-slide">
																		<div id="sc_clients_813463325_1" class="sc_clients_item sc_clients_item_1 odd first">
																			<div class="sc_client_image"><img class="wp-post-image" alt="Client1" src="images/example_logo_1.png"></div>
																		</div>
																	</div>
																	<div class="swiper-slide">
																		<div id="sc_clients_813463325_2" class="sc_clients_item sc_clients_item_2 even">
																			<div class="sc_client_image"><img class="wp-post-image" alt="Client2" src="images/example_logo_2.png"></div>
																		</div>
																	</div>
																	<div class="swiper-slide">
																		<div id="sc_clients_813463325_3" class="sc_clients_item sc_clients_item_3 odd">
																			<div class="sc_client_image"><img class="wp-post-image" alt="Client3" src="images/example_logo_4.png"></div>
																		</div>
																	</div>
																	<div class="swiper-slide">
																		<div id="sc_clients_813463325_4" class="sc_clients_item sc_clients_item_4 even">
																			<div class="sc_client_image"><img class="wp-post-image" alt="Client4" src="images/example_logo_6.png"></div>
																		</div>
																	</div>
																	<div class="swiper-slide">
																		<div id="sc_clients_813463325_5" class="sc_clients_item sc_clients_item_5 odd">
																			<div class="sc_client_image"><img class="wp-post-image" alt="Client5" src="images/example_logo_5.png"></div>
																		</div>
																	</div>
																	<div class="swiper-slide">
																		<div id="sc_clients_813463325_6" class="sc_clients_item sc_clients_item_6 even">
																			<div class="sc_client_image"><img class="wp-post-image" alt="Client6" src="images/example_logo_3.png"></div>
																		</div>
																	</div>
																</div>
																<div class="sc_slider_controls_wrap">
																	<a class="sc_slider_prev" href="#"></a>
																	<a class="sc_slider_next" href="#"></a>
																</div>
																<div class="sc_slider_pagination_wrap"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row vc_row-no-padding">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<article class="myportfolio-container minimal-light" id="esg-grid-4-1-wrap">
													<div id="esg-grid-4-1" class="esg-grid">
														<ul>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-439" data-date="1462880506">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/image-4-1.jpg" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-439 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-439 esgbox" href="images/image-4-1.jpg" lgtitle="The 9 Different Types of music degrees"><i class="eg-icon-search"></i></a></div>
																		<!--
																		 -->
																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-441" data-date="1462880562">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/image-18.jpg" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-441 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-441 esgbox" href="images/image-18.jpg" lgtitle="5 Secrets to Mastering music college audition"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-442" data-date="1462880562">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/image-5.jpg" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-442 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-442 esgbox" href="images/image-5.jpg" lgtitle="The Top 8 Colleges for music education"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-443" data-date="1462880565">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/image-17.jpg" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-443 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-443 esgbox" href="images/image-17.jpg" lgtitle="The World's Greatest orchestras"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-444" data-date="1462880567">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/image-8.jpg" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-444 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-444 esgbox" href="images/image-8.jpg" lgtitle="How to Make a Career in an orchestra"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-461" data-date="1462883077">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/image-16.jpg" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-461 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-461 esgbox" href="images/image-16.jpg" lgtitle="Classical and Contemporary compositions"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
															<li class="filterall filter-news eg-melody-wrapper eg-post-id-462" data-date="1462883122">
																<div class="esg-media-cover-wrapper">
																	<div class="esg-entry-media"><img src="images/image-15.jpg" alt=""></div>
																	<div class="esg-entry-cover esg-fade" data-delay="0">
																		<div class="esg-overlay esg-fade eg-melody-container" data-delay="0"></div>
																		<div class="esg-center eg-post-462 eg-melody-element-0-a esg-falldown" data-delay="0.1"><a class="eg-melody-element-0 eg-post-462 esgbox" href="images/image-15.jpg" lgtitle="5 Popular Viola performances"><i class="eg-icon-search"></i></a></div>


																	</div>
																</div>
															</li>
														</ul>
													</div>
												</article>
												<div class="clear"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</article>
						<section class="related_wrap related_wrap_empty"></section>
					</div>
				</div>
			</div>
			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Address</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Twitter</h5>
								<ul>
									<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
							</aside>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/lightbox.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/essential-grid/public/assets/js/jquery.themepunch.essential.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/swiper/swiper.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
	<script type='text/javascript' src='js/custom/esg-grid-4-1.js'></script>
</body>
</html>
