<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>UJ5 5-Piece Drum Set &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='chezaschool-prettyphoto-style-css' href='js/vendor/fw/js/prettyphoto/css/prettyPhoto.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce_prettyPhoto_css-css' href='js/vendor/plugins/woocommerce/assets/css/prettyPhoto.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce-layout-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce-smallscreen-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='woocommerce-general-css' href='js/vendor/plugins/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-plugin.woocommerce-style-css' href='css/plugin.woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />

</head>
<body class="single single-product postid-287 woocommerce woocommerce-page chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item current_page_parent"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item current_page_parent"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present navi_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<div class="post_navi"><span class="post_navi_item post_navi_prev"><a href="product.html" rel="prev">Code61 USB MIDI Controller</a></span></div>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><a class="breadcrumbs_item all" href="shop.html">Shop</a><span class="breadcrumbs_delimiter"></span><a class="breadcrumbs_item cat_post"
											href="product-category/double-bass/{{path('default')}}">Double Bass</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">UJ5 5-Piece Drum Set</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_yes">
				<div class="content_wrap">
					<div class="content">
						<article class="post_item post_item_single post_item_product">
							<nav class="woocommerce-breadcrumb" itemprop="breadcrumb"><a href="{{path('default')}}">Home</a>&nbsp;&#47;&nbsp;<a href="product-category/violin/{{path('default')}}">Violin</a>&nbsp;&#47;&nbsp;UJ5 5-Piece Drum Set</nav>
							<div class="post-287 product type-product has-post-thumbnail first instock shipping-taxable purchasable product-type-simple">
								<div class="images">
									<a href="images/product-8.jpg" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto"><img width="600" height="600" src="images/product-8.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="product-8" title="product-8" /></a>
								</div>
								<div class="summary entry-summary">
									<h1 itemprop="name" class="product_title entry-title">UJ5 5-Piece Drum Set</h1>
									<div itemprop="offers" itemtype="http://schema.org/Offer">
										<p class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>99.99</span>
										</p>
										<meta itemprop="price" content="99.99" />
										<meta itemprop="priceCurrency" content="USD" />
										<link itemprop="availability" href="http://schema.org/InStock" />
									</div>
									<div itemprop="description">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
											ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</p>
										<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
											nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									</div>
									<form class="cart" method="post" enctype='multipart/form-data'>
										<div class="quantity">
											<input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric" />
										</div>
										<input type="hidden" name="add-to-cart" value="287" />
										<a href="cart.html" type="submit" class="single_add_to_cart_button button alt">Add to cart</a>
									</form>
									<div class="product_meta">
										<span class="posted_in">Categories: <a href="#" rel="tag">Double Bass</a>, <a href="#" rel="tag">Guitar</a>, <a href="#" rel="tag">Violin</a></span>
										<span class="product_id">Product ID: <span>287</span></span>
									</div>
								</div>
								<div class="woocommerce-tabs wc-tabs-wrapper">
									<ul class="tabs wc-tabs">
										<li class="description_tab">
											<a href="#tab-description">Description</a>
										</li>
										<li class="reviews_tab">
											<a href="#tab-reviews">Reviews (0)</a>
										</li>
									</ul>
									<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description">
										<h2>Product Description</h2>
										<p>Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo condre. Gruitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hic estrogen. Glorious baklava
											ex librus hup hey ad infinitum.</p>
									</div>
									<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews">
										<div id="reviews" class="woocommerce-Reviews">
											<div id="comments">
												<h2 class="woocommerce-Reviews-title">Reviews</h2>
												<p class="woocommerce-noreviews">There are no reviews yet.</p>
											</div>
											<div id="review_form_wrapper">
												<div id="review_form">
													<div id="respond" class="comment-respond">
														<h3 id="reply-title" class="comment-reply-title">Be the first to review &ldquo;UJ5 5-Piece Drum Set&rdquo; <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{path('default')}}#respond" style="display:none;">Cancel reply</a></small></h3>
														<form action="#" method="post" id="commentform" class="comment-form">
															<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
															<p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true" required /></p>
															<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" aria-required="true" required /></p>
															<p class="comment-form-rating"><label for="rating">Your Rating</label><select name="rating" id="rating" aria-required="true" required>
																<option value="">Rate&hellip;</option>
																<option value="5">Perfect</option>
																<option value="4">Good</option>
																<option value="3">Average</option>
																<option value="2">Not that bad</option>
																<option value="1">Very Poor</option>
																</select></p>
															<p class="comment-form-comment"><label for="comment">Your Review <span class="required">*</span></label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required></textarea></p>
															<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit" /> <input type='hidden' name='comment_post_ID' value='287' id='comment_post_ID' />
																<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
															</p>
														</form>
													</div>
												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
								<div class="related products">
									<h2>Related Products</h2>
									<ul class="products">
										<li class="post-271 product type-product has-post-thumbnail  column-1_4 first instock shipping-taxable purchasable product-type-simple">
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="product.html">
															<img width="300" height="300" src="images/product-1-300x300.jpg" alt="product-1" title="product-1" /> </a>
													</div>
												</div>
												<div class="post_content">
													<h3><a href="product.html">Dreadnought Acoustic Guitar</a></h3>
													<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>349.99</span>
													</span>
													<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
												</div>
											</div>
										</li>
										<li class="post-283 product type-product has-post-thumbnail  column-1_4  instock shipping-taxable purchasable product-type-simple">
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="product.html">
															<img width="300" height="300" src="images/product-6-300x300.jpg" alt="product-6" title="product-6" /> </a>
													</div>
												</div>
												<div class="post_content">
													<h3><a href="product.html">Code61 USB MIDI Controller</a></h3>
													<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>999.99</span>
													</span>
													<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
												</div>
											</div>
										</li>
										<li class="post-277 product type-product has-post-thumbnail  column-1_4  instock shipping-taxable purchasable product-type-simple">
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="product.html">
															<img width="300" height="300" src="images/product-3-300x300.jpg" alt="product-3" title="product-3" /> </a>
													</div>
												</div>
												<div class="post_content">
													<h3><a href="product.html">6-String Acoustic Guitar</a></h3>
													<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>799.99</span>
													</span>
													<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
												</div>
											</div>
										</li>
										<li class="post-279 product type-product has-post-thumbnail  column-1_4 last instock shipping-taxable purchasable product-type-simple">
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="product.html">
															<img width="300" height="300" src="images/product-4-300x300.jpg" alt="product-4" title="product-4" /> </a>
													</div>
												</div>
												<div class="post_content">
													<h3><a href="product.html">Celviano Piano</a></h3>
													<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>399.99</span>
													</span>
													<a rel="nofollow" href="cart.html" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/photostack/modernizr.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/prettyphoto/jquery.prettyPhoto.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.init.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/single-product.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/woocommerce.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js'></script>
	<script type='text/javascript' src='js/vendor/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.reviews.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/social/social-share.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
