<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>Amanda Snow &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-swiperslider-style-css' href='js/vendor/fw/js/swiper/swiper.css' type='text/css' media='all' />
</head>
<body class="single single-team postid-255 chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item"><a href="support.html">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item"><a href="support.html">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Amanda Snow</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Amanda Snow</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_yes">
				<div class="c_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single_team post_featured_right post_format_standard post-255 team type-team has-post-thumbnail hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 margin_bottom_huge">
													<div class="column-1_2 sc_column_item sc_column_item_1 odd first">
														<figure class="sc_image  sc_image_shape_square"><img src="images/team-2.jpg" alt="" /></figure>
													</div><div class="column-1_2 sc_column_item sc_column_item_2 even">
														<h1 class="sc_title sc_title_regular margin_top_null">Amanda Snow</h1>
														<div class="wpb_text_column wpb_content_element ">
															<div class="wpb_wrapper">
																<p>Sea meis movet voluptua ne, ea oportere argumentum cum. Has purto repudiandae id, ea conceptam percipitur usu. Sit solet philosophia at, cu legimus rationibus per. Mei ut tale cibo minimum, pri ei dico virtute. Eum ne facete interesset
																	consequuntur, facer prompta vim at, semper omnesque concludaturque qui id. His in regione lucilius deterruisset, ea mutat similique eam, facilis blandit in qui.</p>
															</div>
														</div>
														<div class="wpb_text_column wpb_content_element  block_1462948115190">
															<div class="wpb_wrapper">
																<p>Sea meis movet voluptua ne, ea oportere argumentum cum. Has purto repudiandae id, ea conceptam percipitur usu. Sit solet philosophia at, cu legimus rationibus per. Mei ut tale cibo minimum, pri ei dico virtute. Eum ne facete interesset
																	consequuntur, facer prompta vim at, semper omnesque concludaturque qui id. His in regione lucilius deterruisset, ea mutat similique eam, facilis blandit in qui.</p>
															</div>
														</div>
														<div id="sc_skills_diagram_940528073" class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-caption="Skills" data-dir="horizontal">
															<div class="sc_skills_info">
																<div class="sc_skills_label">Violin</div>
															</div>
															<div class="sc_skills_item sc_skills_style_1 odd first">
																<div class="sc_skills_count" style="background-color:#5bc7be; border-color:#5bc7be"></div>
																<div class="sc_skills_total" data-start="0" data-stop="87" data-step="1" data-max="100" data-speed="17" data-duration="1479" data-ed="%">0%</div>
															</div>
															<div class="sc_skills_info">
																<div class="sc_skills_label">Piano</div>
															</div>
															<div class="sc_skills_item sc_skills_style_1 even">
																<div class="sc_skills_count" style="background-color:#5bc7be; border-color:#5bc7be"></div>
																<div class="sc_skills_total" data-start="0" data-stop="75" data-step="1" data-max="100" data-speed="24" data-duration="1800" data-ed="%">0%</div>
															</div>
															<div class="sc_skills_info">
																<div class="sc_skills_label"> Cello</div>
															</div>
															<div class="sc_skills_item sc_skills_style_1 odd">
																<div class="sc_skills_count" style="background-color:#5bc7be; border-color:#5bc7be"></div>
																<div class="sc_skills_total" data-start="0" data-stop="95" data-step="1" data-max="100" data-speed="38" data-duration="3610" data-ed="%">0%</div>
															</div>
															<div class="sc_skills_info">
																<div class="sc_skills_label">Voice</div>
															</div>
															<div class="sc_skills_item sc_skills_style_1 even">
																<div class="sc_skills_count" style="background-color:#5bc7be; border-color:#5bc7be"></div>
																<div class="sc_skills_total" data-start="0" data-stop="98" data-step="1" data-max="100" data-speed="28" data-duration="2744" data-ed="%">0%</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row vc_row-no-padding">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div class="sc_parallax" data-parallax-speed="0.15" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
													<div class="sc_parallax_content" style="background-image:url(images/bg3-Parallax.jpg); background-position:50% 50%;">
														<div class="sc_content content_wrap margin_top_huge margin_bottom_huge">
															<div id="sc_testimonials_630054679" class="sc_testimonials sc_testimonials_style_testimonials-1  no_image">
																<div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_controls sc_slider_controls_side" data-interval="5549" data-slides-min-width="250">
																	<div class="slides swiper-wrapper">
																		<div class="swiper-slide">
																			<div id="sc_testimonials_630054679_1" class="sc_testimonial_item">
																				<div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Louise Flores" src="images/testimonials-2-184x184.jpg"></div>
																				<div class="sc_testimonial_content">
																					<p>My son has been taking piano and guitar lessons for more than a year. He loves his teachers and I can tell that they really care about my kid too. Your music school is wonderful and I highly recommend.</p>
																				</div>
																				<div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Louise Flores</span><span class="sc_testimonial_author_position"> / parent</span></div>
																			</div>
																		</div>
																		<div class="swiper-slide">
																			<div id="sc_testimonials_630054679_2" class="sc_testimonial_item">
																				<div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Diana Jones" src="images/testimonials-1-184x184.jpg"></div>
																				<div class="sc_testimonial_content">
																					<p>The school has everything that children need for successful study: textbooks, daily assignments, planner, notebooks, music sheets, a staff who are very nice and kind, and ready to help at any time.</p>
																				</div>
																				<div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Diana Jones</span><span class="sc_testimonial_author_position"> / parent</span></div>
																			</div>
																		</div>
																		<div class="swiper-slide">
																			<div id="sc_testimonials_630054679_3" class="sc_testimonial_item">
																				<div class="sc_testimonial_avatar"><img class="wp-post-image" width="184" height="184" alt="Martin Wood" src="images/testimonials-3-184x184.jpg"></div>
																				<div class="sc_testimonial_content">
																					<p>I am most grateful that my son's guitar teacher not only makes learning fun and shares his knowledge, but his passion for music as well. I could not have found a better place for him to learn guitar.</p>
																				</div>
																				<div class="sc_testimonial_author"><span class="sc_testimonial_author_name">Martin Wood</span><span class="sc_testimonial_author_position"> / parent</span></div>
																			</div>
																		</div>
																	</div>
																	<div class="sc_slider_controls_wrap">
																		<a class="sc_slider_prev" href="#"></a>
																		<a class="sc_slider_next" href="#"></a>
																	</div>
																	<div class="sc_slider_pagination_wrap"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="sc_section aligncenter" style="max-width: 770px;">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<div id="sc_form_1206857703_wrap" class="sc_form_wrap">
																<div id="sc_form_1206857703" class="sc_form sc_form_style_form_1 margin_top_large margin_bottom_tiny">
																	<h1 class="sc_form_title sc_item_title">Send Message to Amanda</h1>
																	<form id="sc_form_1206857703_form" data-formtype="form_1" method="post" action="#">
																		<div class="sc_form_info">
																			<div class="sc_form_item sc_form_field label_over"><label class="required" for="sc_form_username">Name</label><input id="sc_form_username" type="text" name="username" placeholder="Name *"></div>
																			<div class="sc_form_item sc_form_field label_over"><label class="required" for="sc_form_subj">Subject</label><input id="sc_form_subj" type="text" name="subject" placeholder="Subject"></div>
																		</div>
																		<div class="sc_form_item sc_form_field label_over"><label class="required" for="sc_form_email">E-mail</label><input id="sc_form_email" type="text" name="email" placeholder="E-mail *"></div>
																		<div class="sc_form_item sc_form_message label_over"><label class="required" for="sc_form_message">Message</label><textarea id="sc_form_message" name="message" placeholder="Message *"></textarea></div>
																		<div class="sc_form_item sc_form_button"><button>Send Message</button></div>
																		<div class="result sc_infobox"></div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</article>
						<section class="related_wrap related_wrap_empty"></section>
					</div>
				</div>
			</div>
			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Address</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Twitter</h5>
								<ul>
									<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
							</aside>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright_wrap copyright_style_yes  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/photostack/modernizr.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.reviews.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/swiper/swiper.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
