<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<title>Support &#8211; Cheza Music School</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id='chezaschool-font-google_fonts-style-css' type='text/css' media='all' href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i%7CLora:400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">
	<link rel='stylesheet' id='learndash_style-css' href='js/vendor/plugins/sfwd-lms/assets/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-fontello-style-css' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-main-style-css' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-animation-style-css' href='js/vendor/fw/css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-shortcodes-style-css' href='js/vendor/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-theme-style-css' href='css/theme.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-custom-style-css' href='css/custom.css' type='text/css' media='all' />
	<link rel='stylesheet' id='chezaschool-responsive-style-css' href='css/responsive.css' type='text/css' media='all' />
</head>
<body class="page page-id-578 page-template-default chezaschool_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide vc_responsive">
	<a id="toc_home" class="sc_anchor" title="Home" data-description="&lt;i&gt;Return to Home&lt;/i&gt; - &lt;br&gt;navigate to home page of the site" data-icon="icon-home" data-url="http://melody.ancorathemes.com/" data-separator="yes"></a>
	<a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle">
						<div class="content_wrap">
							<div class="contact_logo">
								<div class="logo">
									<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"><img src="images/Untitled-1.png" class="logo_fixed" alt="" width="169" height="43"></a>
								</div>
							</div>
							<div class="menu_main_wrap">
								<nav class="menu_main_nav_area">
									<ul id="menu_main" class="menu_main_nav">
										<li class="menu-item menu-item-has-children"><a href="#">Home</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
												<li class="menu-item"><a href="home-2.html">Home 2</a></li>
												<li class="menu-item"><a href="home-3.html">Home 3</a></li>
											</ul>
										</li>
										<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#">Pages</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="shop.html">Shop</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="classic.html">Classic</a></li>
														<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
																<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
															</ul>
														</li>
														<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
															<ul class="sub-menu">
																<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
																<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
															</ul>
														</li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="grid.html">Grid</a></li>
														<li class="menu-item"><a href="masonry.html">Masonry</a></li>
														<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
													</ul>
												</li>
												<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
												<li class="menu-item"><a href="typography.html">Typography</a></li>
												<li class="menu-item"><a href="404.html">Page 404</a></li>
												<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Tools</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="customization.html">Customization</a></li>
														<li class="menu-item current-menu-item page-item-578"><a href="{{path('default')}}">Support</a></li>
														<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">About</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="about.html">About style 1</a></li>
												<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classes.html">Classes</a></li>
												<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="header_mobile">
				<div class="content_wrap">
					<div class="menu_button icon-menu"></div>
					<div class="logo">
						<a href="{{path('default')}}"><img src="images/Untitled-1.png" class="logo_main" alt="" width="169" height="43"></a>
					</div>
				</div>
				<div class="side_wrap">
					<div class="close">Close</div>
					<div class="panel_top">
						<nav class="menu_main_nav_area">
							<ul id="menu_mobile" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="#">Home</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="{{path('default')}}">Home</a></li>
										<li class="menu-item"><a href="home-2.html">Home 2</a></li>
										<li class="menu-item"><a href="home-3.html">Home 3</a></li>
									</ul>
								</li>
								<li class="menu-item current-menu-ancestor menu-item-has-children"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="shop.html">Shop</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="classic.html">Classic</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Masonry</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 columns</a></li>
														<li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 columns</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio 2 columns</a></li>
														<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio 3 columns</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Gallery</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="grid.html">Grid</a></li>
												<li class="menu-item"><a href="masonry.html">Masonry</a></li>
												<li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
											</ul>
										</li>
										<li class="menu-item9"><a href="shorcodes.html">Shorcodes</a></li>
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="404.html">Page 404</a></li>
										<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Tools</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="customization.html">Customization</a></li>
												<li class="menu-item current-menu-item page-item-578"><a href="{{path('default')}}">Support</a></li>
												<li class="menu-item"><a href="video-tutorials.html">Video tutorials</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">About</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="about.html">About style 1</a></li>
										<li class="menu-item"><a href="about-style-2.html">About style 2</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#">Classes</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="classes.html">Classes</a></li>
										<li class="menu-item"><a href="all-courses.html">Online courses</a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>
								<li class="bordered menu-item"><a href="{{path('app_register', {'usertype': 'student'})}}">Book online</a></li>
							</ul>
						</nav>
					</div>
					<div class="panel_bottom">
					</div>
				</div>
				<div class="mask"></div>
			</div>
			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Support</h1>
						<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{{path('default')}}">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Support</span></div>
					</div>
				</div>
			</div>
			<div class="page_content_wrap page_paddings_no">
				<div class="c_wrap">
					<div class="content">
						<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-578 page type-page hentry">
							<section class="post_content" itemprop="articleBody">
								<div class="vc_row wpb_row block_1449052136583">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="sc_section margin_top_large margin_bottom_large">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular sc_align_center" style="text-align:center;color:#000000;">Our Support Policy</h1>
															<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 margin_top_small">
																<div class="column-1_2 sc_column_item sc_column_item_1 odd first">
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<ul>
																				<li>To get a pre-purchase advice, you may post in the theme’s forum.</li>
																				<li>To get a response more promptly, you are recommended to use our Ticket-system.</li>
																				<li>We try to answer your questions within 1-10 hours. However, if any delay occurs, it doesn’t mean that we forgot about you. Some of the issues require testing and analyzing, so we can resolve it effectively.</li>
																			</ul>
																		</div>
																	</div>
																</div><div class="column-1_2 sc_column_item sc_column_item_2 even">
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<ul>
																				<li>Please note! We do not provide support, if you do not have the purchase code.</li>
																				<li>Item support does not include:
																					<ol>
																						<li>Customization and installation.</li>
																						<li>Support for third party software and plugins.</li>
																					</ol>
																				</li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row block_1462963198209">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="sc_section margin_top_large margin_bottom_large">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular sc_align_center margin_bottom_tiny" style="text-align:center;color:#000000;">How to use our Support System</h1>
															<div class="wpb_text_column wpb_content_element  block_1462963696681">
																<div class="wpb_wrapper">
																	<p style="text-align: center;">Ancora technical support is always there to assist their users with all the technical questions regarding Ancora products.</p>
																</div>
															</div>
															<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 margin_top_tiny">
																<div class="column-1_2 sc_column_item sc_column_item_1 odd first">
																	<figure class="sc_image  sc_image_shape_square"><img src="images/7_supportA.png" alt="" /></figure>
																</div><div class="column-1_2 sc_column_item sc_column_item_2 even">
																	<div class="wpb_text_column wpb_content_element  block_1462963475127">
																		<div class="wpb_wrapper">
																			<ol>
																				<li>In the ‘Item Details’ there is a clickable banner “Support Sys”, which leads you to tickets.</li>
																				<li>Or you may simply follow this link: <a href="https://ancorathemes.ticksy.com/">ancorathemes.ticksy.com</a>.</li>
																				<li>Enter your purchase key and register in the system.</li>
																				<li>To avoid a confusion, please use your own ThemeForest login in Support System.</li>
																				<li>Fill out the ticket form.</li>
																			</ol>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row block_1449069687256">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="sc_section margin_top_large margin_bottom_large">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular sc_align_center" style="text-align:center;">How to find a purchase key</h1>
															<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 margin_top_small">
																<div class="column-1_2 sc_column_item sc_column_item_1 odd first">
																	<figure class="sc_image  sc_image_shape_square margin_top_tiny"><img src="images/7_support-updated-tablet.png" alt="" /></figure>
																</div><div class="column-1_2 sc_column_item sc_column_item_2 even">
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<ul>
																				<li>Open the &#8220;downloads&#8221; tab in your account.</li>
																				<li>Find our theme in the list of products.</li>
																				<li>Click &#8220;download&#8221; button, and in the drop-down menu select &#8220;license certificate &amp; purchase code&#8221;.</li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row block_1462963210911">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wrap">
												<div class="sc_section margin_top_large margin_bottom_large">
													<div class="sc_section_inner">
														<div class="sc_section_content_wrap">
															<h1 class="sc_title sc_title_regular sc_align_center margin_bottom_tiny" style="text-align:center;">Hosting</h1>
															<h4 class="sc_title sc_title_regular sc_align_center margin_top_small margin_bottom_small" style="text-align:center;">Recommended hostings:</h4>
															<div class="wpb_text_column wpb_content_element  block_1462963705908">
																<div class="wpb_wrapper">
																	<p style="text-align: center;">Ancora offers only the best products and services and recommends them to their customers. One of the most important services is HOSTING. Unlike any cheap hostings that usually have limited resources which causes many problems to the site
																		owners, quality hosting gives a client a fair amount of resources sufficient for any website and any task. By using quality hosting you can rest assured that your site will work smoothly. If you happen to use such hosting with limited
																		resources (e.g. GoDaddy!), you may experience issues with “one-click install” feature. In that case, you are always welcome to contact our support team to get qualified help.</p>
																</div>
															</div>
															<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
																<div class="column-1_2 sc_column_item sc_column_item_1 odd first" style="text-align:center;">
																	<figure class="sc_image  sc_image_shape_square">
																		<a href="#"><img src="images/inmotion.png" alt="" /></a>
																	</figure>
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<p style="text-align: center;"><a href="#" target="_blank">http://www.inmotionhosting.com</a></p>
																			<p style="text-align: center;">Get more than <strong>30% discount</strong> on a hosting plan.</p>
																		</div>
																	</div>
																</div><div class="column-1_2 sc_column_item sc_column_item_2 even" style="text-align:center;">
																	<figure class="sc_image  sc_image_shape_square">
																		<a href="#"><img src="images/mediatemple.png" alt="" /></a>
																	</figure>
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<p style="text-align: center;"><a href="#" target="_blank">http://mediatemple.net</a></p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row vc_row-no-padding">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner ">
											<div class="wpb_wrapper">
												<div id="sc_call_to_action_1322299407" class="sc_call_to_action sc_call_to_action_accented sc_call_to_action_style_2 sc_call_to_action_align_center">
													<div class="sc_call_to_action_info">
														<h1 class="sc_call_to_action_title sc_item_title"><b>Don't give up the time!</b> Purchase our theme now!</h1></div>
													<div class="sc_call_to_action_buttons sc_item_buttons">
														<div class="sc_call_to_action_button sc_item_button"><a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small style_color_dark_hover ">Learn more</a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</article>
						<section class="related_wrap related_wrap_empty"></section>
					</div>
				</div>
			</div>
			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside id="text-2" class="widget_number_1 column-1_3 widget widget_text">
								<h5 class="widget_title">Address</h5>
								<div class="textwidget"><span class="sc_icon icon-location-1"></span><span>110 E 16th St<br>New York, NY</span></div>
							</aside><aside id="chezaschool_widget_twitter-2" class="widget_number_2 column-1_3 widget widget_twitter">
								<h5 class="widget_title">Twitter</h5>
								<ul>
									<li class="theme_text last">Investment Advisor Services is a modern, flexible and highly customizable theme for your financial, business, corporate, personal needs.<a href="#" class="username" target="_blank">@investadvisor_1</a></li>
								</ul>
							</aside><aside id="text-3" class="widget_number_3 column-1_3 widget widget_text">
								<h5 class="widget_title">Open hours</h5>
								<div class="textwidget"><span class="sc_icon icon-clock-empty"></span><span>Monday - Friday: 12pm - 8pm<br>Saturday: 10am - 2pm</span></div>
							</aside>
						</div>
					</div>
				</div>
			</footer>
			<div class="copyright_wrap copyright_style_socials  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="icon-gplus"></span></a></div>
						</div>
						<div class="copyright_text">
							<p>Ancora © 2016 All Rights Reserved <a href="http://ancorathemes.com/">Terms of Use</a> and <a href="http://ancorathemes.com/">Privacy Policy</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
	<div class="custom_html_section"></div>
	<script type='text/javascript' src='js/vendor/jquery.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/superfish.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/jquery.slidemenu.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.utils.js'></script>
	<script type='text/javascript' src='js/vendor/fw/js/core.init.js'></script>
	<script type='text/javascript' src='js/vendor/theme.init.js'></script>
	<script type='text/javascript' src='js/vendor/shortcodes/theme.shortcodes.js'></script>
	<script type='text/javascript' src='js/custom/custom.js'></script>
</body>
</html>
