            <div class="panel-body">
                <div class="table-responsive">
					<div width="631" style="padding-top:50px;">
						<p style="font-family:Cambria;mso-fareast-font-family:'Times New Roman';color:rgb(23,54,93);letter-spacing:0.2500pt;font-size:26.0000pt;mso-font-kerning:14.0000pt;">
                            Individual Music Report
                            <img class="d-block d-sm-none" style="margin-top:-50px;" src="{{asset('assets/img/cheza-logo-letterhead.png')}}" width="208" height="80" />
                        </p>
                          <form role="form" id="report-form-{{report is null ? currentTerm.id : report.term.id}}">
							<table border="1" cellspacing="0">
								<tbody>
									<tr>
										<td colspan="3" width="631">
										<p><strong>{{report is defined and report is not empty ? report.term.termnumber : currentTerm.termnumber }} Year {{"now"|date('Y')}}</strong></p>
									</td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Student</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.userInstrumentGrade|split("-")[0]|upper}}</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Instrument</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.userInstrumentGrade.instrument|upper}}</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Lesson Duration</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.package.duration}} MINUTES</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Tutor</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.teacher.fullname|upper}}</p></td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Quality of practice</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="practice" name="practice" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.practice == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.practice == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.practice == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.practice == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.practice == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Rhythm</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="rhythm" name="rhythm" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.rhythm == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.rhythm == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.rhythm == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.rhythm == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.rhythm == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Dexterity: Skill and ease in using the hands / voice</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="dexterity" name="dexterity" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.dexterity == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.dexterity == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.dexterity == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.dexterity == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.dexterity == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Tone: Quality and strength of sound</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="tone" name="tone" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.tone == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.tone == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.tone == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.tone == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.tone == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Intonation: Tuning</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="intonation" name="intonation" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.intonation == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.intonation == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.intonation == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.intonation == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.intonation == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Music Literacy: Theory and sightreading skills</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="literacy" name="literacy" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.literacy == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.literacy == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.literacy == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.literacy == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.literacy == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Scales, appergios, exercises</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="exercises" name="exercises" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.exercises == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.exercises == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.exercises == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.exercises == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.exercises == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Musicianship: Aural skills, rhythm, articulation and phrasing</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="musicianship" name="musicianship" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.musicianship == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.musicianship == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.musicianship == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.musicianship == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.musicianship == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Performance Directions</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="perfdirections" name="perfdirections" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.perfdirections == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.perfdirections == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.perfdirections == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.perfdirections == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.perfdirections == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="3" width="631">
                                            <span style="margin:5px; margin-top:10px;"><strong>COMMENTS</strong></span>
                                            <textarea id="comments" name="comments" placeholder="Write your comments here" class="form-control" rows="3">{{report is not null and report.comments is not null ? report.comments : ''}}</textarea>
                                        </td>
									</tr>
								</tbody>
							</table>
                            <input type="hidden" name="student_id" value="{{report is null ? session.student.id : session.student.id}}">
                            <input type="hidden" name="teacher_id" value="{{report is null ? session.teacher.id : session.teacher.id}}">
                            <input type="hidden" name="uig_id" value="{{report is null ? session.userInstrumentGrade.id : report.uig.id}}">
                            <input type="hidden" name="term_id" value="{{report is null ? currentTerm.id : report.term.id}}">
                            <input type="hidden" name="report_id" value="{{report is null ? 0 : report.id}}">
                          </form>
						<p>Key: <strong>A</strong>- Excellent <strong>B</strong>- Good <strong>C</strong>- Satisfactory <strong>D</strong>-Needs Improvement <strong>NA</strong>-Not Applicable (NA)</p>
                        <button type="button" id="save-report-{{report is null ? 0 : report.id}}-{{report is null ? currentTerm.id : report.term.id}}" class="btn btn-primary">Save Report</a>
					</div>
                </div>
                
            </div>
