{% extends 'adm_base.html.twig' %}

{% block title %}Report for {{session.student.fullname}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <style>
        p{
            padding-left:5px;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Report</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active"> Report for {{session.student.fullname}} </li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if app.user.usertype == 'admin' %}
                            <!-- item-->
                            <a href="{{path('admin-teacher-students-list', {'teacher_id': session.teacher.id})}}" class="dropdown-item">Back to Students list</a>
                            {% else %}
                            <!-- item-->
                            <a href="{{path('teacher-students-list')}}" class="dropdown-item">Back to students list</a>
                            {% endif %}
                        </div>
                    </div>

                    <h4 class="header-title mt-0 mb-3"> Report for {{session.student.fullname}} </h4>

                    <div class="row">
                        <div class="col-xl-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#term-1" data-toggle="tab" aria-expanded="false" class="nav-link {{ currentTerm.termnumber == 'Term 1' ? 'active'}}">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Term 1</span>            
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#term-2" data-toggle="tab" aria-expanded="true" class="nav-link {{ currentTerm.termnumber == 'Term 2' ? 'active'}}">
                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                        <span class="d-none d-sm-block">Term 2</span> 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#term-3" data-toggle="tab" aria-expanded="false" class="nav-link {{ currentTerm.termnumber == 'Term 3' ? 'active'}}">
                                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                        <span class="d-none d-sm-block">Term 3</span>    
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show {{ currentTerm.termnumber == 'Term 1' ? 'active'}}" id="term-1">
                                        {# too manual... think on how to automate this #}
                                        {% for report in reports|filter( report => report.term.termnumber == 'Term 1') %}
                                        <a href="{{path('report_show', {'id': report.id})}}" class="btn btn-sm btn-primary">PDF</a>
                                        {% if app.user.usertype == 'admin' %}
                                            <button id="send_report-{{report.id}}" type="button" class="btn btn-sm btn-{{session.userInstrumentGrade.id not in sentreports and session.userInstrumentGrade.id in rpts ? 'info' : 'warning' }}" style="white-space: nowrap;" >Send Report</button>                    
                                        {% endif %}
                                        {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory1_5.html.twig' %}
                                        {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory6_8.html.twig' %}
                                        {% else %}
                                            {% include 'report/instrument.html.twig' %}
                                        {% endif %}
                                        
                                        {% else %}
                                        {% set report = reportE %}
                                        {% if currentTerm.termnumber == 'Term 1' %}
                                            {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                                {% include 'report/theory1_5.html.twig' %}
                                            {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                                {% include 'report/theory6_8.html.twig' %}
                                            {% else %}
                                                {% include 'report/instrument.html.twig' %}
                                            {% endif %}
                                        {% endif %}

                                        {% endfor %}
                                </div>
                                <div role="tabpanel" class="tab-pane fade {{ currentTerm.termnumber == 'Term 2' ? 'show active'}}" id="term-2">
                                        {# too manual... think on how to automate this #}
                                        {% for report in reports|filter( report => report.term.termnumber == 'Term 2') %}
                                        <a href="{{path('report_show', {'id': report.id})}}" class="btn btn-sm btn-primary">PDF</a>
                                        {% if app.user.usertype == 'admin' %}
                                            <button id="send_report-{{report.id}}" type="button" class="btn btn-sm btn-{{session.userInstrumentGrade.id not in sentreports and session.userInstrumentGrade.id in rpts ? 'info' : 'warning' }}" style="white-space: nowrap;" >Send Report</button>                    
                                        {% endif %}
                                        {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory1_5.html.twig' %}
                                        {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory6_8.html.twig' %}
                                        {% else %}
                                            {% include 'report/instrument.html.twig' %}
                                        {% endif %}
                                        {% else %}
                                        {% set report = reportE %}
                                        {% if currentTerm.termnumber == 'Term 2' %}
                                            {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                                {% include 'report/theory1_5.html.twig' %}
                                            {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                                {% include 'report/theory6_8.html.twig' %}
                                            {% else %}
                                                {% include 'report/instrument.html.twig' %}
                                            {% endif %}
                                        {% endif %}

                                        {% endfor %}
                                </div>
                                <div role="tabpanel" class="tab-pane fade {{ currentTerm.termnumber == 'Term 3' ? 'show active'}}" id="term-3">
                                        {# too manual... think on how to automate this #}
                                        {% for report in reports|filter( report => report.term.termnumber == 'Term 3') %}
                                        <a href="{{path('report_show', {'id': report.id})}}" class="btn btn-sm btn-primary">PDF</a>
                                        {% if app.user.usertype == 'admin' %}
                                            <button id="send_report-{{report.id}}" type="button" class="btn btn-sm btn-{{session.userInstrumentGrade.id not in sentreports and session.userInstrumentGrade.id in rpts ? 'info' : 'warning' }}" style="white-space: nowrap;" >Send Report</button>                    
                                        {% endif %}
                                        {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory1_5.html.twig' %}
                                        {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory6_8.html.twig' %}
                                        {% else %}
                                            {% include 'report/instrument.html.twig' %}
                                        {% endif %}
                                        {% else %}
                                        {% set report = reportE %}
                                        {% if currentTerm.termnumber == 'Term 3' %}
                                            {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                                {% include 'report/theory1_5.html.twig' %}
                                            {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                                {% include 'report/theory6_8.html.twig' %}
                                            {% else %}
                                                {% include 'report/instrument.html.twig' %}
                                            {% endif %}
                                        {% endif %}

                                        {% endfor %}
                                </div>
                            </div>
                        </div><!-- end col -->

                    </div>
                    <!-- end row -->

                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('click', '[id="pdf"]', function(){
            $("#save-report").hide();
            
            var pdf = new jsPDF('p', 'pt', 'letter');
            pdf.setFont("helvetica");
            pdf.setFontType("bold");
            pdf.setFontSize(3);
            pdf.addHTML($('#rf')[0], function () {
                pdf.save('{{session.student.fullname}}-report.pdf');
            });

        })
    </script>
	<script>
	  $(document).on('click', '[id^="save-report-"]', function(){

        var id = jQuery(this).attr("id").split("-")[3];
	  	var form = document.getElementById("report-form-"+id);
        var form_data = $( form ).serializeArray();

            $.ajax({
            url:'{{path("save_student_report")}}',
            type: "POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType: "json",
            data: new FormData(form),
            async: true,
            success: function (data)
            {
                console.log(data);
                $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Success:', message: 'Report saved successfully', },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
            });

	  });
	</script>
    <script>
        
        $('[id^="send_report-"]').click( function () {

            var id = jQuery(this).attr("id").split("-")[1];

            $.ajax({
                url:'{{ (path('send_report')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "report_id": id,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                    //location.reload();
                    $("#send_report-"+id).hide();
                    $.notify({ icon: 'glyphicon glyphicon-success-sign', title: 'Sent!:', message: 'The report has been sent to '+data, },{ element: 'body', type: "success", newest_on_top: true, placement: { from: "top", align: "center" }, offset: 20, spacing: 10,});
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>

{% endblock %}					