{% extends 'adm_base.html.twig' %}

{% block title %}Report{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <style>
        p{
            padding-left:5px;
        }
        #save-report {
            display:none;
        }
    </style>
{% endblock %}

{% block body %}


    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title">Report</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active"> Your reports for year ({{"now"|date('Y')}}) <br /> </li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">

                    <h4 class="header-title mt-0 mb-3"> Your reports for year ({{"now"|date('Y')}}) <br /> </h4>

                    <div class="row">
                        <div class="col-xl-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#term-1" data-toggle="tab" aria-expanded="false" class="nav-link {{ currentTerm.termnumber == 'Term 1' ? 'active'}}">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Term 1</span>            
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#term-2" data-toggle="tab" aria-expanded="true" class="nav-link {{ currentTerm.termnumber == 'Term 2' ? 'active'}}">
                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                        <span class="d-none d-sm-block">Term 2</span> 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#term-3" data-toggle="tab" aria-expanded="false" class="nav-link {{ currentTerm.termnumber == 'Term 3' ? 'active'}}">
                                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                        <span class="d-none d-sm-block">Term 3</span>    
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show {{ currentTerm.termnumber == 'Term 1' ? 'active'}}" id="term-1">
                                    <h3>Term 1</h3>
                                    {# too manual... think on how to automate this #}
                                    {% for report in reports|filter( report => report.term.termnumber == 'Term 1') %}
                                    {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                        {% include 'report/theory1_5.html.twig' %}
                                    {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                        {% include 'report/theory6_8.html.twig' %}
                                    {% else %}
                                        {% include 'report/instrument.html.twig' %}
                                    {% endif %}
                                    {% if app.user.usertype == 'admin' and session.userInstrumentGrade.id not in sentreports and session.userInstrumentGrade.id in rpts %}
                                        <button id="send_report-{{report.id}}" type="button" class="btn btn-lg btn-info" style="white-space: nowrap;" >Send Report</button>                    
                                    {% endif %}
                                    
                                    {% else %}
                                    {% set report = reportE %}
                                    {% if currentTerm.termnumber == 'Term 1' %}
                                        {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory1_5.html.twig' %}
                                        {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory6_8.html.twig' %}
                                        {% else %}
                                            {% include 'report/instrument.html.twig' %}
                                        {% endif %}
                                    {% endif %}

                                    {% endfor %}
                                </div>
                                <div role="tabpanel" class="tab-pane fade {{ currentTerm.termnumber == 'Term 2' ? 'show active'}}" id="term-2">
                                    <h3>Term 2</h3>
                                    {# too manual... think on how to automate this #}
                                    {% for report in reports|filter( report => report.term.termnumber == 'Term 2') %}
                                    {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                        {% include 'report/theory1_5.html.twig' %}
                                    {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                        {% include 'report/theory6_8.html.twig' %}
                                    {% else %}
                                        {% include 'report/instrument.html.twig' %}
                                    {% endif %}
                                    {% if app.user.usertype == 'admin' and session.userInstrumentGrade.id not in sentreports and session.userInstrumentGrade.id in rpts %}
                                        <button id="send_report-{{report.id}}" type="button" class="btn btn-lg btn-info" style="white-space: nowrap;" >Send Report</button>                    
                                    {% endif %}
                                    {% else %}
                                    {% set report = reportE %}
                                    {% if currentTerm.termnumber == 'Term 2' %}
                                        {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory1_5.html.twig' %}
                                        {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory6_8.html.twig' %}
                                        {% else %}
                                            {% include 'report/instrument.html.twig' %}
                                        {% endif %}
                                    {% endif %}

                                    {% endfor %}
                                </div>
                                <div role="tabpanel" class="tab-pane fade {{ currentTerm.termnumber == 'Term 3' ? 'show active'}}" id="term-3">
                                    <h3>Term 3</h3>
                                    {# too manual... think on how to automate this #}
                                    {% for report in reports|filter( report => report.term.termnumber == 'Term 3') %}
                                    {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                        {% include 'report/theory1_5.html.twig' %}
                                    {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                        {% include 'report/theory6_8.html.twig' %}
                                    {% else %}
                                        {% include 'report/instrument.html.twig' %}
                                    {% endif %}
                                    {% if app.user.usertype == 'admin' and session.userInstrumentGrade.id not in sentreports and session.userInstrumentGrade.id in rpts %}
                                        <button id="send_report-{{report.id}}" type="button" class="btn btn-lg btn-info" style="white-space: nowrap;" >Send Report</button>                    
                                    {% endif %}
                                    {% else %}
                                    {% set report = reportE %}
                                    {% if currentTerm.termnumber == 'Term 3' %}
                                        {% if 'theory' in session.userInstrumentGrade.instrument.name  and ('1' in session.userInstrumentGrade.grade.name or '2' in session.userInstrumentGrade.grade.name or '3' in session.userInstrumentGrade.grade.name or '4' in session.userInstrumentGrade.grade.name or '5' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory1_5.html.twig' %}
                                        {% elseif 'theory' in session.userInstrumentGrade.instrument.name and ('6' in session.userInstrumentGrade.grade.name or '7' in session.userInstrumentGrade.grade.name or '8' in session.userInstrumentGrade.grade.name ) %}
                                            {% include 'report/theory6_8.html.twig' %}
                                        {% else %}
                                            {% include 'report/instrument.html.twig' %}
                                        {% endif %}
                                    {% endif %}

                                    {% endfor %}
                                </div>
                            </div>
                        </div><!-- end col -->

                    </div>
                    <!-- end row -->

                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        
        
    </div> <!-- container-fluid -->

{% endblock %}
{% block javascripts %}
    <script>
        $('select').prop( "disabled", true );
        $('textarea').prop( "disabled", true );
    </script>
{% endblock %}					