            <div class="panel-body">
                <div class="table-responsive">
					<div width="631" style="padding-top:50px;">
						<p style="font-family:Cambria;mso-fareast-font-family:'Times New Roman';color:rgb(23,54,93);letter-spacing:0.2500pt;font-size:26.0000pt;mso-font-kerning:14.0000pt;">
                            Individual Music Report
                            <img class="d-block d-sm-none" style="margin-top:-50px;" src="{{asset('assets/img/cheza-logo-letterhead.png')}}" width="208" height="80" />
                        </p>
                          <form role="form" id="report-form-{{report is null ? currentTerm.id : report.term.id}}">
							<table border="1" cellspacing="0">
								<tbody>
									<tr>
										<td colspan="3" width="631">
										<p><strong>{{report is defined and report is not empty ? report.term.termnumber : currentTerm.termnumber }} Year {{"now"|date('Y')}}</strong></p>
									</td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Student</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.userInstrumentGrade|split("-")[0]|upper}}</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Theory Grade</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.userInstrumentGrade|split("-")[1]|upper}} {{session.userInstrumentGrade.grade.name|upper}}</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Lesson Duration</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.package.duration}} MINUTES</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Tutor</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.teacher.fullname|upper}}</p></td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Realizing figured bass</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="figuredbass" name="figuredbass" class="form-control">
                                                <option  value="">Select Grade</option>
                                                <option {{report is not null and report.figuredbass == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.figuredbass == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.figuredbass == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.figuredbass == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.figuredbass == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Keyboard and part writing</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="partwriting" name="partwriting" class="form-control">
                                                <option  value="">Select Grade</option>
                                                <option {{report is not null and report.partwriting == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.partwriting == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.partwriting == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.partwriting == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.partwriting == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Harmonizing melodies</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="harmonizing" name="harmonizing" class="form-control">
                                                <option  value="">Select Grade</option>
                                                <option {{report is not null and report.harmonizing == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.harmonizing == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.harmonizing == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.harmonizing == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.harmonizing == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Melodic composition</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="composition" name="composition" class="form-control">
                                                <option  value="">Select Grade</option>
                                                <option {{report is not null and report.composition == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.composition == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.composition == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.composition == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.composition == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Score analysis</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="scoreanalysis" name="scoreanalysis" class="form-control">
                                                <option  value="">Select Grade</option>
                                                <option {{report is not null and report.scoreanalysis == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.scoreanalysis == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.scoreanalysis == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.scoreanalysis == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.scoreanalysis == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Instruments</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="instruments" name="instruments" class="form-control">
                                                <option  value="">Select Grade</option>
                                                <option {{report is not null and report.instruments == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.instruments == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.instruments == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.instruments == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.instruments == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Ornaments</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="ornaments" name="ornaments" class="form-control">
                                                <option  value="">Select Grade</option>
                                                <option {{report is not null and report.ornaments == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.ornaments == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.ornaments == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.ornaments == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.ornaments == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Practice in writing</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="practice" name="practice" class="form-control">
                                                <option  value="">Select Grade</option>
                                                <option {{report is not null and report.practice == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.practice == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.practice == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.practice == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.practice == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Performance Directions</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="perfdirections" name="perfdirections" class="form-control">
                                                <option  value="">Select Grade</option>
                                                <option {{report is not null and report.perfdirections == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.perfdirections == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.perfdirections == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.perfdirections == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.perfdirections == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="3" width="631">
                                            <span style="margin:5px; margin-top:10px;"><strong>COMMENTS</strong></span>
                                            <textarea id="comments" name="comments" placeholder="Write your comments here" class="form-control" rows="3">{{report is not null and report.comments != "" ? report.comments : ''}}</textarea>
                                        </td>
									</tr>
								</tbody>
							</table>
                            <input type="hidden" name="student_id" value="{{report is null ? session.student.id : session.student.id}}">
                            <input type="hidden" name="teacher_id" value="{{report is null ? session.teacher.id : session.teacher.id}}">
                            <input type="hidden" name="uig_id" value="{{report is null ? session.userInstrumentGrade.id : report.uig.id}}">
                            <input type="hidden" name="term_id" value="{{report is null ? currentTerm.id : report.term.id}}">
                            <input type="hidden" name="report_id" value="{{report is null ? 0 : report.id}}">
                          </form>
						<p>Key: <strong>A</strong>- Excellent <strong>B</strong>- Good <strong>C</strong>- Satisfactory <strong>D</strong>-Needs Improvement <strong>NA</strong>-Not Applicable (NA)</p>
                        <button type="button" id="save-report-{{report is null ? 0 : report.id}}-{{report is null ? currentTerm.id : report.term.id}}" class="btn btn-primary">Save Report</a>
					</div>
                </div>
                
            </div>
