            <div class="panel-body">
                <div class="table-responsive">
					<div width="631" style="padding-top:50px;">
						<p style="font-family:Cambria;mso-fareast-font-family:'Times New Roman';color:rgb(23,54,93);letter-spacing:0.2500pt;font-size:26.0000pt;mso-font-kerning:14.0000pt;">
                            Individual Music Report
                            <img class="d-block d-sm-none" style="margin-top:-50px;" src="{{asset('assets/img/cheza-logo-letterhead.png')}}" width="208" height="80" />
                        </p>
                          <form role="form" id="report-form-{{report is null ? currentTerm.id : report.term.id}}">
							<table border="1" cellspacing="0">
								<tbody>
									<tr>
										<td colspan="3" width="631">
										<p><strong>{{report is defined and report is not empty ? report.term.termnumber : currentTerm.termnumber }} Year {{"now"|date('Y')}}</strong></p>
									</td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Student</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.userInstrumentGrade|split("-")[0]|upper}}</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Theory Grade</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.userInstrumentGrade|split("-")[1]|upper}} {{session.userInstrumentGrade.grade.name|upper}}</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Lesson Duration</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.package.duration}} MINUTES</p></td>
									</tr>
									<tr>
										<td width="141">
											<p><strong>Name of Tutor</strong></p>
										</td>
										<td colspan="2" width="489"><p>{{session.teacher.fullname|upper}}</p></td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Time Values</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="timevalues" name="timevalues" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.timevalues == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.timevalues == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.timevalues == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.timevalues == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.timevalues == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Bar-lines and time signatures</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="barlinesntimesig" name="barlinesntimesig" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.barlinesntimesig == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.barlinesntimesig == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.barlinesntimesig == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.barlinesntimesig == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.barlinesntimesig == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Notes on the Stave</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="notesonstave" name="notesonstave" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.notesonstave == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.notesonstave == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.notesonstave == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.notesonstave == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.notesonstave == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Rests, Ties and Dots</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="resttiesndots" name="resttiesndots" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.resttiesndots == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.resttiesndots == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.resttiesndots == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.resttiesndots == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.resttiesndots == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>The scales and key signatures</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="scalesnkeysig" name="scalesnkeysig" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.scalesnkeysig == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.scalesnkeysig == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.scalesnkeysig == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.scalesnkeysig == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.scalesnkeysig == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Degrees of the scale and intervals</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="degreesnintervals" name="degreesnintervals" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.degreesnintervals == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.degreesnintervals == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.degreesnintervals == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.degreesnintervals == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.degreesnintervals == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>The Tonic Triad</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="tonictriads" name="tonictriads" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.tonictriads == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.tonictriads == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.tonictriads == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.tonictriads == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.tonictriads == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Cadences</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="cadences" name="cadences" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.cadences == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.cadences == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.cadences == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.cadences == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.cadences == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="2" width="440">
											<p>Performance Directions</p>
										</td>
										<td style="padding-left:2px; padding-right:2px;" width="190">
                                            <select id="perfdirections" name="perfdirections" class="form-control">
                                                <option value="">Select Grade</option>
                                                <option {{report is not null and report.perfdirections == 'A' ? 'selected' :  ''}} value="A">Excellent (A)</option>
                                                <option {{report is not null and report.perfdirections == 'B' ? 'selected' :  ''}} value="B">Good (B)</option>
                                                <option {{report is not null and report.perfdirections == 'C' ? 'selected' :  ''}} value="C">Satisfactory (C)</option>
                                                <option {{report is not null and report.perfdirections == 'D' ? 'selected' :  ''}} value="D">Needs Improvement (D)</option>
                                                <option {{report is not null and report.perfdirections == 'NA' ? 'selected' :  ''}} value="NA">Not Applicable (NA)</option>
                                            </select>
                                        </td>
									</tr>
									<tr>
										<td colspan="3" width="631">
                                            <span style="margin:5px; margin-top:10px;"><strong>COMMENTS</strong></span>
                                            <textarea id="comments" name="comments" placeholder="Write your comments here" class="form-control" rows="3">{{report is not null and report.comments != "" ? report.comments : ''}}</textarea>
                                        </td>
									</tr>
								</tbody>
							</table>
                            <input type="hidden" name="student_id" value="{{report is null ? session.student.id : session.student.id}}">
                            <input type="hidden" name="teacher_id" value="{{report is null ? session.teacher.id : session.teacher.id}}">
                            <input type="hidden" name="uig_id" value="{{report is null ? session.userInstrumentGrade.id : report.uig.id}}">
                            <input type="hidden" name="term_id" value="{{report is null ? currentTerm.id : report.term.id}}">
                            <input type="hidden" name="report_id" value="{{report is null ? 0 : report.id}}">
                          </form>
						<p>Key: <strong>A</strong>- Excellent <strong>B</strong>- Good <strong>C</strong>- Satisfactory <strong>D</strong>-Needs Improvement <strong>NA</strong>-Not Applicable (NA)</p>
                        <button type="button" id="save-report-{{report is null ? 0 : report.id}}-{{report is null ? currentTerm.id : report.term.id}}" class="btn btn-primary">Save Report</a>
					</div>
                </div>
                
            </div>
